<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Fecha</th>
				<th>Comprobante</th>
				<th>Días</th>
				<th>Observación</th>
				<th class="text-danger">Debe</th>
				<th class="text-success">Haber</th>
				<th>Saldo</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		<% @account_movements.each do |am| %>
		    <tr>
		    	<td><%= l(am.created_at, format: :only_date) %></td>
		    	<td><%= am.comprobante %></td>
		    	<td><%= am.days %></td>
		    	<td><%= am.observation %></td>
		    	<td class="text-danger"><%= "$#{am.total}" unless !am.debe %></td>
		    	<td class="text-success"><%= "$#{am.total}" unless !am.haber %></td>
		    	<td>$<%= am.saldo %></td>
		    	<td>
		    		<%= link_to icon('fas', 'trash'), client_account_movement_path(@client.id, am.id), method: :delete, data: {confirm: "Se eliminaran los pagos asociados a este recibo ¿desea continuar?"}, class: 'btn btn-sm btn-icon btn-outline-secondary' unless am.receipt_id.nil? %>
		    	</td>
		    </tr>
		<% end %>
		</tbody>
	</table>
</div>

<%= paginate @account_movements %>