<div class="p-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
    <h1 class="h2">
      Cta. Cte. - <strong><%= @client.name %></strong>
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group">
        <%= button_tag "#{icon('fas', 'file-excel')} Exportar".html_safe, type: 'button', class: 'btn btn-sm btn-outline-secondary', data: {toggle: 'modal', target: '#exportModal'}  %>
      </div>
    </div>
  </div>
  <%= button_new_helper(new_receipt_path(client_id: @client.id)) %>
  <div class="page-section">
      <div class="card card-fluid">
          <div class="card-header">
            <%= form_tag client_account_movements_path(@client.id), {class: 'form-inline', id: 'search_form'} do %>
                <!-- BUSCAR POR CLIENTE -->
                <%= label_tag :cbte_tipo, "Tipo de comprobante", class: 'sr-only' %>
                <div class="input-group col">
                  <div class="input-group-prepend">
                      <div class="input-group-text"><%= icon('fas', 'search') %></div>
                  </div>
                  <%= select_tag :cbte_tipo, options_for_select(AccountMovement::COMP_TIPO,[:cbte_tipo]), {prompt: "Todos...", class: 'form-control', placeholder: 'Buscar por tipo de comprobante', onchange: 'remoteSubmit("#search_form")'} %>
                </div>
                <!-- BUSCAR POR CLIENTE -->

                <!-- BUSCAR POR TIPO DE COMPROBANTE -->
                <%= label_tag :created_at, "Documento", class: 'sr-only' %>
                <div class="input-group col">
                  <div class="input-group-prepend">
                      <div class="input-group-text"><%= icon('fas', 'calendar') %></div>
                  </div>
                  <%= text_field_tag :from, params[:from], class: 'form-control datepicker', placeholder: 'Fecha desde...', onchange: 'remoteSubmit("#search_form")' %>
                  <%= text_field_tag :to, params[:to], class: 'form-control datepicker', placeholder: 'Fecha hasta...', onchange: 'remoteSubmit("#search_form")' %>
                </div>
                <!-- BUSCAR POR TIPO DE COMPROBANTE -->
            <% end %>
          </div>
          <div class="card-body">
            <h5><strong>Saldo:</strong> $<%= @client.saldo %></h5>
            <h6><strong>Disponible para asignar:</strong> $<%= AccountMovement.sum_available_amount_to_asign(@client.id) %></h6>
            <div id="account_movements_table">
              <%= render 'account_movements_table' %>
            </div>
          </div>
      </div>
  </div>
</div>

<%= render 'export' %>
