<div class="modal-body">
	<div class=" mb-4">
		<ul class="list-group">
          	<li class="list-group-item d-flex justify-content-between lh-condensed">
            	<div>
              		<strong class="my-0">
                		Nombre:
              		</strong>
            	</div>
            	<span><%= @card_payment.credit_card.name %></span>
          	</li>
          	<li class="list-group-item d-flex justify-content-between lh-condensed">
            	<div>
              		<strong class="my-0">
                		Monto:
              		</strong>
            	</div>
            	<span>$<%= @card_payment.subtotal %></span>
          	</li>
          	<li class="list-group-item d-flex justify-content-between lh-condensed">
            	<div>
              		<strong class="my-0">
                		Cuotas:
              		</strong>
            	</div>
            	<span><%= @card_payment.fee.quantity %></span>
          	</li>
          	<li class="list-group-item d-flex justify-content-between lh-condensed">
            	<div>
              		<strong class="my-0">
                		Intereses (%):
              		</strong>
            	</div>
            	<span><%= @card_payment.interest_rate_percentage %>%</span>
          	</li>
          	<li class="list-group-item d-flex justify-content-between lh-condensed">
            	<div>
              		<strong class="my-0">
                		Intereses ($):
              		</strong>
            	</div>
            	<span>$<%= (@card_payment.total - @card_payment.subtotal).round(2) %></span>
          	</li>
          	<li class="list-group-item d-flex justify-content-between lh-condensed">
            	<div>
              		<strong class="my-0">
                		Total:
              		</strong>
            	</div>
            	<span>$<%= @card_payment.total %></span>
          	</li>
          	<li class="list-group-item d-flex justify-content-between lh-condensed">
            	<div>
              		<strong class="my-0">
                		Fecha:
              		</strong>
            	</div>
            	<span><%= @card_payment.payment.payment_date %></span>
          	</li>
          	<li class="list-group-item d-flex justify-content-between lh-condensed">
            	<div>
              		<strong class="my-0">
                		Generado por:
              		</strong>
            	</div>
            	<span><%= @card_payment.generator_name %></span>
          	</li>
        </ul>
    </div>


		<!-- >>>>>>>>>>>>>>>>>>>>>>>>   DOCUMENTO ASOCIADO    <<<<<<<<<<<<<<<<<<<<<<<  -->

			<% @payment = @card_payment.payment %>

			<%= render "/payments/associated_document" %>

		<!-- >>>>>>>>>>>>>>>>>>>>>>>>  FIN DOCUMENTO ASOCIADO    <<<<<<<<<<<<<<<<<<<<<<<  -->

	</div>
</div>
