<% if not @services.empty? %>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Código</th>
					<th>Servicio</th>
					<th>Categoría</th>
					<th>Precio</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @services.each do |service| %>
					<tr>
						<td><%= service.code %></td>
						<td><%= service.name %></td>
						<td><%= service.category_name %></td>
						<td><%= service.price %></td>
						<td><%= button_tag icon('fas', 'check-square').html_safe, type: 'button', class: 'btn btn-sm btn-icon btn-outline-secondary', onclick: "setProduct(#{service.attributes.to_json}, #{params[:index_id]}, $(this).closest('tr').find('.depot').val())" %></td>
					</tr>
				<% end -%>
			</tbody>
		</table>
	</div>

<%= paginate @services %>

<% else %>
  <center><h1>¡Todavia no cargaste ningún servicio!</h1></center>
<% end %>
