<% if not @services.empty? %>
	<div class="row d-flex align-items-stretch">
		<% @services.each do |service|%>
		<div class="col-xs-12 col-md-6 col-lg-4 mb-4">
			<div class="card card-shadow" style="height:100%;">
				<%= link_to service_path(service.id) do %>
				<div class="card-div-img-top" style="background: url('<%= service.photo %>')">
				</div>
				<div class="card-body">
					<center>
						<h5 class="card-title"><%= service.name %></h5>
						<p class="card-text text-muted"><%= service.category_name %></p>
						<p class="card-text"><strong><span class="green">$ <%= number_with_delimiter(service.price) %></span></strong></p>
					</center>
				</div>
				<% end -%>
			</div>
		</div>

		<% end %>
	</div>
	<%= paginate @services %>

<% else %>
  <center><h1>¡Todavia no cargaste ningún servicio!</h1></center>
<% end %>
