<div class="p-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
    <h1 class="h2">Servicios</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <!-- Categorias -->
          <%= link_to "#{icon('fas', 'list')} Categorías".html_safe, product_categories_path, class: 'btn btn-secondary', title: "Vea las categorías disponibles de los servicios." %>
        <!-- Categorias -->
        <!-- Importar y exportar servicios -->
          <%= link_to "#{icon('fas','download')} Exportar".html_safe, export_services_path(format: :xlsx), class: 'btn btn-sm btn-outline-secondary', title: 'Exportar servicios a una hoja de cálculo' %>
          <%= link_to "#{icon('fas','upload')} Importar".html_safe, "#", class: 'btn btn-sm btn-outline-secondary', title: 'Importar servicios desde una hoja de cálculo', data:{toggle: 'modal', target: '#importModal'} %>
        <!-- Importar y exportar servicios -->
      </div>
    </div>
  </div>

  <% if can? :create, Service %>
    <%= button_new_helper(new_service_path()) %>
  <% end %>

  <div class="page-section">
    <div class="card card-fluid">
      <div class="card-header">
        <!-- Buscador de servicios -->
          <%= form_tag services_path(), {class: 'form-inline', id: 'search_form'} do %>
              <!-- BUSCAR POR NOMBRE -->
              <%= label_tag :name, "Nombre", class: 'sr-only' %>
              <div class="input-group col">
                <div class="input-group-prepend">
                  <div class="input-group-text"><%= icon('fas', 'cubes') %></div>
                </div>
                <%= text_field_tag :name, params[:name], class: 'form-control', placeholder: 'Buscar por nombre', onkeyup: 'remoteSubmit("#search_form")' %>
              </div>
              <!-- BUSCAR POR NOMBRE -->

              <!-- BUSCAR POR CÓDIGO -->
              <%= label_tag :code, "Código", class: 'sr-only' %>
              <div class="input-group col">
                <div class="input-group-prepend">
                  <div class="input-group-text"><%= icon('fas', 'barcode') %></div>
                </div>
                <%= text_field_tag :code, params[:code], class: 'form-control', placeholder: 'Buscar por código', onkeyup: 'remoteSubmit("#search_form")' %>
              </div>
              <!-- BUSCAR POR CÓDIGO -->

              <!-- BUSCAR POR CATEGORÍA -->
              <%= label_tag :category, "Categoría", class: 'sr-only' %>
              <div class="input-group col">
                <div class="input-group-prepend">
                  <div class="input-group-text"><%= icon('fas', 'clipboard-list') %></div>
                </div>
                <%= select_tag :category, options_for_select( ProductCategory.all.map { |c| [c.name, c.id] }, params[:category] ),{class: 'form-control', prompt: "Todos" , onchange: 'remoteSubmit("#search_form"); clearPagination();'} %>
                <%# text_field_tag :category, params[:category], class: 'form-control', placeholder: 'Buscar por categoría', onkeyup: 'remoteSubmit("#search_form")' %>
              </div>
            <!-- BUSCAR POR CATEGORÍA -->
          <% end %>
        <!-- Buscador de servicios -->
      </div>
      <div class="card-body">
        <!-- Tabla de Servicios -->
          <div id="services_table">
            <%= render 'services_table' %>
          </div>
        <!-- Tabla de Servicios -->
      </div>
    </div>
  </div>

</div>

<%= render 'import' %>
