<%= render '/payments/shared_builder' %>

<%= @builder.fields_for :compensation_payment, @payment.blank? ? CompensationPayment.new(payment_id: @builder.object.id) : @payment.compensation_payment do |cpf| %>

<div class="form-group">
  <%= cpf.label :concept, "Concepto" %>
  <%= cpf.text_field :concept, class: 'form-control subpayment_concept', requried: true, autocomplete: "off" %>
</div>

<div class="form-group">
  <%= cpf.label :total, "Total ($)" %>
  <%= cpf.number_field :total, step: :any, class: 'form-control subpayment_total', required: true, placeholder: "$", min: 0 %>
</div>

<div class="form-group">
  <%= cpf.label :asociatedClientInvoice, "Factura asociada del proveedor" %>
  <%= cpf.text_field :asociatedClientInvoice, class: 'form-control subpayment_asociatedClientInvoice', requried: true, autocomplete: "off" %>
  <%= cpf.hidden_field :client_id, value: @compensation_client_id %>
</div>

<div class="form-group">
  <%= cpf.label :observation, "Observaciones" %>
  <%= cpf.text_field :observation, class: 'form-control subpayment_observation', requried: true, autocomplete: "off" %>
</div>

<% end -%>
