<div class="modal-body">
	<div class="card-shadow mb-4">
		<ul class="list-group">
    	<li class="list-group-item d-flex justify-content-between lh-condensed">
      	<div>
        		<strong class="my-0">
          		Total:
        		</strong>
      	</div>
      	<span>$<%= @compensation_payment.total %></span>
    	</li>
    	<li class="list-group-item d-flex justify-content-between lh-condensed">
      	<div>
        		<strong class="my-0">
          		Fecha:
        		</strong>
      	</div>
      	<span><%= @compensation_payment.payment.payment_date %></span>
    	</li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
      	<div>
        		<strong class="my-0">
          		Concepto:
        		</strong>
      	</div>
      	<span><%= @compensation_payment.concept %></span>
    	</li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
            <strong class="my-0">
              Factura del proveedor asociada:
            </strong>
        </div>
        <span><%= @compensation_payment.asociatedClientInvoice %></span>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
      	<div>
        		<strong class="my-0">
          		Observación:
        		</strong>
      	</div>
      	<span><%= @compensation_payment.observation %></span>
    	</li>
    	<li class="list-group-item d-flex justify-content-between lh-condensed">
      	<div>
        		<strong class="my-0">
          		Generado por:
        		</strong>
      	</div>
      	<span><%= @compensation_payment.generator_name %></span>
    	</li>
  </ul>
</div>

<!-- >>>>>>>>>>>>>>>>>>>>>>>>   DOCUMENTO ASOCIADO    <<<<<<<<<<<<<<<<<<<<<<<  -->

	<% @payment = @compensation_payment.payment %>

	<%= render "/payments/associated_document" %>

<!-- >>>>>>>>>>>>>>>>>>>>>>>>  FIN DOCUMENTO ASOCIADO    <<<<<<<<<<<<<<<<<<<<<<<  -->

</div>
