<div class="modal-body">
	<div class="card-shadow mb-4">
		<ul class="list-group">
    	<li class="list-group-item d-flex justify-content-between lh-condensed">
      	<div>
        		<strong class="my-0">
          		Total:
        		</strong>
      	</div>
      	<span>$<%= @compensation_payment.total %></span>
    	</li>
    	<li class="list-group-item d-flex justify-content-between lh-condensed">
      	<div>
        		<strong class="my-0">
          		Fecha:
        		</strong>
      	</div>
      	<span><%= @compensation_payment.payment.payment_date %></span>
    	</li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
      	<div>
        		<strong class="my-0">
          		Concepto:
        		</strong>
      	</div>
      	<span><%= @compensation_payment.concept %></span>
    	</li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
      	<div>
        		<strong class="my-0">
          		Observación:
        		</strong>
      	</div>
      	<span><%= @compensation_payment.observation %></span>
    	</li>
    	<li class="list-group-item d-flex justify-content-between lh-condensed">
      	<div>
        		<strong class="my-0">
          		Generado por:
        		</strong>
      	</div>
      	<span><%= @compensation_payment.generator_name %></span>
    	</li>
  </ul>
</div>
<div class="card-shadow mb-4">
    <hr>
    <div class="m-4">
      <p class="text-muted">Factura asociada</p>
      <ul class="list-unstyled rounded">
        	<li class="media">
          	<img class="mr-3" src="/images/invoice.png" alt="Factura">
          	<div class="media-body">
            		<h5 class="mt-0 mb-1"><%= @invoice.nombre_comprobante %> a <%= @invoice.client_name %></h5>
            		<strong>Nº:</strong> <%= @invoice.full_number %><br>
            		<strong>Tipo:</strong> <%= @invoice.tipo %><br>
            		<strong>Estado:</strong> <%= invoice_state(@invoice.state) %><br>
            		<i><%= icon('fas', 'clock') %> <%= @invoice.cbte_fch %></i><br>
          	</div>
        	</li>
        	<li>
          	<div class="row">
            		<div class="col-md-9" style="padding: 5px 0px 0px 15px;">
                		<h5>Total: <span class="text-info">$<%= @invoice.total %></span></h5>
            		</div>
            		<div class="col-md-3 float-right">
                	<div class="row">
                  		<%  if !@invoice.editable? %>
                    		<%= link_to icon('fas', 'eye').html_safe, invoice_path(@invoice.id, format: :pdf), target: '_blank', class: 'btn btn-link' %>
                  		<% end %>
                  		<%= link_to icon('fas', 'pencil-alt').html_safe, edit_invoice_path(@invoice.id), class: 'btn btn-link' %>
                  		<%  if @invoice.editable? %>
                    		<%= link_to icon('fas', 'trash').html_safe, @invoice, method: :delete, data: { confirm: '¿Está seguro?' }, class: 'btn btn-link' %>
                  		<% end -%>
                	</div>
              	</div>
          	</div>
        	</li>
      </ul>
  </div>
</div>
