<%= nested_form_for @purchase_order do |form| %>
  <%= error_explanation @purchase_order %>

  <p class="text-muted h5">Datos del comprobante</p>
  <div class="card ">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4 form-group">
          <%= label_tag :number, "Número de órden" %>
          <%= text_field_tag :number, @purchase_order.number || "Generado automaticamente", class: 'form-control', disabled: true %>
        </div>
        <div class="col-4 form-group">
          <%= form.label :supplier_id, "Proveedor" %>
          <%= form.select :supplier_id, current_company.suppliers.map{|s| [s.name, s.id]}, { prompt: "Seleccione..." }, { class: 'form-control', required: true, disabled: !@purchase_order.editable? } %>
        </div>
        <div class="col-4 form-group">
          <%= label_tag :suppplier_phone, "Contacto" %>
          <%= text_field_tag :suppplier_phone, form.object.supplier.try(:phone), class: 'form-control', readonly: true %>
        </div>
        <div class="col-4 form-group">
          <%= label_tag :supplier_email, "E-mail" %>
          <%= text_field_tag :supplier_email, form.object.supplier.try(:email), class: 'form-control', readonly: true %>
        </div>

        <div class="col-4 form-group">
          <%= form.label :budget, "Presupuesto adjunto" %>
          <%= form.file_field :budget, class: 'btn btn-secondary btn-sm w-100', disabled: !@purchase_order.editable? %>
        </div>
        <div class="col-4 form-group">
          <%= form.label :date, "Fecha" %>
          <%= form.text_field :date, class: 'form-control datepicker', value: @purchase_order.date || Date.today, required: true, disabled: !@purchase_order.editable? %>
        </div>

        <div class="col-4 form-group">
          <%= label_tag :state, "Estado" %>
          <div class="h4 text-center">
            <%= po_state_label_helper(@purchase_order) %>
          </div>
        </div>
        <div class="col-4 form-group">
          <%= form.label :shipping, "¿Incluye transporte?" %>
          <div class="row">
            <div class="col-4 text-center">
              <%= form.check_box :shipping, data:{toggle: 'toggle', on: "Si", off: "No"}, class: 'toggle', disabled: !@purchase_order.editable? %>
            </div>
            <div class="col-8">
              <%= form.number_field :shipping_cost, class: 'form-control', placeholder: "Precio del transporte", style: "display: #{@purchase_order.shipping ? 'block' : 'none'};", disabled: !@purchase_order.editable? %>
            </div>
          </div>
        </div>
        <div class="col-4 form-group">
          <%= form.label :total %>
          <%= form.text_field :total, class: 'form-control', readonly: true %>
        </div>
      </div>

      <div class="text-center">
        <% if @purchase_order.confirmado? %>
          <%= link_to "#{icon('fas', 'file-pdf')} PDF".html_safe, purchase_order_path(purchase_order.id, format: :pdf), class: 'btn btn-primary my-5' %>
          <%= link_to "#{icon('fas', 'eraser')} Anular".html_safe, cancel_purchase_order_path(purchase_order.id), class: 'btn btn-danger my-3' %>
          <%= button_tag "#{icon('fas', 'envelope')} Enviar".html_safe, type: 'button', class: 'btn btn-info my-3', data:{ toggle: 'modal', target: '#sendMailModal'} %>
        <% end %>
        <%= button_tag "#{icon('fas', 'check')} Confirmar".html_safe, type: :submit, name: :confirm, value: :true, class: 'btn btn-success my-3' if @purchase_order.pendiente? && @purchase_order.persisted? %>
      </div>

    </div>
  </div>

  <%= render template: '/purchases/purchase_orders/details/index.html.erb', locals:{form: form} %>

  <%= render '/purchases/purchase_orders/details/search_product' %>

  <div class="text-center">
    <%= save_button_danger if @purchase_order.editable? %>
  </div>

  <%= render_modal_lg %>
<% end %>

<%= render 'send_mail' if @purchase_order.confirmado? %>
