<h3 class="d-flex mb-2">
    <div class="p-2">
      	Pagos
    </div>
    <div class="ml-auto p-2">
      	<% if @purchase_order.editable? %>
        	<%= form.link_to_add "#{icon('fas', 'plus')} <span class='only-desktop'>Agregar pago</span>".html_safe, :expense_payments, class: 'btn btn-success', data: {target: '#payments'}%>
      	<% end %>
    </div>
</h3>
<div class="table-responsive-sm">
	<table class="table table-striped purchase_order-table" id="payments" style="width: 100%;">
		<thead>
			<tr>
				<th scope="col">Tipo de pago</th>
				<th scope="col">Monto</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<%= form.fields_for :expense_payments, wrapper: false do |f| %>
		      	<tr class="fields">
		      		<td><%= f.select :type_of_payment, Payment::TYPES.map{|k,v| [v,k]}, {}, {class: 'form-control form-control-sm', style: 'min-width: 100px;', disabled: !@purchase_order.editable?} %></td>
		      		<td class="popup">
						<%= f.number_field :total, class: 'form-control form-control-sm amount', default: 0.0, disabled: !@purchase_order.editable? %>
				    	<span class="popuptext" id="myPopup">Esta intentando pagar un monto superior.</span>
					</td>
		      		<td>
		      			<% if @purchase_order.editable? %>
		      				<%= f.link_to_remove icon('fas', 'trash') %>
		      			<% end %>
		      		</td>
		     	</tr>
		    <% end %>
		</tbody>
	</table>
</div>