<%= form_with(model: product, local: true, class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host}) do |f| %>
  <%= error_explanation @product %>

  <p class="text-muted mb-1">Selecciona una imágen para el producto</p>
  <div class="mb-4 text-center">
    <div class="comp_container caption captionload">
      <img src="/images/load.gif" width="100%">
    </div>
    <img src="<%= @product.photo %>" alt="Foto de portada de producto" id="image"  width="200px" style="border-radius: 50%; ">
    <div hidden>
      <%= f.file_field :photo, :class => 'form-control', id: 'file_input' %>
    </div>
  </div>

  <p class="text-muted mb-1">Completa los datos principales del producto</p>
  <div class="card mb-4 ">
    <div class="card-body">
      <div class="row">
        <div class="form-group col-md-8">
          <%= f.label :name, "Nombre*" %>
          <%= f.text_field :name, :class => 'form-control', required: true %>
        </div>
        <div class="form-group col-md-4">
          <%= f.label :code, "Código interno*" %>
          <%= f.text_field :code, :class => 'form-control', required: true %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :supplier_id, "Proveedor" %>
          <div class="input-group mb-3" id="supplier">
            <%= f.select :supplier_id, current_user.company.suppliers.all.map{|pc| [pc.name, pc.id]}, { include_blank: "Seleccione..." }, { :class => 'form-control' } %>
            <div class="input-group-append">
              <%= link_to icon('fas', 'plus'), new_supplier_path(), data:{ remote: true, toggle: 'modal', target: '#supplier_modal'}, class: 'btn btn-outline-success' %>
            </div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :supplier_code, "Código de provedor" %>
          <%= f.text_field :supplier_code, :class => 'form-control' %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :measurement_unit, "Medida" %>
          <div class="input-group mb-3">
            <%= f.text_field :measurement, :class => 'form-control', value: "1" %>
            <div class="input-group-append">
              <%= f.select :measurement_unit, Product::MEASUREMENT_UNITS.map{|k,v| [v, k]},{ prompt: "Seleccione..."}, class: ' form-control input-group-text' %>
            </div>
          </div>
        </div>



        <div class="form-group col-md-4">
          <%= f.label :product_category_id, "Categoría" %>
          <div class="input-group mb-3" id="category">
            <%= f.select :product_category_id, current_user.company.product_categories.all.order("name ASC").map{|pc| [pc.name, pc.id]}, {include_blank: "Seleccione..."}, {:class => 'form-control'} %>
            <div class="input-group-append p-0">
              <%= link_to icon('fas', 'plus'), new_product_category_path(), data:{remote: true, toggle: 'modal', target: '#product_category_modal'}, class: 'btn btn-outline-success' %>
            </div>
          </div>
        </div>



        <div class="form-group col-md-4">
          <%= f.label :minimum_stock, "Stock mínimo" %>
          <%= f.number_field :minimum_stock, class: 'form-control' %>
        </div>
        <div class="form-group col-md-4">
          <%= f.label :recommended_stock, "Stock recomendado" %>
          <%= f.number_field :recommended_stock, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>

  <p class="text-muted mb-1">Ingresa los valores de venta para este producto</p>
  <div class="card mb-4 ">
    <div class="card-body">
      <div class="row">
        <div class="form-group col-md-6">
          <%= f.label :cost_price, "Precio de costo*" %>
          <%= f.number_field :cost_price, :class => 'form-control', step: '.01', min: 0, required: true %>
        </div>

        <div class="form-group col-md-6">
          <%= f.label :gain_margin, "Márgen de ganancia (%)*" %>
          <%= f.number_field :gain_margin, :class => 'form-control', step: '.01', min: 0, required: true %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :net_price, "Precio bruto*" %>
          <%= f.number_field :net_price, :class => 'form-control', step: '.01', min: 0, required: true %>
        </div>
        <div class="form-group col-md-4">
          <%= f.label :iva_aliquot, "Alícuota de IVA" %>
          <%= f.select :iva_aliquot, Afip::ALIC_IVA.map{|iva, id| [id, iva]}, {prompt: "Seleccione..."}, {class: 'form-control', required: true} %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :price, "Precio final*" %>
          <%= f.number_field :price, :class => 'form-control', required: true, step: '.01', min: 0 %>
        </div>
      </div>
    </div>
  </div>


  <div class="text-center">
    <%= save_button %>
  </div>
<% end %>

<div class="modal fade bd-example-modal-lg" id="product_category_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="product_category_form">
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="supplier_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="supplier_form">
      </div>
    </div>
  </div>
</div>
