<% if not @products.empty? %>
<div class="row d-flex align-items-stretch">
  <% @products.each do |product|%>
  <div class="col-12 col-md-6 col-lg-4 mb-4">
    <div class="card " style="height:100%;">
      <%= link_to product_path(product.id) do %>
      <br>
      <div class="card-div-img-top" style="background: url('<%= product.photo %>')"></div>
      <div class="card-body">
        <center>
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text text-muted"><%= product.category_name %></p>
        </center>

        <table style="width: 100%"> <!--  Tabla para alinear horizontalmente precio y botón eliminar -->
          <tr>
            <td style="width: 33%;"></td>
            <td style="width: 34%">
              <center>
                <p class="card-text"><strong><span class="green">$ <%= number_with_delimiter(product.price) %></span></strong></p>
              </center>
            </td>
            <td style="width: 33%;">
              <center>
                <%= link_to icon('fas', 'trash').html_safe, product , method: :delete,data: { confirm: '¿Está seguro?' }, class: 'btn btn-sm btn-icon btn-outline-secondary' %>
              </center>
            </td>
          </tr>
        </table>

      </div>
      <% end -%>
    </div>
  </div>
  <% end %>
</div>
<%= paginate @products %>

<% else %>
  <center><h1>¡No hay productos disponibles!</h1></center>
<% end %>
