<div class="p-4">
  <%= title_helper "Productos: Actualización Múltiple" %>

  <%= form_tag update_multiple_products_path, method: :put do %>
    <div class="d-flex justify-content-center">
      <div class="col-12 col-sm-8 col-md-6 col-lg-6">
        <h5 class="text-muted">Productos seleccionados</h5>
        <div class="card">
          <div class="card-body">
            <ul class="list-unstyled">
              <% @products.each do |product| %>
              <li>
                <%= hidden_field_tag "product_ids[]", product.id %>
                <%= product.code + " - " + product.name + " - " + product.category_name %>
                <span class="float-right">
                  <strong>
                    <%= number_to_ars product.price %>
                  </strong>
                </span>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <% if @products.first.errors.any? %>
    <h5 class="text-muted">Errores al actualizar</h5>
    <ul class="text-center list-unstyled">
      <% @products.first.errors.full_messages.each do |msg| %>
      <li style="color:red"><%= msg %></li>
      <% end %>
    </ul>
    <% end %>

    <div class="d-flex justify-content-center">
      <div class="col-12 col-sm-8 col-md-6 col-lg-6">
        <h5 class="text-muted">Elementos a actualizar</h5>
        <div class="card">
        <div class="card-body">
          <%= fields_for :product do |f| %>
          <div class="form-row">
            <div class="form-group">
              <p class="text-muted">Para realizar modificaciones de precio porcentuales puede utilizar el signo % como caracter final. Ejemplo: '-10%' reduce los valores de los productos en un 10%.</p>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group w-100">
              <%= f.label :price_modification, "Precio final" %>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <%= f.text_field :price_modification, value: params[:price_modification], :class => 'form-control text-right', step: '.01' %>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group w-100">
              <%= f.label :active, "Inhabilitar producto?" %>
              <%= f.select :active, [["Sí", false], ["No", true]], { include_blank: "Mantener estado" }, class: 'form-control' %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      </div>
    </div>
    <center>
      <%= submit_tag "Guardar", class: 'btn btn-primary' %>
    </center>
  <% end %>
</div>
