<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Tipo</th>
      <th scope="col">Banco</th>
      <th scope="col">Total</th>
      <th scope="col">Fecha</th>
      <th scope="col">Flujo</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @bank_movements.each do |movement| %>
      <tr>
        <td><%= movement.tipo %></td>
        <td><%= movement.bank.name %></td>
        <td>$<%= movement.total %></td>
        <td><%= l(movement.payment.payment_date) %></td>
        <td><%= flow_type(movement.payment.flow) %></td>
        <td>
          <% if movement.type_of_payment == "3" %>
            <%= link_to icon('fas', 'eye').html_safe,  payments_bank_payment_path(movement.bank_payment, invoice_id: movement.invoice_id), data:{toggle: 'modal', target: '#showModal', remote: true}, class: 'btn btn-sm btn-icon btn-outline-secondary' %>
            <%= link_to icon('fas', 'edit').html_safe, edit_payments_bank_payment_path(movement.bank_payment.id), data:{toggle: 'modal', target: '#editModal', remote: true}, class: 'btn btn-sm btn-icon btn-outline-secondary' %>
            <%= link_to icon('fas', 'trash').html_safe, payments_bank_payment_path(movement.bank_payment), method: :delete, class: 'btn btn-sm btn-icon btn-outline-secondary', data: {confirm: "Esta por realizar una acción destructiva. ¿Desea continuar?"} %>
          <% else %>
          <%= link_to icon('fas', 'eye').html_safe,  payments_debit_payment_path(movement.debit_payment, invoice_id: movement.invoice_id), data:{toggle: 'modal', target: '#showModal', remote: true}, class: 'btn btn-sm btn-icon btn-outline-secondary' %>
          <%= link_to icon('fas', 'edit').html_safe, edit_payments_debit_payment_path(movement.debit_payment.id), data:{toggle: 'modal', target: '#editModal', remote: true}, class: 'btn btn-sm btn-icon btn-outline-secondary' %>
          <%= link_to icon('fas', 'trash').html_safe, payments_debit_payment_path(movement.debit_payment), method: :delete, class: 'btn btn-sm btn-icon btn-outline-secondary', data: {confirm: "Esta por realizar una acción destructiva. ¿Desea continuar?"} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @bank_movements %>
