<div class="modal-body">
	<div class="bank-shadow mb-4">
		<ul class="list-group">
          	<li class="list-group-item d-flex justify-content-between lh-condensed">
            	<div>
              		<strong class="my-0">
                		Banco:
              		</strong>
            	</div>
            	<span><%= @bank_payment.bank.name %></span>
          	</li>
          	<li class="list-group-item d-flex justify-content-between lh-condensed">
            	<div>
              		<strong class="my-0">
                		Total:
              		</strong>
            	</div>
            	<span>$<%= @bank_payment.total %></span>
          	</li>
          	<li class="list-group-item d-flex justify-content-between lh-condensed">
            	<div>
              		<strong class="my-0">
                		Fecha:
              		</strong>
            	</div>

            	<span><%= @bank_payment.payment.payment_date %></span>
          	</li>
          	<li class="list-group-item d-flex justify-content-between lh-condensed">
            	<div>
              		<strong class="my-0">
                		Generado por:
              		</strong>
            	</div>
            	<span><%= @bank_payment.generator_name %></span>
          	</li>
        </ul>
    </div>

		<!-- >>>>>>>>>>>>>>>>>>>>>>>>   DOCUMENTO ASOCIADO    <<<<<<<<<<<<<<<<<<<<<<<  -->

			<% @payment = @bank_payment.payment %>

			<%= render "/payments/associated_document" %>

		<!-- >>>>>>>>>>>>>>>>>>>>>>>>  FIN DOCUMENTO ASOCIADO    <<<<<<<<<<<<<<<<<<<<<<<  -->



</div>
