<p class="text-bold h3">Descuentos</p>
<div id="div_ibonifications" class="card mb-5">
  <div class="card-body">
    <div class="row">
      <div class="table-responsive">
        <table class="table table-striped invoice-table" id="bonifications" style="width: 100%;">
          <thead>
            <tr>
              <th style="width: 40%">Descripción</th>
              <th>Alícuota(%)</th>
              <th>Descuento</th>
              <th>SUBTOTAL</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= form.fields_for :bonifications, wrapper: false do |f| %>
            <tr class="fields">
              <td><%= f.text_field :observation, class: 'form-control form-control-sm bonif_observation', disabled: invoice.confirmado? %></td>
              <td>
                <%= f.number_field :percentage, class: 'form-control form-control-sm bonif_percentage text-right', disabled: invoice.confirmado?, step: :any, min: 0, max: 50 %>
              </td>
              <td>
                <%= f.number_field :amount, class: 'form-control form-control-sm bonif_amount text-right', readonly: true, step: :any %>
              </td>
              <td>
                <%= f.number_field :subtotal,class: 'form-control form-control-sm bonif_subtotal text-right', readonly: true, step: :any %>
              </td>
              <td><%= f.link_to_remove icon('fas', 'trash') if invoice.editable? %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="m-2 text-center">
    <%= form.link_to_add "#{icon('fas', 'plus')} Agregar descuento".html_safe, :bonifications, class: 'btn btn-outline-success', data: {target: '#bonifications'}, id: 'bonifications_add_button' if invoice.editable? %>
  </div>
  <!-- <div class="resume text-right">
    <h5 class="important-number">Total descuentos: -$<span class="total_bonifications">0.00</span></h5>
  </div> -->
</div>
</div>
