  <div class="table-responsive">
    <table class="table table-hover table-row-bordered">
      <thead>
        <tr>
          <th>Nº</th>
          <th>Cliente</th>
          <th>Emisión</th>
          <th>Tipo</th>
          <th>Faltante</th>
          <th>TOTAL</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @invoices.unassociated_invoices.each do |invoice| %>
          <tr class="<%= bordered_invoice_by_state(invoice.state) %>">
            <td><%= link_to "#{invoice.full_number} #{payed_invoice_span(invoice)}".html_safe, edit_invoice_path(invoice) %></td>
            <td>
              <%= link_to_client_avatar(invoice.client) %>
            </td>
            <td><%= invoice.cbte_fch %></td>
            <td><%= invoice.tipo %></td>
            <td class="text-right">
              <%= number_to_ars invoice.total_left%>
            </td>
            <td class="text-right text-bold"><%= number_to_ars invoice.total %></td>
            <td class="td-action-buttons">
              <%= link_to icon('fas', 'print').html_safe, invoice_path(invoice.id, format: :pdf), target: '_blank', class: 'btn btn-sm btn-icon btn-outline-secondary' unless invoice.editable? %>
              <%= link_to icon('fas', 'edit').html_safe, edit_invoice_path(invoice.id), class: 'btn btn-sm btn-icon btn-outline-secondary' %>
              <%= link_to icon('fas', 'trash').html_safe, invoice, method: :delete, data: { confirm: '¿Está seguro?' }, class: 'btn btn-sm btn-icon btn-outline-secondary' if invoice.editable? %>
              <%= link_to icon('fas', 'eraser').html_safe, cancel_invoice_path(invoice.id), data: {confirm: "Está por anular un comprobante. ¿Está seguro que desea continuar?", "skip-pjax" => true}, class: 'btn btn-sm btn-icon btn-outline-danger' if (invoice.is_invoice? && (invoice.confirmado? || invoice.parcialmente_anulado?)) %>
            </td>
          </tr>
            <% invoice.notes.each do |note| %>
              <tr class="px-4 bg-light <%= bordered_invoice_by_state(note.state) %>">
                <td>
                  <%= link_to "#{icon('fas', 'long-arrow-alt-up')} #{note.full_number} #{payed_invoice_span(invoice)}".html_safe, edit_invoice_path(note) %>
                </td>
                <td>
                  <%= link_to client_path(invoice.client_id) do %>
                    <%= image_tag invoice.client.avatar, alt: invoice.client.name, class: 'avatar' %>
                    <%= invoice.client.name  %>
                  <% end %>
                </td>
                <td><%= note.cbte_fch %></td>
                <td><%= note.tipo %></td>
                <td class="text-right"><%= number_to_ars note.total_left %></td>
                <td class="text-right text-bold"><%= number_to_ars note.total %></td>
                <td class="td-action-buttons">
                  <%= link_to icon('fas', 'print').html_safe, invoice_path(note.id, format: :pdf), target: '_blank', class: 'btn btn-sm btn-icon btn-outline-secondary' unless note.editable? %>
                  <%= link_to icon('fas', 'edit').html_safe, edit_invoice_path(note.id), class: 'btn btn-sm btn-icon btn-outline-secondary' %>
                  <%= link_to icon('fas', 'trash').html_safe, note, method: :delete, data: { confirm: '¿Está seguro?' }, class: 'btn btn-sm btn-icon btn-outline-secondary' if note.editable? %>
                </td>
              </tr>
            <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

<%= paginate @invoices %>
