  <div class="table-responsive">
    <table class="table table-hover table-row-bordered">
      <thead>
        <tr>
          <th>Nº</th>
          <th class="only-desktop">Fecha</th>
          <th>Cliente</th>
          <th class="only-desktop">Tipo</th>
          <th>Total</th>
          <th>Faltante</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @invoices.unassociated_invoices.each do |invoice| %>
          <tr class="<%= bordered_invoice_by_state(invoice.state) %>">
            <td><%= invoice.full_number %></td>
            <td class="only-desktop"><%= invoice.cbte_fch %></td>
            <td><%= image_tag invoice.client.avatar, alt: invoice.client.name, class: 'avatar' %> <%= link_to invoice.client.name, client_path(invoice.client_id) %></td>
            <td class="only-desktop"><%= invoice.tipo %></td>
            <td><%= number_to_ars invoice.total %></td>
            <td><%= number_to_ars invoice.total_left%>
              <% if invoice.real_total_left_including_debit_notes.to_f <= 0 %>
                <span class="text-success">
                  <%= icon("fas","check-circle") %>
                </span>
              <% end %>
            </td>
            <td class="td-action-buttons">
              <%= link_to icon('fas', 'eraser').html_safe, cancel_invoice_path(invoice.id), data: {confirm: "Está por anular un comprobante. ¿Está seguro que desea continuar?", "skip-pjax" => true}, class: 'btn btn-sm btn-icon btn-outline-danger' if (invoice.is_invoice? && (invoice.confirmado? || invoice.parcialmente_anulado?)) %>
              <%= link_to icon('fas', 'file-pdf').html_safe, invoice_path(invoice.id, format: :pdf), target: '_blank', class: 'btn btn-sm btn-icon btn-outline-secondary' unless invoice.editable? %>
              <%= link_to icon('fas', 'edit').html_safe, edit_invoice_path(invoice.id), class: 'btn btn-sm btn-icon btn-outline-secondary' %>
              <%= link_to icon('fas', 'trash').html_safe, invoice, method: :delete, data: { confirm: '¿Está seguro?' }, class: 'btn btn-sm btn-icon btn-outline-secondary' if invoice.editable? %>
            </td>
          </tr>
            <% invoice.notes.each do |note| %>
              <tr class="px-4 bg-light <%= bordered_invoice_by_state(note.state) %>">
                <td><%= icon('fas', 'long-arrow-alt-up') %></td>
                <td><%= note.full_number %></td>
                <td class="only-desktop"><%= note.cbte_fch %></td>
                <td class="only-desktop"><%= note.tipo %></td>
                <td><%= number_to_ars note.total %></td>
                <td><%= number_to_ars note.total_left %></td>
                <td class="td-action-buttons">
                  <%= link_to icon('fas', 'file-pdf').html_safe, invoice_path(note.id, format: :pdf), target: '_blank', class: 'btn btn-sm btn-icon btn-outline-secondary' unless note.editable? %>
                  <%= link_to icon('fas', 'edit').html_safe, edit_invoice_path(note.id), class: 'btn btn-sm btn-icon btn-outline-secondary' %>
                  <%= link_to icon('fas', 'trash').html_safe, note, method: :delete, data: { confirm: '¿Está seguro?' }, class: 'btn btn-sm btn-icon btn-outline-secondary' if note.editable? %>
                </td>
              </tr>
            <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

<%= paginate @invoices %>
