  <p class="text-bold h3">Pagos</p>
  <div id="div_ipayments" class="card">
    <div class="card-body">
      <div class="row">
        <div class="table-responsive">
          <table class="table table-striped invoice-table w-100" id="payments">
            <thead>
              <tr>
                <th scope="col">Tipo de pago</th>
                <th scope="col">Monto ($)</th>
                <th scope="col">Fecha de confección</th>
                <th scope="col">Fecha de cobro</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% invoice.income_payments.each do |payment| %>
                <% if payment.errors.empty? %>
                <tr>
                  <td>
                    <% case payment.type_of_payment %>
                    <% when "4" %>
                    <%= payment.payment_name %> - <%= payment.cheque_payment.entity %> - N°: <%= payment.cheque_payment.number %>
                    <% when "1" %>
                      <%= payment.payment_name %> - <%= payment.card_payment.credit_card.name %>
                    <% when "3" %>
                    <%= payment.payment_name %> - Banco <%= payment.bank_payment.bank.name %>
                    <% when "7" %>
                    <%= payment.payment_name %> - Banco <%= payment.debit_payment.bank.name %>
                    <% when "5" %>
                    <%= payment.payment_name %> - N° <%= payment.retention_payment.number %>
                    <% when "8" %>
                    <%= payment.payment_name %> - Factura asociada: <%= payment.compensation_payment.asociatedClientInvoice %>
                    <% when "6" %>
                      <% if payment.account_movement.receipt.nil? && payment.account_movement.invoice %>
                        <%= link_to "NC: #{payment.account_movement.invoice.full_number}", invoice_path(payment.account_movement.invoice.id, format: :pdf) %>
                      <% else %>
                        <%= link_to "RX: #{payment.account_movement.receipt.number}", receipt_path(payment.account_movement.receipt.id, format: :pdf) %>
                      <% end %>
                    <% else %>
                    <%= payment.payment_name %>
                    <% end %>
                  </td>
                  <td class="payment_amount"><%= payment.total %></td>
                  <td><%= payment.payment_date %></td>
                  <% if payment.type_of_payment == '4' %>
                    <td><%= payment.cheque_payment.expiration.nil? ? '' : payment.cheque_payment.expiration  %></td>
                  <% else %>
                    <td></td>
                  <% end %>
                  <td>
                  <%= link_to icon('fas', 'eye'), eval(payment.subpayment_show(invoice.id)), data: { toggle: 'modal', target: '#mainModalLg', remote: true }, class: "btn btn-sm btn-icon btn-outline-secondary" if payment.persisted? && invoice.confirmado? && payment.account_movement_id.nil? %>
                  <% unless (payment.errors.any? || payment.id.blank?) || invoice.confirmado? %>
                    <%= link_to icon('fas', 'trash'), payment_path(payment.id), method: :delete, data:{ confirm: "¿Está seguro?", label: "Aceptar", cancel: "Cancelar" }, class: "btn btn-sm btn-icon btn-outline-secondary remove-invoice-payment" %>
                  <% end -%>
                  </td>
                </tr>
                <% end -%>
              <% end -%>
            </tbody>
          </table>
        </div>
      </div>
      <div class="text-center m-2">
        <%= button_tag "#{icon('fas', 'plus')}Agregar pago".html_safe, id: 'agregar_pago', class: 'btn btn-outline-success', type: 'button' if invoice.editable? %>
      </div>
      <!-- <div class="resume text-right">
        <h5 class="important-number">Total pagos: $<span class="total_payments">0.00</span></h5>
      </div> -->
    </div>
  </div>

  <script type="text/javascript">
    initializePaymentsLimit()

    $('#agregar_pago').click(() => {
      $('#agregar_pago_modal').click()
    })
  </script>
