<p class="text-bold h3">Tributos</p>
<div id="div_itributes" class="card mb-5">
  <div class="card-body">
    <div class="row">
      <div class="table-responsive">
        <table class="table table-striped invoice-table" id="tributes">
          <thead>
            <tr>
              <th style="width: 30%">Descripción</th>
              <th>Base imponible</th>
              <th>Alícuota(%)</th>
              <th>SUBTOTAL</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= form.fields_for :tributes, (CompanyManager::DefaultTaxesGetter.call(current_company) unless (!form.object.tributes.empty? || form.object.persisted?)), wrapper: false do |f| %>
            <tr class="fields">
              <td>
                <%= f.select :afip_id, CompanyManager::DefaultTaxesGetter::TRIBUTOS, { prompt: "Seleccione..." }, { class: 'form-control form-control-sm afip_id', style: 'min-width: 100px;', disabled: invoice.confirmado?} %>
              </td>
              <td><%= f.number_field :base_imp, class: 'form-control form-control-sm base_imp text-right', readonly: true, min: 0.0 %></td>
              <td><%= f.number_field :alic, class: 'form-control form-control-sm alic text-right', disabled: invoice.confirmado?, min: 0.0, step: :any %></td>
              <td><%= f.number_field :importe, class: 'form-control form-control-sm importe text-right', readonly: true, min: 0.0 %></td>
              <td><%= f.link_to_remove icon('fas', 'trash') if invoice.editable? %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="m-2 text-center">
      <%= form.link_to_add "#{icon('fas', 'plus')} <span class='only-desktop'>Agregar tributo</span>".html_safe, :tributes, class: 'btn btn-outline-success', data: {target: '#tributes'} if invoice.editable? %>
    </div>
    <!-- <div class="resume text-right">
      <h5 class="important-number">Total tributos: $<span class="total_tributes">0.00</span></h5>
    </div> -->
  </div>
</div>
