<%= form_for @daily_cash do |form| %>
	<div class="modal-body">
		<div class="form-group">
			<%= label_tag :date, "Fecha" %>
			<%= text_field_tag :date, l(Date.today), class: 'form-control', required: true, disabled: true %>
		</div>
		<div class="form-group">
			<% if action == "open" %>
				<%= form.label :initial_amount %>
				<%= form.number_field :initial_amount, value: DailyCash.last_value(current_user.company_id), class: 'form-control', required: true %>
			<% elsif action == "close" %>
				<%= form.label :final_amount %>
				<%= form.number_field :final_amount, value: @daily_cash.current_amount, class: 'form-control', required: true %>
				<i>En caso que el monto especificado sea distinto al calculado por el sistema se generará un ajuste de caja. Revise cuidadosamente por favor.</i>
				<%= form.hidden_field :state, value: "Cerrada" %>
			<% end -%>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
		<%= save_button %>
	</div>
<% end -%>