<div class="p-4">
  <ul class="nav justify-content-center">
    <li class="nav-item bg-light rounded-left border">
      <%= link_to "Caja Chica #{icon('fas', 'money-bill-alt')}".html_safe, daily_cashes_path, data: { "skip-pjax": true }, class: 'text-white nav-link bg-secondary', title: 'caja diaria' %>
    </li>
    <li class="nav-item bg-light border">
      <%= link_to "Caja Diaria #{icon('fas', 'credit-card')}".html_safe, general_payments_daily_cashes_path(), data: { "skip-pjax": true }, class: 'text-dark nav-link', title: "Información caja general" %>
    </li>
    <li class="nav-item bg-light border">
      <%= link_to "Tarjetas #{icon('fas', 'credit-card')}".html_safe, payments_card_payments_path(), data: { "skip-pjax": true }, class: 'text-dark nav-link', title: "Información de tarjetas de crédito" %>
    </li>
    <li class="nav-item bg-light border">
      <%= link_to "Cheques #{icon('fas', 'file-signature')}".html_safe, payments_cheque_payments_path(), data: { "skip-pjax": true }, class: 'text-dark nav-link', title: "Información de tarjetas de crédito" %>
    </li>
    <li class="nav-item bg-light rounded-right border">
      <%= link_to "Banco #{icon('fas', 'university')}".html_safe, payments_bank_payments_path(), data: { "skip-pjax": true }, class: 'text-dark nav-link', title: "Información de movimientos bancarios" %>
    </li>
    <li class="nav-item bg-light rounded-right border">
      <%= link_to "Retenciones #{icon('fas', 'university')}".html_safe, payments_retention_payments_path(), data: { "skip-pjax": true }, class: 'text-dark nav-link', title: "Información de movimientos bancarios" %>
    </li>
  </ul>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center my-3">
    <h1 class="h2">Caja chica</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group">
        <!-- Movimientos -->
        <% if !DailyCash.open?(@daily_cash) %>
          <%= link_to "#{icon('fas', 'door-open')} Abrir caja".html_safe, new_daily_cash_path, class: 'btn btn-sm btn-outline-primary', title: "Abrir caja.", data:{toggle: 'modal', target: '#dailyCashtModal', remote: true} %>
        <% else %>
          <%= link_to "#{icon('fas', 'plus')} Añadir movimiento".html_safe, new_daily_cash_movement_path(), class: 'btn btn-sm btn-outline-primary', title: "Genere un nuevo movimiento.", data:{toggle: 'modal', target: '#dailyCashtModal', remote: true} %>
          <%= link_to "#{icon('fas', 'door-closed')} Cerrar caja".html_safe, edit_daily_cash_path(@daily_cash.id), class: 'btn btn-sm btn-outline-primary', title: "Cerrar caja.", data:{toggle: 'modal', target: '#dailyCashtModal', remote: true} %>
        <% end -%>
        <!-- Movimientos -->
      </div>
    </div>
  </div>

  <div class="page-section">
    <div class="card card-fluid">

      <div class="card-header">
        <%= form_tag daily_cashes_path(), {class: 'form-inline', id: 'search_form'} do %>
          <!-- BUSCAR POR DISPONIBILIDAD-->
          <div class="input-group col-6">
            <div class="input-group-prepend">
              <div class="input-group-text"><%= icon('fas', 'user') %></div>
            </div>
            <%= select_tag :user, options_for_select(current_user.company.users.map{|u| [u.name, u.id]}), {prompt: 'Buscar por usuario...', class: 'form-control', onchange: 'remoteSubmit("#search_form")'} %>
          </div>
          <!-- BUSCAR POR DISPONIBILIDAD-->

          <!-- BUSCAR POR FECHA -->
          <div class="input-group col" style="display: none;">
            <div class="input-group-prepend">
              <div class="input-group-text"><%= icon('fas', 'exchange-alt') %></div>
            </div>
            <%= select_tag :flow, options_for_select([["Ingreso", "income"],["Egreso", "expense"], ["Neutro", "neutral"]]), {prompt: 'Buscar por tipo de flujo...', class: 'form-control', onchange: 'remoteSubmit("#search_form")'} %>
          </div>
          <!-- BUSCAR POR FECHA -->
        <% end %>
      </div>

      <div id="daily_cash_movements_table" class="card-body">
        <% if !@daily_cash.nil? %>
          <h5><strong>Saldo total:</strong> $ <%= @daily_cash.current_amount %></h5>
        <% end -%>
        <!-- MOVIMIENTOS ASOCIADOS -->
        <%= render 'daily_cash_movements_table' %>
        <!-- MOVIMIENTOS ASOCIADOS -->
      </div>

    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="dailyCashtModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="daily_cash_modal">
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="dailyCashMovementModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="daily_cash_movement_modal">
      </div>
    </div>
  </div>
</div>
