<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <center>

    <div class="row" id="company_code">
      <div class="form-group col-11">
        <%= autocomplete_field_tag :code, '', autocomplete_company_code_users_path, class: 'form-control', id_element:'#user_company_id', placeholder: "Código de compañía", required: true %>
        <%= f.hidden_field :company_id %>
      </div>
      <div class="form-group col-1">
        <a href="#" id="company_code_popover" data-toggle="popover" title="¿Donde puedo conseguir el código?" class="my-auto">
          <%= icon('fas', 'question-circle',class: 'fa-2x') %>
        </a>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <%= f.text_field :first_name, autofocus: true, class:'form-control', placeholder: "Nombre", required: true %>
      </div>

      <div class="form-group col-md-6" id="container-date">
        <%= f.text_field :last_name, class:'form-control', placeholder: "Apellido", required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.email_field :email, class:'form-control', placeholder: "E-mail", required: true %>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <%= f.text_field :dni, class:'form-control', placeholder: "D.N.I.", required: true %>
      </div>

      <div class="form-group col-md-6">
        <%= f.text_field :birthday, class:'form-control datepicker', placeholder: "  Fecha de nacimiento", required: true, autocomplete: "off" %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <%= f.select :province_id, options_from_collection_for_select(Province.all, :id, :name, f.object.province_id), {prompt: "Provincia"}, {:class => 'form-control', onchange: "reloadLocality($(this).val(), 'user_locality_id')", required: true} %>
      </div>
      <div class="form-group col-md-6 with-spinner">
        <%= f.select :locality_id, options_from_collection_for_select(Locality.where(province_id: f.object.province_id).order(:name), :id, :name, f.object.locality_id), {prompt: "Localidad"}, {:class => 'form-control', required: true} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.text_field :address, class:'form-control', placeholder: "Domicilio" %>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Contraseña", required: true %>
      </div>

      <div class="form-group col-md-6">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "Repetir contraseña", required: true %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Registrarse", class:'btn btn-primary' %>
      <hr>
      <%= link_to "Ingresar", new_session_path(resource_name), class: 'btn btn-secondary btn-sm' %> <br>
    </div>
  </center>
<% end %>
