<div class="d-flex flex-column justify-content-center mb-3">
  <div class="text-center py-3">
    <%= image_tag @user.avatar, alt: @user.name, style: 'width:200px; border-radius: 50%;' %>
  </div>
  <h4 class="text-center">
    <%= @user.name %>
  </h4>
  <p class="text-center text-muted">
    <%= @user.company.name %>
  </p>
</div>

<div class="mb-3">
  <ul class="nav-view justify-content-center">
    <li class="nav-view-item general">
      <%= link_to "General", edit_user_registration_path(user_view: 'data'), remote: true %>
    </li>
    <li class="nav-view-item contraseña">
      <%= link_to "Contraseña", edit_user_registration_path(user_view: 'password'), remote: true %>
    </li>
  </ul>
</div>

<div id="show_section" class="py-4">
	<% params[:user_view] ||= "data" %>
	<%= render "/devise/registrations/partial_edit_views/#{params[:user_view]}" %>
</div>
