<h2><%= t('.title', :resource => resource_class.model_name.human , :default => "Edit #{resource_name.to_s.humanize}") %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>


  <br />
  <div class="form-group">
    <div class="row">
      <div class="col-md-4"><%= f.label :first_name, "Nombre", class:'control-label' %>
      <%= f.text_field :first_name, class:'form-control' %></div>
      <div class="col-md-4"><%= f.label :last_name, "Apellido", class:'control-label' %>
      <%= f.text_field :last_name, class:'form-control' %></div>
    </div>
  </div>

  <br />
  <div class="form-group">
    <div class="row">
      <div class="col-md-4"><%= f.label :dni, "DNI", class:'control-label' %>
      <%= f.number_field :dni, class:'form-control' %></div>
      <div class="col-md-4"><%= f.label :birthday, "Fecha nacimiento", class:'control-label' %>
      <%= f.date_field :birthday, class:'form-control' %></div>
    </div>
  </div>

  <br />
  <div class="form-group">
    <div class="row">
      <div class="col-md-4"><%= f.label :phone, "Teléfono fijo", class:'control-label' %>
      <%= f.number_field :phone, class:'form-control' %></div>
      <div class="col-md-4"><%= f.label :mobile_phone, "Celular", class:'control-label' %>
      <%= f.number_field :mobile_phone, class:'form-control' %></div>
    </div>
  </div>

  <br />
  <div class="form-group">
    <div class="row">
      <div class="col-md-4"><%= f.label :province, "Provincia", class:'control-label' %>
      <%= f.select :province, ::Afip::CTG.new().consultar_provincias.map{|c,p| [p,c]}, {prompt: "Seleccione..."}, {:class => 'form-control', onchange: 'reloadLocality($(this).val(), "user_city")', required: true} %></div>
      <div class="col-md-4 with-spinner">
        <%= f.label :city, "Localidad", class:'control-label' %>
        <%= f.select :city,::Afip::CTG.new().consultar_localidades(current_user.province).map{|c,p| [p,c]}, {prompt: "Seleccione..."}, {:class => 'form-control', required: true} %>
      </div>
    </div>
  </div>

  <br />
  <div class="form-group">
    <div class="row">
      <div class="col-md-4"><%= f.label :postal_code, "Código postal", class:'control-label' %>
      <%= f.number_field :postal_code, class:'form-control' %></div>
      <div class="col-md-4"><%= f.label :address, "Dirección", class:'control-label' %>
      <%= f.text_field :address, class:'form-control' %></div>
    </div>
  </div>


  <br />
  <div class="form-group">
    <div><%= f.label :email, class:'control-label' %>
    <%= f.email_field :email, class:'form-control col-sm-4' %></div>
  </div>

  <%- if devise_mapping.confirmable? && resource.pending_reconfirmation? -%>
    <p>
      <%= t('.currently_waiting_confirmation_for_email', :email => resource.unconfirmed_email, :default => "Esperando confirmación de: %{email}") %>
    </p>
  <%- end -%>

  <div><%= f.label :password, class:'control-label' %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it") %>)</i>
  <%= f.password_field :password, :autocomplete => "off", class:'form-control col-sm-4' %></div>

  <br />
  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class:'form-control col-sm-4' %></div>

  <br />
  <div><%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes') %>)</i>
  <%= f.password_field :current_password, class:'form-control col-sm-4' %></div>

  <br />
  <div class="pull-right">
    <%= save_button %>
    <%= back_button %>
  </div>

<% end %>


<!-- <h3><%= t('.cancel_my_account', :default => 'Cancel my account') %></h3>

<p><%= t('.unhappy', :default => 'Unhappy') %>? <%= link_to t('.cancel_my_account', :default => "Cancel my account"), registration_path(resource_name), :data => { :confirm => t('.are_you_sure', :default => "Are you sure?") }, :method => :delete %>.</p> -->

<!-- <%= link_to t('devise.shared.links.back', :default => "Back"), :back %> -->
