<div id="bg"></div>
<table class="full-table">
  <tbody>
    <td class="align-middle">
      <div class="col-sm-5" style="margin: auto;">
        <div class="card" id="login">
          <div class="card-header login-header">
            <center>
              <h1>Registrarse</h1>
            </center>
          </div>
          <div class="card-body">
            <div class="card-options row">
              <div class="row">
                <div class="col">
                  <%= error_explanation(resource) %>
                </div>
              </div>
              <div class="card col">
                <div class="card-body">
                  <h5 class="card-title text-center">Soy el dueño</h5>
                  <h6 class="card-subtitle mb-2 text-muted text-justify">Selecciona esta opción si eres el dueño de la compañía.</h6>
                  <div id="manager-card">
                    <%= image_tag "/images/manager.jpg", class: 'rounded mx-auto d-block responsive-img' %>
                  </div>
                  <button onclick='displayForm("manager")' class="btn btn-secondary btn-lg btn-block"><%= icon('fas', 'check-circle') %> Seleccionar</button>
                </div>
              </div>
              <div class="card col">
                <div class="card-body">
                  <h5 class="card-title text-center">Soy empleado</h5>
                  <h6 class="card-subtitle mb-2 text-muted text-justify">Selecciona esta opción si no eres el dueño de la compañía.</h6>
                  <div id="employee-card">
                    <%= image_tag "/images/employees.png", class: 'rounded mx-auto d-block responsive-img' %>
                  </div>
                  <button onclick='displayForm("employee")' class="btn btn-secondary btn-lg btn-block"><%= icon('fas', 'check-circle') %> Seleccionar</button>
                </div>
              </div>
            </div>
            <div id="form" style="display: none;">
              <%= render 'form' %>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tbody>
</table>
