<ul class="nav-view">
  <li class="nav-view-item general">
    <%= link_to "General", sales_home_index_path %>
  </li>
  <li class="nav-view-item presupuestos">
    <%= link_to "Presupuestos", budgets_path %>
  </li>
  <li class="nav-view-item facturacion">
    <%= link_to "Facturación", invoices_path %>
  </li>
  <li class="nav-view-item recibos">
    <%= link_to "Recibos", receipts_path %>
  </li>
  <li class="nav-view-item clientes">
    <%= link_to "Clientes", clients_path %>
  </li>
</ul>

<script type="text/javascript">
  initializeActiveNav('<%= active_view %>');
</script>
