<%= nested_form_for @purchase_order do |form| %>
  <%= error_explanation @purchase_order %>


  <p class="text-muted h5">Datos del comprobante</p>
  <div class="card ">
    <div class="card-body">
      <div class="row">

        <div class="col-4 form-group">
          <%= form.label :supplier_id, "Proveedor" %>
          <%= form.select :supplier_id, current_user.company.suppliers.map{|s| [s.name, s.id]}, {prompt: "Seleccione..."}, {class: 'form-control select-pu-supplier' } %>
          <%= form.hidden_field :supplier_id, class: 'pu-supplier-id' %>
        </div>
        <div class="col-4 form-group">
          <%= label_tag :suppplier_phone, "Contacto" %>
          <%= text_field_tag :suppplier_phone, @purchase_order.supplier_phone, class: 'form-control', readonly: true %>
        </div>
        <div class="col-4 form-group">
          <%= label_tag :supplier_email, "E-mail" %>
          <%= text_field_tag :supplier_email, @purchase_order.supplier_email, class: 'form-control', readonly: true %>
        </div>

        <div class="col-4 form-group">
          <%= form.label :budget %>
          <div class="input-group">
            <div class="custom-file">
              <%= form.file_field :budget, class: 'custom-file-input' %>
              <%= form.label :budget, "Presupuesto", class: 'custom-file-label' %>
            </div>
          </div>
        </div>
        <div class="col-4 form-group">
          <%= label_tag :date %>
          <%= label_tag :date, form.object.created_at || Date.today, class: 'form-control', readonly: true %>
        </div>
        <div class="col-4 form-group">
          <%= form.label :shipping, "¿Incluye transporte?" %>
          <div class="row">
            <div class="col-4 text-center">
              <%= form.check_box :shipping, data:{toggle: 'toggle', on: "Si", off: "No"}, class: 'toggle' %>
            </div>
            <div class="col-8">
              <%= form.number_field :shipping_cost, class: 'form-control', placeholder: "Precio del transporte", style: "display: #{@purchase_order.shipping ? 'block' : 'none'};" %>
            </div>
          </div>
        </div>

        <div class="col-4 form-group">
          <%= form.label :state %>
          <% if @purchase_order.new_record? || @purchase_order.state == "Pendiente" %>
            <%= form.select :state, @purchase_order.array_for_new, {}, {class: 'form-control', disabled: !(@purchase_order.editable? && !@purchase_order.pending_approval?), style: 'color: red;'}%>
          <% elsif @purchase_order.state == "Aprobado" %>
              <%= form.select :state, @purchase_order.array_of_state_values, {}, {class: 'form-control', disabled: !(@purchase_order.editable? && !@purchase_order.pending_approval?), style: 'color: orange;'}%>
          <% else %>
              <%= form.select :state, @purchase_order.array_of_state_values, {}, {class: 'form-control', disabled: !(@purchase_order.editable? && !@purchase_order.pending_approval?), style: 'color: green;'}%>
          <% end %>
        </div>
        <div class="col-4 form-group">
          <%= form.label :total_pay, "Total pagado" %>
          <%= form.text_field :total_pay, class: 'form-control', readonly: true %>
        </div>
        <div class="col-4 form-group">
          <%= form.label :total %>
          <%= form.text_field :total, class: 'form-control', readonly: true %>
        </div>
      </div>

      <% if @purchase_order.editable? %>
        <p class="alert alert-info text-center">
          El estado de la OC debe ser "Finalizada" para que los pagos impacten en contabilidad.
        </p>
      <% end %>

      <div class="text-center">
        <% if @purchase_order.confirmado? %>
          <%= link_to "#{icon('fas', 'file-pdf')} Generar PDF".html_safe, purchase_order_path(purchase_order.id, format: :pdf), class: 'btn btn-primary' %>
          <%= button_tag "#{icon('fas', 'envelope')} Enviar a proveedor".html_safe, type: 'button', class: 'btn btn-info', data:{toggle: 'modal', target: '#sendMailModal'} unless @purchase_order.delivered %>
        <% end %>
        <% if @purchase_order.pendiente? && @purchase_order.persisted? %>
          <%= link_to "#{icon('fas', 'thumbs-up')} Aprobar".html_safe, approve_purchase_order_path(@purchase_order.id), method: :patch, class: 'btn btn-danger' %>
        <% end %>
      </div>

    </div>
  </div>

  <%= render template: '/purchase_orders/details/index.html.erb', locals:{form: form} %>

  <%= render template: '/purchase_orders/payments/index.html.erb', locals:{form: form} %>

  <%= render '/purchase_orders/details/search_product' %>

  <%= render template: '/purchase_orders/send_mail.html.erb' if @purchase_order.persisted? %>

  <div class="text-center">
    <%= save_button_danger if @purchase_order.editable? %>
  </div>

  <%= render_modal_lg %>
<% end %>
