<table class="table table-hover">
  <thead>
    <tr>
      <th>Número</th>
      <th>Proveedor</th>
      <th>Creado por</th>
      <th>Estado</th>
      <th>Total</th>
      <th style="text-align: center;">Pagado</th>
      <th style="text-align: center;">Fecha</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @purchase_orders.each do |purchase_order| %>
      <tr>
        <td><strong><%= purchase_order.number %></strong></td>
        <td><%= purchase_order.supplier.name %></td>
        <td><%= purchase_order.user.name %></td>
        <td><%= purchase_order.state %></td>
        <td><%= purchase_order.total %></td>
        <td style="text-align: center;"><%= boolean_to_icon(purchase_order.paid_out)%></td>
        <td style="text-align: center;"><%= purchase_order.created_at %></td>
        <td class="text-right">
          <% if !purchase_order.paid_out %>
            <%= link_to icon('fas', 'money-bill-alt').html_safe, add_payment_purchase_order_path(purchase_order.id), class: 'btn btn-sm btn-icon btn-outline-secondary' if can? :update, PurchaseOrder %>
          <% end %>
          <%= link_to icon('fas', 'eye').html_safe, purchase_order_path(purchase_order.id, format: :pdf), class: 'btn btn-sm btn-icon btn-outline-secondary' if can? :show, PurchaseOrder %>
          <%= link_to icon('fas', 'edit').html_safe, edit_purchase_order_path(purchase_order.id), class: 'btn btn-sm btn-icon btn-outline-secondary' if can? :update, PurchaseOrder %>
          <% if purchase_order.editable? %>
            <%= link_to icon('fas', 'trash').html_safe, purchase_order, method: :delete, data: { confirm: '¿Está seguro?' }, class: 'btn btn-sm btn-icon btn-outline-secondary' if can? :destroy, PurchaseOrder %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @purchase_orders %>
