<!-- PIE DE PAGINA -->
<div class="row footer_bottom">
  <div class="container border">
    <table class="width_100">
      <tr>
        <td><b>Estado: </b><%= @arrival_note.state %></td>
        <td> </td>
        <td> </td>
      </tr>
    </table>
  </div>

  <div class="containter border">
    <br>
    <br>
    <br>
    <br>
    <table class="width_100">
      <tr>
        <td class="width_50 text_center">
          ________________________
        </td>
        <td class="width_50 "></td>
      </tr>
      <tr>
        <td class="text_center">Firma y sello</td>
        <td class="text_center"> <%= @arrival_note.company.name %> - <%= @arrival_note.company.address %> </td>
      </tr>
    </table>
  </div>
</div>
<br>
<div class="text_center">
  Página <%= page_number %> de <%= total_pages%>
</div>

<!-- FIN PIE DE PAGINA -->
