 <div class="form-group">
  <%= label_tag :invoice_client_name, "Cliente" %>
  <div class="input-group mb-3">
    <%= text_field_tag :invoice_client_name, @client.name, class: 'form-control', readonly: true %>
    <div class="input-group-append">
      <span class="input-group-text">
        <%= link_to icon('far' , 'edit').html_safe, edit_invoices_client_path(@client.id), data: {toggle: 'modal', target: '#clientModal', remote: true} %>
      </span>
    </div>
  </div>
</div>

<div class="form-group">
  <%= label_tag :invoice_client_document, "Nº de Documento" %>
  <%= text_field_tag :invoice_client_document, @client.document_number, class: 'form-control', readonly: true %>
</div>

<div class="form-group">
  <%= label_tag :invoice_client_iva_cond, "Condicion I.V.A." %>
  <%= text_field_tag :invoice_client_iva_cond, @client.iva_cond, class: 'form-control', readonly: true %>
</div>
