<% if params[:view] == "list" %>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nº</th>
          <th scope="col">Cliente</th>
          <th scope="col" class="only-desktop">Tipo</th>
          <th scope="col">Total</th>
          <th scope="col" class="only-desktop">Estado</th>
          <th scope="col" class="only-desktop">Fecha</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <% @invoices.each do |invoice| %>
          <tr>
            <td><%= invoice.full_number %></td>
            <td><%= invoice.client.name %></td>
            <td class="only-desktop"><%= invoice.tipo %></td>
            <td>$<%= invoice.total %></td>
            <td class="only-desktop"><%= invoice_state(invoice.state) %></td>
            <td class="only-desktop"><%= invoice.cbte_fch %></td>
            <td>
              <%  if ! invoice.editable? %>
                <%= link_to icon('fas', 'eye').html_safe, invoice_path(invoice.id, format: :pdf), target: '_blank', class: 'btn btn-sm btn-icon btn-outline-secondary' %>
              <% end %>
            </td>
            <td>
              <%= link_to icon('fas', 'edit').html_safe, edit_invoice_path(invoice.id), class: 'btn btn-sm btn-icon btn-outline-secondary' %>
            </td>
            <%  if invoice.editable? %>
              <td><%= link_to icon('fas', 'trash').html_safe, invoice, method: :delete, data: { confirm: '¿Está seguro?' }, class: 'btn btn-sm btn-icon btn-outline-secondary' %></td>
            <% end -%>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="row">
    <% @invoices.each do |invoice| %>
      <div class="col-md-6 col-lg-4 col-sm-12">
        <ul class="list-unstyled rounded border-bottom">
          <li class="media">
            <img class="mr-3" src="/images/invoice.png" alt="Factura">
            <div class="media-body">
              <h5 class="mt-0 mb-1"><%= invoice.nombre_comprobante %> a <%= invoice.client_name %></h5>
              <strong>Nº:</strong> <%= invoice.full_number %><br>
              <strong>Tipo:</strong> <%= invoice.tipo %><br>
              <strong>Estado:</strong> <%= invoice_state(invoice.state) %><br>
              <i><%= icon('fas', 'clock') %> <%= invoice.cbte_fch %></i><br>
              <h5>Total: <span class="text-info">$<%= invoice.total %></span></h5>
              <div class="float-right">
                <%  if !invoice.editable? %>
                  <%= link_to icon('fas', 'eye').html_safe, invoice_path(invoice.id, format: :pdf), target: '_blank', class: 'btn btn-link' %>
                <% end %>
                <%= link_to icon('fas', 'pencil-alt').html_safe, edit_invoice_path(invoice), class: 'btn btn-link' %>
                <%  if invoice.editable? %>
                  <%= link_to icon('fas', 'trash').html_safe, invoice, method: :delete, data: { confirm: '¿Está seguro?' }, class: 'btn btn-link' %>
                <% end -%>
              </div>
            </div>
          </li>
        </ul>
      </div>
    <% end -%>
  </div>
<% end -%>
<%= paginate @invoices %>
