<% if params[:view] == "table" %>
  <div class="row">
    <% @invoices.each do |invoice| %>
      <div class="col-md-6 col-lg-4 col-sm-12">
        <ul class="list-unstyled rounded border-bottom">
          <li class="media">
            <img class="mr-3" src="/images/invoice.png" alt="Factura">
            <div class="media-body">
              <h5 class="mt-0 mb-1"><%= invoice.nombre_comprobante %> a <%= invoice.client_name %></h5>
              <strong>Nº:</strong> <%= invoice.full_number %><br>
              <strong>Tipo:</strong> <%= invoice.tipo %><br>
              <strong>Estado:</strong> <%= invoice_state(invoice.state) %><br>
              <i><%= icon('fas', 'clock') %> <%= invoice.cbte_fch %></i><br>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-9" style="padding: 5px 0px 0px 15px;">
                  <h5>Total: <span class="text-info">$<%= invoice.total %></span></h5>
              </div>
              <div class="col-md-3 float-right">
                <div class="row">
                  <%  if !invoice.editable? %>
                    <%= link_to icon('fas', 'eye').html_safe, invoice_path(invoice.id, format: :pdf), target: "_blank", class: 'btn btn-link' %>
                  <% end %>
                  <%= link_to icon('fas', 'pencil-alt').html_safe, edit_invoice_path(invoice), class: 'btn btn-link' %>
                  <%  if invoice.editable? %>
                    <%= link_to icon('fas', 'trash').html_safe, invoice, method: :delete, data: { confirm: '¿Está seguro?' }, class: 'btn btn-link' %>
                  <% end -%>
                </div>
              </div>
            </div>

          </li>
        </ul>
      </div>
    <% end -%>
  </div>
<% else %>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th colspan="2">Nº</th>
          <th scope="col" class="only-desktop">Fecha</th>
          <th scope="col">Cliente</th>
          <th scope="col" class="only-desktop">Tipo</th>
          <th scope="col">Total</th>
          <th scope="col" class="only-desktop">Estado</th>
          <th>Faltante</th>
          <th>Anular</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <% @invoices.unassociated_invoices.each do |invoice| %>
          <tr>
            <td colspan="2"><%= invoice.full_number %></td>
            <td class="only-desktop"><%= invoice.cbte_fch %></td>
            <td><%= link_to invoice.client.name, client_path(invoice.client_id) %></td>
            <td class="only-desktop"><%= invoice.tipo %></td>
            <td>$<%= invoice.total %></td>
            <td class="only-desktop"><%= invoice_state(invoice.state) %></td>
            <td>$<%= invoice.total_left%></td>
            <td>
              <%  if !invoice.editable? && invoice.is_invoice? && invoice.state != "Anulado" %>
                <%= link_to icon('fas', 'eraser').html_safe, cancel_invoice_path(invoice.id), data: {confirm: "Está por anular un comprobante. ¿Está seguro que desea continuar?", "skip-pjax" => true}, class: 'btn btn-sm btn-icon btn-outline-danger' %>
              <% end %>
            </td>
            <td>
              <%  unless invoice.editable? %>
                <%= link_to icon('fas', 'file-pdf').html_safe, invoice_path(invoice.id, format: :pdf), target: '_blank', class: 'btn btn-sm btn-icon btn-outline-secondary' %>
              <% end %>
            </td>
            <td>
              <%= link_to icon('fas', 'edit').html_safe, edit_invoice_path(invoice.id), class: 'btn btn-sm btn-icon btn-outline-secondary' %>
            </td>
            <td>
              <%  if invoice.editable? %>
                <%= link_to icon('fas', 'trash').html_safe, invoice, method: :delete, data: { confirm: '¿Está seguro?' }, class: 'btn btn-sm btn-icon btn-outline-secondary' %>
              <% end %>
            </td>

          </tr>
            <% invoice.notes.each do |note| %>
              <tr class="px-4 bg-light">
                <td><%= icon('fas', 'long-arrow-alt-up') %></td>
                <td><%= note.full_number %></td>
                <td class="only-desktop"><%= note.cbte_fch %></td>
                <td><%= link_to note.client.name, client_path(note.client_id) %></td>
                <td class="only-desktop"><%= note.tipo %></td>
                <td>$<%= note.total %></td>
                <td class="only-desktop"><%= invoice_state(note.state) %></td>
                <td>$<%= note.total_left %></td>
                <td>
                  <%  if !note.editable? && note.is_invoice? && note.state != "Anulado" %>
                    <%= link_to icon('fas', 'eraser').html_safe, cancel_invoice_path(note.id), data: {confirm: "Está por anular un comprobante. ¿Está seguro que desea continuar?", "skip-pjax" => true}, class: 'btn btn-sm btn-icon btn-outline-danger' %>
                  <% end %>
                </td>
                <td>
                  <% unless note.editable? %>
                    <%= link_to icon('fas', 'file-pdf').html_safe, invoice_path(note.id, format: :pdf), target: '_blank', class: 'btn btn-sm btn-icon btn-outline-secondary' %>
                  <% end %>
                </td>
                <td>
                  <%= link_to icon('fas', 'edit').html_safe, edit_invoice_path(note.id), class: 'btn btn-sm btn-icon btn-outline-secondary' %>
                </td>
                <td>
                  <%  if note.editable? %>
                    <%= link_to icon('fas', 'trash').html_safe, note, method: :delete, data: { confirm: '¿Está seguro?' }, class: 'btn btn-sm btn-icon btn-outline-secondary' %>
                  <% end %>
                </td>

              </tr>
            <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end -%>
<%= paginate @invoices %>
