<div class="p-4">
	<div class="row">
		<div class="col">
			<% if @invoice.editable? %>
				<h1 class="h2"><%= icon('fas', 'hand-holding-usd') %> Generar Factura</h1>
				<button class="btn btn-primary invoice-header-right" role="button" onclick="toggleHeader()">Mostrar/Ocultar</button>
			<% else %>
				<h1 class="h2"><%= icon('fas', 'hand-holding-usd') %> Factura Nº <%= @invoice.comp_number %></h1>
				<button class="btn btn-primary invoice-header-right" role="button" onclick="toggleHeader()">Mostrar/Ocultar</button>
			<% end %>
		</div>
		<div class="col text-right">
			<button class="btn btn-primary" role="button" onclick="toggleHeader()">Encabezado</button>
			<% if @invoice.receipt_id.blank? %>
				<%= link_to "#{icon('fas', 'file-invoice')} Generar remito".html_safe, set_associated_invoice_delivery_notes_path(associated_invoice: @invoice.id, invoice_comp_number: @invoice.full_number), class: 'btn btn-success' %>
			<% else %>
				<%= link_to "#{icon('fas', 'file-invoice')} Generar remito".html_safe, set_associated_invoice_delivery_note_path(@invoice.receipt_id, associated_invoice: @invoice.id, invoice_comp_number: @invoice.full_number), class: 'btn btn-success' %>
			<% end -%>
		</div>
	</div>
	<div id="invoice_form">
		<%= render '/invoices/form' %>
	</div>
</div>

<script type="text/javascript">
	function toggleHeader(){
		var display = $(".invoice-header").css('display');
		if (display == 'flex'){
			$(".invoice-header").hide('fast')
		} 
		else{
			$(".invoice-header").show('fast')
		}
	}
</script>
