<div class="p-4">
	<div class="row">
		<div class="col">
			<% if @invoice.editable? %>
				<h1 class="h2"><%= icon('fas', 'hand-holding-usd') %> Generar Factura</h1>
			<% else %>
				<h1 class="h2"><%= icon('fas', 'hand-holding-usd') %> Factura Nº <%= @invoice.comp_number %></h1>
			<% end %>
		</div>
		<div class="col text-right">
			<button class="btn btn-primary " role="button" onclick="toggleHeader()" id="encabezado"><%= icon('fas' ,'eye-slash') %> Ocultar encabezado</button>
			<% if current_user.company.iva_cond == "Responsable Inscripto" %>
				<button class="btn btn-primary " role="button" onclick="toggleTributes()" id="tributos"><%= icon('fas' ,'eye') %> Ver tributos</button>
			<% end -%>
			<% if ["01", "06", "11"].include?(@invoice.cbte_tipo) %>
				<% if @invoice.delivery_notes.last.nil?  %>
					<%= link_to "#{icon('fas', 'file-invoice')} Generar remito".html_safe, set_associated_invoice_delivery_notes_path(associated_invoice: @invoice.id, invoice_comp_number: @invoice.full_number), class: 'btn btn-success' %>
				<% else %>
					<%= link_to "#{icon('fas', 'file-invoice')} Generar remito".html_safe, set_associated_invoice_delivery_note_path(@invoice.delivery_note.last.id, associated_invoice: @invoice.id, invoice_comp_number: @invoice.full_number), class: 'btn btn-success' %>
				<% end -%>
			<% end -%>
		</div>
	</div>
	<div id="invoice_form">
		<%= render '/invoices/form' %>
	</div>
</div>