<div class="p-4">
  <%= title_helper 'Ventas Registradas' %>
  <%= button_new_helper(new_invoice_path()) if can? :create, Invoice %>

  <div class="page-section">
    <div class="card card-fluid navbar-expand-lg">
      <button class="navbar-toggler btn btn-light btn-lg btn-block" type="button" data-toggle="collapse" data-target="#filtros">
        <%= icon('fas', 'search') %> Ver filtros
      </button>
      <div class="card-header collapse navbar-collapse" id="filtros">
        <%= form_tag invoices_path(), {id: 'search_form', class: 'w-100'} do %>
          <div class="row my-1">
            <!-- BUSCAR POR NÚMERO -->
            <div class="col-12 col-md-2">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><%= icon('fas', 'search') %></div>
                </div>
                <%= text_field_tag :comp_number, params[:comp_number], class: 'form-control', placeholder: 'Buscar por número', onkeyup: 'remoteSubmit("#search_form")' %>
              </div>
            </div>
            <!-- BUSCAR POR NÚMERO -->
            <!-- BUSCAR POR CLIENTE -->
            <div class="col-12 col-md-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><%= icon('fas', 'user') %></div>
                </div>
                <%= text_field_tag :client_name, params[:client_name], class: 'form-control', placeholder: 'Buscar por cliente', onkeyup: 'remoteSubmit("#search_form")' %>
              </div>
            </div>
            <!-- BUSCAR POR CLIENTE -->
            <!-- BUSCAR POR TIPO DE COMPROBANTE -->
            <div class="col-12 col-md-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><%= icon('fas', 'file-invoice') %></div>
                </div>
                <%= select_tag :cbte_tipo, options_for_select(Afip::CBTE_TIPO.map {|c| [c.second, c.first]}, params[:cbte_tipo]), {prompt: 'Buscar por tipo...', class: 'form-control', onchange: 'remoteSubmit("#search_form")'} %>
              </div>
            </div>
            <div class="col-12 col-md-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><%= icon('far', 'check-square') %></div>
                </div>
                <%= select_tag :state, options_for_select(Invoice::STATES, params[:state]), {prompt: 'Buscar por estado...', class: 'form-control', onchange: 'remoteSubmit("#search_form")'} %>
              </div>
            </div>
            <!-- BUSCAR POR TIPO DE COMPROBANTE -->
            <div class="col-12 col-md-1">
              <%= button_tag "#{icon('fas', 'redo-alt')}".html_safe, type: 'button', class: 'btn btn-dark btn-block clean-filter-button' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="card-body">
        <div id="invoices_table">
          <%= render 'invoices_table' %>
        </div>
      </div>
    </div>
  </div>
</div>
