<div class="p-4">
	<div class="row">
		<div class="col-7">
			<h1 class="h2"> Comprobante</h1>
		</div>
		<div class="col-5 text-right">
			<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Ocultar | Ver
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			    <button class="btn btn-primary dropdown-item" role="button" href="#" onclick="toggleHeader()" id="toggle_header"><%= icon('fas' ,'eye-slash') %> Encabezado</button>
			    <button class="btn btn-primary dropdown-item" role="button" href="#" onclick="toggleBonification()" id="toggle_bonifications"><%= icon('fas' ,'eye') %> Descuentos</button>
			    <button class="btn btn-primary dropdown-item" role="button" href="#" onclick="toggleTributes()" id="toggle_tributes"><%= icon('fas' ,'eye') %> Tributos</button>
			    <button class="btn btn-primary dropdown-item" role="button" href="#" onclick="toggleAuthorized()" id="toggle_authorized"><%= icon('fas' ,'eye') %> Autorizados</button>
			</div>
		</div>
	</div>

	<div id="invoice_form">
		<% DailyCash.current_daily_cash current_user.company_id %>
		<%= render '/invoices/form' %>
	</div>
</div>
