<!--ENCABEZADO NOMBRE - TIPO - FACTURA-->
    <div class=" border">
      <table class="width_100">
        <tr>
          <th class="text_size_25 text_left header_width_50" style="text-align: center;"><%= @invoice.company.society_name %></th>
          <th class="text_size_invoice_type invoice_type"><%= Invoice.available_cbte_type(@invoice.company, @invoice.client).first.first.last %>
            <table>
              <tbody>
                <tr>
                  <td style="font-size: 11px;">COD.11</td>
                </tr>
              </tbody>
            </table>
          </th>
          <th class="text_size_25 header_width_50">FACTURA</th>
        </tr>
      </table>


  <table class="width_100">
      <tr>
        <td> <b>Razon Social: </b> <%= @invoice.company.society_name %></td>
        <td rowspan="5" class="right_border"></td>
        <td rowspan="5" style="width: 25px;"></td>
        <td>
          <b>Punto de Venta: <%= @invoice.sale_point.fill_name %>
            <% if !@invoice.fill_comp_number.nil? %>
              Comp.Nro: <%= @invoice.fill_comp_number %>
            <% end %>
          </b>
        </td>
      </tr>

      <tr>
        <td><b>Domicilio Comercial:</b> <%= @invoice.company.address %></td>

        <td><b>Fecha de Emision:</b> <%= @invoice.created_at.strftime("%d/%m/%Y") %></td>
      </tr>

      <tr>
        <td><b>Condicion frente al IVA:</b> <%= @invoice.company.iva_cond %></td>

        <td ><b>CUIT: </b><%= @invoice.company.cuit %></td>
      </tr>

      <tr>
        <td></td>

        <td><b>Ingresos Brutos: </b><%= @invoice.company.cuit %></td>
      </tr>

      <tr>
        <td></td>

        <td><b>Fecha de Inicio de Actividades: </b> <%= @invoice.company.activity_init_date.strftime("%d/%m/%Y") %></td>
      </tr>
    </table>
    </div>
  <!-- FIN DEL ENCABEZADO -->

<!-- DATOS CLIENTE -->
<div>
  <div class="container border">
    <table class="width_100">
    <tr>
      <td><b>CUIT: </b><%= @invoice.client.document_number %></td>
      <td><b>Apellido y Nombre / Razon Social: </b> <%= @invoice.client.name %></td>
      <td></td>
    </tr>

    <tr>
      <td><b>Condicion frente al IVA: </b><%= @invoice.client.iva_cond %></td>
      <td><b>Domicilio: </b> <%= @invoice.client.iva_cond %></td>
      <td></td>
    </tr>

    <tr>
      <td><b>Condicion de venta: </b><%= @invoice.payment_array %></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  </div>
</div>
<!-- FIN DATOS CLIENTE -->


<!-- DETALLE -->
<div class="row">
  <div class="container" style="height: 700px;">
    <table class="width_100">
    <tr>
      <th class="description_header">Codigo</th>
      <th class="description_header">Producto/Servicio</th>
      <th class="description_header">Cantidad</th>
      <th class="description_header">U.Medida</th>
      <th class="description_header">Precio Unit.</th>
      <th class="description_header">%Bonif</th>
      <th class="description_header">Imp.Bonif</th>
      <th class="description_header">Subtotal</th>
    </tr>
    <% @invoice.invoice_details.each do |det| %>
        <tr>
          <td><%= det.product.code %></td>
          <td><%= det.product.name %></td>
          <td class="text_right"><%= det.quantity %></td>
          <td class="text_right">unidades</td>
          <td class="text_right"><%= det.product.price %></td>
          <td class="text_right"><%= det.bonus_percentage %></td>
          <td class="text_right"><%= det.bonus_amount %></td>
          <td class="text_right"><%= det.subtotal %></td>
        </tr>
    <% end %>
  </table>
  </div>
</div>
<!-- FIN DEL DETALLE -->



<div class="row footer_top">
  <div class="container border">
    <table class="width_100">
      <col width="600">
      <col width="100">
    <tr>
      <td class="text_right"><b>Subtotal:</b></td>
      <td class="text_right"><b>$ <%= @invoice.sum_details %></b></td>
    </tr>

    <tr>
      <td class="text_right"><b>Importe Otros Tributos:</b></td>
      <td class="text_right"><b>$ <%= @invoice.imp_op_ex %> </b></td>
    </tr>

    <tr>
      <td class="text_right"><b>Importe Total:</b></td>
      <td class="text_right"><b>$ <%= @invoice.total %></b></td>
    </tr>
  </table>
  </div>
</div>

<!-- PIE DE PAGINA -->
<div class="row footer_bottom">
  <div class="container">
    <table class="width_100">
    <tr>
      <td><%= wicked_pdf_image_tag '/images/afip.png',:width => "150"%></td>
      <td><b>Comprobante Autorizado</b></td>
      <td>Pag. 1/1</td>
      <td class="text_right"><b>CAE N°:</b> NUMERO DE CAE</td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="text_right"><b>Fecha de Vto. de CAE: </b>VTO DE CAE</td>
    </tr>
  </table>
  </div>
</div>
Page <span class="page"></span> of <span class="topage"></span>
<!-- FIN PIE DE PAGINA -->

<div class="nobreak">

</div>
