<!--ENCABEZADO NOMBRE - TIPO - FACTURA-->
    <div class="container border">
      <table class="width_100">
        <tr>
          <th class="text-lg text-left header_word_break" style="text-align: center; width: 406px;">
            <img class="card-img-top" src="<%= @receipt.company.logo %>" alt="Logo" id="image"  width="70%">
          </th>
          <th class="text-xl invoice_type"><%= @receipt.letra_tipo %>
            <table>
              <tbody>
                <tr>
                  <td style="font-size: 11px;" class="invoice_type_code"></td>
                </tr>
              </tbody>
            </table>
          </th>
          <th class="text-lg header_word_break" style="width: 400px;">
            <div class="row" style="font-size: 10px;">DOCUMENTO NO VÁLIDO COMO FACTURA</div>
            <div class="row">RECIBO</div>
            <div class="row" style="font-size: 20px;">N° <%= @receipt.sale_point.fill_name %> - <%= @receipt.number %></div>
          </th>
        </tr>
      </table>


      <table class="width_100" style="font-size: 13px !important;">
          <tr>
            <td>
              <b><%= @receipt.company.address %></b><%= " - " + @receipt.company.postal_code + " - " + @receipt.company.province.name  + " - " + @receipt.company.country %>
            </td>
            <td>
              <b>Fecha de Emisión:</b> <%= @receipt.date.strftime("%d/%m/%Y") %>
            </td>
          </tr>

          <tr>
            <td><b>Teléfono: </b><%= @receipt.company.contact_number %></td>

            <td><b>CUIT: </b><%= @receipt.company.cuit %></td>
          </tr>

          <tr>
            <td><b><%= @receipt.company.iva_cond %></b></td>

            <td><b>Ing. Brutos: </b><%= @receipt.company.cuit %></td>
          </tr>

          <tr>
            <td></td>

            <td><b>Inicio de Actividades: </b> <%= @receipt.company.activity_init_date.strftime("%d/%m/%Y") %></td>
          </tr>
        </table>
    </div>
  <!-- FIN DEL ENCABEZADO -->

<!-- DATOS CLIENTE -->
<div style="font-size: 13px !important;">
  <div class="container" style="border-right: 1px solid black; border-left: 1px solid black; border-bottom: 1px solid black;">
    <table class="width_100">
      <tr>
        <td rowspan="3" style="width: 1px;"></td>
        <td style="width: 51%;"><b>CUIT: </b><%= @receipt.client.document_number %></td>
        <td><b>Cliente / Razon Social: </b> &nbsp <%= @receipt.client.name %></td>
      </tr>

      <tr>
        <td><b>Condicion frente al IVA: </b> &nbsp <%= @receipt.client.iva_cond %></td>
        <td><b>Domicilio: </b>&nbsp <%= @receipt.client.address %></td>
      </tr>
    </table>
  </div>
</div>
<!-- FIN DATOS CLIENTE -->
