<!--ENCABEZADO NOMBRE - TIPO - FACTURA-->
    <div class="container border">
      <table class="width_100">
        <tr>
          <th class="text_size_25 text-left header_word_break" style="text-align: center; width: 406px;"><%= @receipt.company.name %></th>
          <th class="text_size_invoice_type invoice_type"><%= @receipt.letra_tipo %>
            <table>
              <tbody>
                <tr>
                  <td style="font-size: 11px;" class="invoice_type_code"></td>
                </tr>
              </tbody>
            </table>
          </th>
          <th class="text_size_25 header_word_break" style="width: 400px;">RECIBO</th>
        </tr>
      </table>


      <table class="width_100" style="font-size: 13px !important;">
          <tr>
            <td rowspan="5" style="width: 10px;"></td>
            <td><b>Razon Social: </b> <%= @receipt.company.society_name %></td>
            <td rowspan="5" class="right_border"></td>
            <td rowspan="5" style="width: 25px;"></td>
            <td>
              <b>N° <%= @receipt.sale_point.fill_name %> <%= @receipt.number %> </b>
            </td>
          </tr>

          <tr>
            <td><b>Domicilio Comercial:</b> <%= @receipt.company.address %></td>

            <td><b>Fecha de Emision:</b> <%= @receipt.date.strftime("%d/%m/%Y") %></td>
          </tr>

          <tr>
            <td><b>Condicion frente al IVA:</b> <%= @receipt.company.iva_cond %></td>

            <td ><b>CUIT: </b><%= @receipt.company.cuit %></td>
          </tr>

          <tr>
            <td></td>

            <td><b>Ingresos Brutos: </b><%= @receipt.company.cuit %></td>
          </tr>

          <tr>
            <td></td>

            <td><b>Fecha de Inicio de Actividades: </b> <%= @receipt.company.activity_init_date.strftime("%d/%m/%Y") %></td>
          </tr>
        </table>
    </div>
  <!-- FIN DEL ENCABEZADO -->

<!-- DATOS CLIENTE -->
<div style="font-size: 13px !important;">
  <div class="container" style="border-right: 1px solid black; border-left: 1px solid black; border-bottom: 1px solid black;">
    <table class="width_100">
      <tr>
        <td rowspan="3" style="width: 1px;"></td>
        <td style="width: 51%;"><b>CUIT: </b><%= @receipt.client.document_number %></td>
        <td><b>Cliente / Razon Social: </b> &nbsp <%= @receipt.client.name %></td>
      </tr>

      <tr>
        <td><b>Condicion frente al IVA: </b> &nbsp <%= @receipt.client.iva_cond %></td>
        <td><b>Domicilio: </b>&nbsp <%= @receipt.client.address %></td>
      </tr>
    </table>
  </div>
</div>
<!-- FIN DATOS CLIENTE -->
