<div class="row">
  <div class="container" style="height: 320px; font-size: 10px !important; overflow: hidden;">
    <table class="width_100">
      <tr>
        <th class="description_header">Codigo</th>
        <th class="description_header">Producto/Servicio</th>
        <th class="description_header">Cantidad</th>
        <th class="description_header">Precio Unit.</th>
        <th class="description_header">Bonificación</th>
        <th class="description_header">Subtotal</th>
        <% if @invoice.cbte_tipo == "01" || @invoice.cbte_tipo == "02" || @invoice.cbte_tipo == "03" %>
        <th class="description_header">I.V.A.</th>
        <th class="description_header">Subtotal c/IVA</th>
        <% end %>
      </tr>
      <% details.compact.each do |det| %>
        <tr>
          <td><%= det.product.code %></td>
          <td><%= det.product.name %></td>
          <td class="text_right"><%= det.quantity %></td>
          <% if @invoice.cbte_tipo == "01" || @invoice.cbte_tipo == "02" || @invoice.cbte_tipo == "03" %>
            <!-- Si el comprobante es FA, NCA, NDA, muestra el subtotal - iva_amount (ambos estan multiplicados por quantity) -->
            <td class="text_right"><%= det.price_per_unit.round(2) %></td>
            <td class="text_right"><%= det.bonus_percentage != 0 ? det.bonus_percentage : 0.0  %></td>
            <td class="text_right"><%= (det.subtotal - det.iva_amount).round(2) %>
            <td class="text_right"><%= det.iva_amount %></td>
            <td class="text_right"><%= det.subtotal %></td>
          <% else %>
            <td class="text_right"><%= (det.price_per_unit.round(2) * ( 1 + det.iva )).round(2) %></td>
            <td class="text_right"><%= det.bonus_percentage != 0 ? det.bonus_percentage : 0.0  %></td>
            <td class="text_right"><%= det.subtotal %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row footer_top">
  <% if @invoice.observation.length > 0 %>
    <div class="container" style="border-style: dotted;border-width: 1px;">
      <p><b>&nbsp Observación:</b><%= @invoice.observation %></p>
    </div>
    <br>
  <% end %>
</div>

<div class="container border">
  <table class="width_100">
    <col>
    <col width="500">
    <tr>
      <td rowspan="10" style="width: 1px;"></td>
      <td rowspan="10">
        <% if @invoice.tributes.where("importe > 0").count > 0 %>
          Otros Tributos:
        <table style="width:75%;">
          <thead>
            <tr>
              <th class="description_header">Descripción</th>
              <th class="description_header">Alícuota</th>
              <th class="description_header">Importe</th>
            </tr>
          </thead>
          <tbody>
            <% @invoice.tributes.where("importe > 0").each do |t| %>
              <tr>
                <td><b><%= t.desc %></b></td>
                <td class="text_right"><%= t.alic %> %</td>
                <td class="text_right">$ <%= sprintf('%.2f',t.importe) %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot style="display: table-footer-group;" class="description_header">
            <tr>
              <td> <b>Total tributos</b> </td>
              <td></td>
              <td class="text_right"><b>$ <%= @invoice.total_tributos %></b> </td>
            </tr>
          </tfoot>
        </table>
        <% end %>
      </td>
      <td> <br> </td>
      <td> <br> </td>
      <td rowspan="10" style="width: 1px;"></td>
    </tr>
    <tr>
      <td class="text_right"><b><%= total_pages > 1 ? "Subtotal conceptos página:" : "Subtotal conceptos:" %></b></td>
      <td class="text_right">$
      <% if @invoice.cbte_tipo == "01" || @invoice.cbte_tipo == "02" || @invoice.cbte_tipo == "03" %>
        <%= sprintf('%.2f',total_of_page_without_bonif) %>
      <% else %>
        <%= sprintf('%.2f',total_page_iva) %>
      <% end %>
      </td>
    </tr>

    <% if @invoice.bonifications.any? %>
      <% descuentos_aplicados = 0 %>
      <% if @invoice.cbte_tipo == "01" || @invoice.cbte_tipo == "02" || @invoice.cbte_tipo == "03" %>
        <% total_de_pagina_auxiliar = total_of_page_without_bonif %>
      <% else %>
        <% total_de_pagina_auxiliar = total_page_iva %>
      <% end %>
      <% @invoice.bonifications.each_with_index do |bon, index| %>
        <tr>
          <td class="text_right"><b>Desc. <%= bon.percentage.round(0) %>%</b></td>
          <% descuentos_aplicados     += total_de_pagina_auxiliar * (bon.percentage / 100) %>
          <td class="text_right">$ <%= sprintf('%.2f', total_de_pagina_auxiliar * (bon.percentage / 100)) %></td>
          <% total_de_pagina_auxiliar -= descuentos_aplicados  %>
        </tr>
      <% end %>
      <tr>
        <td class="text_right"><b>Subtotal:</b></td>
        <td class="text_right">$ <%= sprintf('%.2f', total_de_pagina_auxiliar ) %></td>
      </tr>
    <% end %>

    <% if @invoice.cbte_tipo == "01" || @invoice.cbte_tipo == "02" || @invoice.cbte_tipo == "03" %>
      <tr>
        <td class="text_right"><b>I.V.A.:</b></td>
        <td class="text_right">$ <%= sprintf('%.2f', @invoice.imp_iva )%> </td>
      </tr>
      <% if page_number == 1 %>
      <tr>
        <td class="text_right"><b>Otros Tributos:</b></td>
        <td class="text_right">$ <%= sprintf('%.2f',@invoice.total_tributos) %></td>
      </tr>
      <tr>
        <td colspan="2"> <hr> </td>
      </tr>
      <% end %>
    <% end %>

    <tr>
      <td class="text_right"><b>Importe Total:</b></td>
      <td class="text_right"><b>$ <%= sprintf('%.2f', @invoice.total) %></b></td>
    </tr>
  </table>
</div>
