<div class="row">
  <div class="container" style="height: 400px; font-size: 10px !important; overflow: hidden;">
    <table class="width_100">
    <tr>
      <th class="description_header">Codigo</th>
      <th class="description_header">Producto/Servicio</th>
      <th class="description_header">Cantidad</th>
      <th class="description_header">Precio Unit.</th>
      <th class="description_header">Bonificación</th>
      <th class="description_header">Subtotal</th>
      <% if @invoice.cbte_tipo == "01" %>
        <th class="description_header">I.V.A.</th>
      <% end %>
      <!-- <th class="description_header">%Bonif</th>
      <th class="description_header">Imp.Bonif</th> -->
      <th class="description_header">Subtotal c/IVA</th>
    </tr>
    <% details.compact.each do |det| %>
      <tr>
        <td><%= det.product.code %></td>
        <td><%= det.product.name %></td>
        <td class="text_right"><%= det.quantity %></td>
        <!-- <%# if det.bonus_amount < 0 %>
          <td class="text_right"><%= det.price_per_unit - (det.bonus_amount / det.quantity) %></td>
        <%# else %>
          <td class="text_right"><%= det.price_per_unit %></td>
        <%# end %> -->
        <td class="text_right"><%= det.price_per_unit.round(2) %></td>
        <td class="text_right"><%= det.bonus_percentage != 0 ? det.bonus_percentage : 0.0  %></td>
        <td class="text_right"><%= (det.subtotal - det.iva_amount).round(2) %>
        <% if @invoice.cbte_tipo == "01" %>
          <td class="text_right"><%= det.iva_amount %></td>
        <% end %>
        <!-- <td class="text_right"><%= det.bonus_percentage %></td>
        <td class="text_right"><%= det.bonus_amount %></td> -->
        <td class="text_right"><%= det.subtotal %></td>
      </tr>
    <% end %>
  </table>
  </div>
</div>
<!-- FIN DEL DETALLE -->

<div class="row footer_top">
  <% if @invoice.observation.length > 0 %>
    <div class="container" style="border-style: dotted;border-width: 1px;">
      <p>
        <b>
          &nbsp Observación:
        </b>
         <%= @invoice.observation %>
      </p>
    </div>
    <br>
  <% end %>
</div>





  <div class="container border">

    <table class="width_100">
      <col>
      <col width="500">

      <tr>
        <td rowspan="10" style="width: 1px;"></td>

        <td rowspan="10">
          <% if @invoice.tributes.where("importe > 0").count > 0 %>
            Otros Tributos:
            <table style="width:75%;">
              <thead>
                <tr>
                  <th class="description_header">Descripción</th>
                  <th class="description_header">Alícuota</th>
                  <th class="description_header">Importe</th>
                </tr>
              </thead>
              <tbody>
                <% @invoice.tributes.where("importe > 0").each do |t| %>
                  <tr>
                    <td><b><%= t.desc %></b></td>
                    <td class="text_right"><%= t.alic %> %</td>
                    <td class="text_right">$ <%= sprintf('%.2f',t.importe) %></td>
                  </tr>
                <% end %>
              </tbody>
              <tfoot style="display: table-footer-group;" class="description_header">
                <tr>
                  <td> <b>Total tributos</b> </td>
                  <td></td>
                  <td class="text_right"><b>$ <%= @invoice.sum_tributes %></b> </td>
                </tr>
              </tfoot>
            </table>
          <% end %>
        </td>

        <td> <br> </td>
        <td> <br> </td>
        <td rowspan="10" style="width: 1px;"></td>
      </tr>

      <tr>
        <td class="text_right">
          <b>
            <% if total_pages > 1 %>
              Subtotal página:
            <% else %>
              Subtotal:
            <% end %>
          </b>
        </td>
        <td class="text_right">$ <%= sprintf('%.2f',total_of_page_without_bonif)  %></td>
      </tr>


      <%# if @invoice.bonification != 0  %>
        <!--<tr>
          <td class="text_right"><b> Desc. Gral (<%#= @invoice.bonification %>% - $ <%#= sprintf('%.2f',total_of_page_without_bonif * (@invoice.bonification / 100)) %>) - Subtotal:</b></td>
          <td class="text_right">$ <%#= sprintf('%.2f',total_of_page_without_bonif -=  total_of_page_without_bonif * (@invoice.bonification / 100)) %> </td>
        </tr>-->
      <%# end %>

      <% @invoice.bonifications.each_with_index do |bon,index| %>
        <tr>
          <td class="text_right"><b>Desc. <%= index + 1 %> (<%= bon.percentage %>%)</b>
          </td>
          <td class="text_right">$ <%= sprintf('%.2f',total_of_page_without_bonif * (bon.percentage / 100)) %>
          </td>
        </tr>
        <tr>
          <td class="text_right"><b>Subtotal:</b>
          </td>
          <td class="text_right">$ <%= sprintf('%.2f',total_of_page_without_bonif -=  total_of_page_without_bonif * (bon.percentage / 100)) %>
          </td>
      <% end %>

      <tr>
        <td class="text_right"><b>IVA:</b></td>
        <td class="text_right">$ <%= sprintf('%.2f', @invoice.iva_amount_sum )%> </td>
      </tr>

      <% if page_number == 1 %>
        <tr>
          <td class="text_right"><b>Otros Tributos:</b></td>
          <td class="text_right">$ <%= sprintf('%.2f',@invoice.sum_tributes) %> </td>
        </tr>
      <% end %>

      <tr>
        <td colspan="2"> <hr> </td>
      </tr>

      <tr>
        <td class="text_right"><b>Importe Total:</b></td>
        <td class="text_right"><b>$ <%= sprintf('%.2f',@invoice.total) %></b></td>
      </tr>

    </table>
  </div>
