<div class="container">
  <div class="row">
    <% if !@invoice.check_authorized_invoice %>
      <div class="text_center">
        <% if @invoice.company.environment != "production" %>
          -- ATENCIÓN: COMPROBANTE NO AUTORIZADO --
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<!--ENCABEZADO NOMBRE - TIPO - FACTURA-->
    <div class=" border">
      <table class="width_100">
        <tr style="line-height: 10px !important;">
          <th class="text_size_25 text_left header_word_break" style="text-align: center; width: 415px; line-height: 10px;"><%= @invoice.company.name %></th>
          <th class="text_size_invoice_type invoice_type"><%= Invoice.available_cbte_type(@invoice.company, @invoice.client).first.first.last %>
            <table>
              <tbody>
                <td>
                  <td style="font-size: 11px; padding: 5px;"> <br> COD.11 </td>
                </td>
              </tbody>
            </table>
          </th>
          <th class="text_size_25 header_word_break" style="width: 400px;">
            <%= @invoice.nombre_comprobante.upcase %>
          </th>
        </tr>
      </table>


      <table class="width_100" >
        <tr>
          <td rowspan="5" style="width: 1px;"></td>
          <td style="width: 50%;"> <b>Razon Social: </b> <%= @invoice.company.society_name %> </td>
          <td rowspan="5" class="right_border"></td>
          <td rowspan="5" style="width: 1px;"></td>
          <td>
            <b>Punto de Venta: <%= @invoice.sale_point.fill_name %>
              <% if !@invoice.fill_comp_number.nil? %>
               - Comp.Nro: <%= @invoice.fill_comp_number %>
              <% end %>
            </b>
          </td>
        </tr>

        <tr>
          <td><b>Domicilio Comercial:</b> <%= @invoice.company.address %></td>

          <td><b>Fecha de Emision:</b> <%= @invoice.created_at.strftime("%d/%m/%Y") %></td>
        </tr>

        <tr>
          <td><b>Condicion frente al IVA:</b> <%= @invoice.company.iva_cond %></td>

          <td ><b>CUIT: </b><%= @invoice.company.cuit %></td>
        </tr>

        <tr>
          <td><b>Fecha de Inicio de Actividades: </b> <%= @invoice.company.activity_init_date.strftime("%d/%m/%Y") %></td>

          <td><b>Ingresos Brutos: </b><%= @invoice.company.cuit %></td>
        </tr>
      </table>
    </div>
  <!-- FIN DEL ENCABEZADO -->

<!-- DATOS CLIENTE -->
<div>
  <div class="container" style="border-right: 1px solid black; border-left: 1px solid black; border-bottom: 1px solid black;">
    <table class="width_100">
    <tr>
      <td rowspan="3" style="width: 1px;"></td>
      <td style="width: 51%;"><b>CUIT: </b><%= @invoice.client.document_number %></td>
      <td><b>Cliente / Razon Social: </b> &nbsp <%= @invoice.client.name %></td>
    </tr>

    <tr>
      <td><b>Condicion frente al IVA: </b> &nbsp <%= @invoice.client.iva_cond %></td>
      <td><b>Domicilio: </b>&nbsp <%= @invoice.client.address %></td>
    </tr>

    <tr>
      <td>
        <b>Medios de pago: </b>&nbsp <%= @invoice.all_payments_string %>
      </td>
      <td>
        <% unless @invoice.associated_invoice.nil? ##|| !@invoice.is_invoice? %>
          <b> Factura asociada: </b>&nbsp <%= @invoice.invoice.full_number %>
        <% end %>
      </td>
    </tr>

  </table>
  </div>
</div>
<!-- FIN DATOS CLIENTE -->
