<%= nested_form_for @delivery_note do |form| %>
  <%= error_explanation @delivery_note %>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4 form-group">
          <%= label_tag :number, "Número de remito" %>
          <%= text_field_tag :number, @delivery_note.number || "Generado automaticamente", class: 'form-control', disabled: true %>
        </div>
        <div class="col-sm-4 form-group">
          <%= form.label :date, "Fecha" %>
          <%= form.text_field :date, class: 'form-control datepicker', required: true, disabled: !@delivery_note.editable?, value: @delivery_note.date || Date.today %>
        </div>
        <div class="col-sm-4 form-group">
          <%= form.label :state, "Estado" %>
          <div class="h4 text-center">
            <%= dn_state_label_helper(@delivery_note) %>
          </div>
        </div>
        <div class="col-sm-4 form-group">
          <%= label_tag :invoice_comp_number, "Factura" %>
          <%= autocomplete_field_tag :invoice_comp_number, params[:invoice_comp_number] || form.object.invoice_comp_number, autocomplete_invoice_delivery_notes_path, class: 'form-control delivery_note_associated-invoice-autocomplete_field', placeholder: "Número de Factura", disabled: !@delivery_note.editable?, required: true %>
          <%= form.hidden_field :invoice_id %>
        </div>
        <div class="col-sm-4 form-group">
          <div id="client_form">
            <%= render 'client_column' %>
          </div>
          <%= form.hidden_field :client_id, value: @client.id %>
        </div>
        <div class="col-sm-4 form-group">
          <%= label_tag :delivery_note_client_iva_cond, "Condicion I.V.A." %>
          <%= text_field_tag :delivery_note_client_iva_cond, @client.iva_cond, class: 'form-control', readonly: true, data_toggle:"tooltip", title:@client.iva_cond %>
        </div>
      </div>

      <div class="text-center">
        <%= link_to "#{icon('fas', 'eraser ')} Anular".html_safe, cancel_delivery_note_path(@delivery_note.id), method: :patch, class: 'btn btn-danger my-4' if @delivery_note.finalizado? %>
        <%= form.button "#{icon('fas', 'check ')} Confirmar salida".html_safe, name: 'confirm', value: 'true', class: 'btn btn-primary my-4' if @delivery_note.pendiente? && @delivery_note.persisted? %>
      </div>
    </div>
  </div>

  <div id="details_form">
    <%= render template: '/delivery_notes/details/index.html.erb', locals:{form: form} %>
  </div>

  <%= render '/delivery_notes/details/search_product' %>

  <div class="text-center">
    <%= save_button if @delivery_note.editable? %>
  </div>

<% end %>

<div class="modal fade bd-example-modal-lg" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="client_modal">
      </div>
    </div>
  </div>
</div>
