<div class="border">
  <table class="width_100">
    <col width="2%">
    <col width="48%">
    <col>
    <col width="2%">
    <col width="48%">
    <tr>
      <td></td>
      <td class="text-lg header_word_break" style="text-align: center;">
        <b>
          <%= @budget.company.name %>
        </b>
      </td>
      <td rowspan="5" class="right_border"></td>
      <td></td>
      <td class="text-lg header_word_break" style="text-align: center;">
        <b>
          PRESUPUESTO Nº
        </b>
        <b>
          <%= @budget.number %>
        </b>
      </td>
    </tr>
    <tr>
      <td rowspan="4"></td>
      <td> <br> </td>
      <td rowspan="4"></td>
      <td> <br> </td>
    </tr>
    <tr>
      <td> <b>Razon Social: </b> <%= @budget.company.society_name %></td>
      <td><b>Fecha de Emisión:</b> <%= @budget.created_at.strftime("%d/%m/%Y") %></td>
    </tr>
    <tr>
      <td><b>Domicilio Comercial:</b> <%= @budget.company.address %></td>
      <td><b>Fecha de Vencimiento:</b> <%= @budget.expiration_date.strftime("%d/%m/%Y") %></td>
    </tr>
    <tr>
      <td><b>Condicion I.V.A.:</b> <%= @budget.company.iva_cond %></td>
      <td><b>CUIT: </b><%= @budget.company.cuit %></td>
    </tr>
  </table>
</div>

<div>
  <div class="container border">
    <table class="width_100">
      <col width="2%">
      <col width="48%">
      <col width="2%">
      <col width="48%">

      <tr>
        <td rowspan="2"></td>
        <td><b>CUIT: </b><%= @budget.client.document_number %></td>
        <td rowspan="2"></td>
        <td><b>Cliente / Razon Social: </b> <%= @budget.client.name %></td>
      </tr>

      <tr>
        <td><b>Condicion I.V.A.: </b><%= @budget.client.iva_cond %></td>
        <td><b>Domicilio: </b> <%= @budget.client.address %></td>
      </tr>
    </table>
  </div>
</div>
