<%= nested_form_for @receipt do |form| %>
<%= error_explanation @receipt %>
<div class="card ">
  <div class="card-body">
    <div class="row">

      <div class="col-sm">
        <div class="form-group">
          <%= form.label :date, "Fecha" %>
          <%= form.text_field :date, class: 'form-control datepicker', required: true, disabled: !@receipt.editable? %>
        </div>
        <div class="form-group">
          <%= form.label :sale_point_id, "Punto de venta" %>
          <%= form.select :sale_point_id, options_for_select(current_user.company.sale_points.map{|sp| [sp.name, sp.id]}, @receipt.sale_point_id), {}, {class: 'form-control', disabled: !@receipt.editable?} %>
        </div>
      </div>

      <div class="col-sm">
        <div id="client_form">
          <%= render 'client_column' %>
        </div>
        <%= form.hidden_field :client_id, value: @client.id %>
        <div class="form-group">
          <%= form.label :state, "Estado" %>
          <%= form.select :state, Receipt::STATES, {},{class: 'form-control', disabled: true} %>
        </div>
      </div>

      <div class="col-sm">
        <div class="form-group">
          <%= form.label :cbte_tipo, "Tipo de recibo" %>
          <%= form.select :cbte_tipo, [['Recibo X', '00'], ['Devolución','99']], {prompt: "Seleccionar tipo de recibo"}, {class: 'form-control' , disabled: !@receipt.editable?} %>
        </div>
        <div class="form-group">
          <%= form.label :total, "Total ($)" %>
          <%= form.number_field :total, class: 'form-control', required: true, disabled: true %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :concept, "Recibo manual" %>
      <%= form.text_area :concept, class: 'form-control', rows: 2 , disabled: !@receipt.editable? %>
    </div>
  </div>
</div>

  <%= render 'details', form: form %>

  <div id="receipt_payments">
    <%= render template: '/sales/receipts/payments/index.html.erb', locals: { form: form } %>
  </div>

  <%= render 'resume', receipt: @receipt %>

  <% if @receipt.editable? %>
  <div class="row">
    <div class="col">
    </div>
    <div class="col text-center">
      <%= button_tag "#{icon('fas', 'save')} Guardar".html_safe, type: 'submit', class: 'btn btn-success', id: 'save_btn_receipt', name: 'button', value: "save" %>
    </div>
    <div class="col text-right">
      <%= button_tag "#{icon('fas', 'check')} Confirmar".html_safe, type: 'submit', class: 'btn btn-danger pull-right', id: 'confirm_btn', name: 'button', value: "confirm" if @receipt.persisted? %>
    </div>
  </div>
  <% end %>

<% end %>

<div class="modal fade bd-example-modal-lg" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="client_modal"></div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="editPaymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="edit_payment_modal"></div>
    </div>
  </div>
</div>

<%= render_modal_lg %>

<script>
  initializeReceipt()
</script>
