<%= sales_layout_helper("recibos") do %>
  <%= button_new_helper(new_receipt_path, "Nuevo recibo" )if can? :create, Receipt %>
  <div class="page-section">
    <div class="card">
      <div class="card-header">

        <%= form_tag receipts_path(), {class: 'form-inline w-100', id: 'search_form'} do %>
          <div class="row w-100">
            <div class="input-group col">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <%= icon('fas', 'plane') %>
                </div>
              </div>
              <%= text_field_tag :client, params[:client], class: 'form-control', placeholder: 'Buscar por cliente', onkeyup: 'remoteSubmit("#search_form")' %>
            </div>

            <div class="input-group col">
              <div class="input-group-prepend">
                <div class="input-group-text">
                <%= icon('fas', 'calendar') %>
              </div>
              </div>
              <%= text_field_tag :from, params[:from], class: 'form-control datepicker', placeholder: 'Fecha desde...', onchange: 'remoteSubmit("#search_form")' %>
              <%= text_field_tag :to, params[:to], class: 'form-control datepicker', placeholder: 'Fecha hasta...', onchange: 'remoteSubmit("#search_form")' %>
            </div>

            <%= button_tag "#{icon('fas', 'redo-alt')}".html_safe, type: 'button', class: 'btn btn-dark clean-filter-button' %>
          </div>
        <% end %>
      </div>

      <div id="receipts_table" class="card-body">
        <%= render 'receipts_table' %>
      </div>
    </div>
  </div>
<% end %>
