<%= sales_layout_helper("recibos") do %>
  <%= button_new_helper new_receipt_path if can? :create, Receipt %>
  <div class="page-section">
    <div class="card">
      <div class="card-header">

        <%= form_tag receipts_path(), {class: 'form-inline', id: 'search_form'} do %>

        <!-- BUSCAR POR CLIENTE -->
        <%= label_tag :client, "Cliente", class: 'sr-only' %>
        <div class="input-group mb-2 col">
          <div class="input-group-prepend">
            <div class="input-group-text"><%= icon('fas', 'plane') %></div>
          </div>
          <%= text_field_tag :client, params[:client], class: 'form-control', placeholder: 'Buscar por cliente', onkeyup: 'remoteSubmit("#search_form")' %>
        </div>
        <!-- BUSCAR POR CLIENTE -->

        <!-- BUSCAR POR FECHA -->
        <%= label_tag :created_at, "Fecha", class: 'sr-only' %>
        <div class="input-group col">
          <div class="input-group-prepend">
            <div class="input-group-text"><%= icon('fas', 'calendar') %></div>
          </div>
          <%= text_field_tag :from, params[:from], class: 'form-control datepicker', placeholder: 'Fecha desde...', onchange: 'remoteSubmit("#search_form")' %>
          <%= text_field_tag :to, params[:to], class: 'form-control datepicker', placeholder: 'Fecha hasta...', onchange: 'remoteSubmit("#search_form")' %>
        </div>
        <!-- BUSCAR POR FECHA -->
        <%= button_tag "#{icon('fas', 'times-circle')} Filtros".html_safe, type: 'button', class: 'btn btn-dark clean-filter-button' %>
        <% end %>
      </div>

      <div id="receipts_table" class="card-body">
        <%= render 'receipts_table' %>
      </div>
    </div>
  </div>
<% end %>
