<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">

      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <small class="my-0">
              Nombre
            </small>
          </div>
          <span class="text-bold"><%= @user.name %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <small class="my-0">
              DNI
            </small>
          </div>
          <span class="text-bold"><%= @user.dni %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <small class="my-0">
              Dirección
            </small>
          </div>
          <span class="text-bold"><%= @user.address %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <small class="my-0">
              Email
            </small>
          </div>
          <span class="text-bold"><%= @user.email %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <small class="my-0">
              Fecha de nacimiento
            </small>
          </div>
          <span class="text-bold"><%= @user.birthday %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <small class="my-0">
              Teléfono
            </small>
          </div>
          <span class="text-bold"><%= @user.phone %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <small class="my-0">
              Celular
            </small>
          </div>
          <span class="text-bold"><%= @user.mobile_phone %></span>
        </li>
      </ul>

    </div>

    <div class="col-md-6">

      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <small class="my-0">
              Provincia
            </small>
          </div>
          <span class="text-bold"><%= @user.province.name %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <small class="my-0">
              Localidad
            </small>
          </div>
          <span class="text-bold"><%= @user.locality.name %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <small class="my-0">
              Rol
            </small>
          </div>
          <span class="text-bold"><%= @user.role_label %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <small class="my-0">
              Estado
            </small>
          </div>
          <span class="text-bold"><%= boolean_to_icon( @user.approved) %> <%= @user.approved ? "Aprobado" : "No aprobado" %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <small class="my-0">
              Último ingreso
            </small>
          </div>
          <span class="text-bold"><%= @user.current_sign_in_at %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <small class="my-0">
              Fecha de registro
            </small>
          </div>
          <span class="text-bold"><%= l(@user.created_at) %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <small class="my-0">
              Cantidad de ingresos
            </small>
          </div>
          <span class="text-bold"><%= @user.sign_in_count %></span>
        </li>
      </ul>
    </div>
  </div>
</div>
