<div class="text-center text-sm" style="height:50px; border-style: dotted; border-width: 1px; padding-right: 10px; padding-left: 10px; overflow: hidden;">
  <%= @invoice.company.invoice_footer.html_safe if @invoice.company.invoice_footer.length > 0 %>
</div>

<table class="width_100">
  <tr>
    <td class="text-center" rowspan="2" style="width: 33%"><%= wicked_pdf_image_tag '/images/afip.png', :width => "150px" %></td>

    <td class="text-center text-bold" rowspan="2" style="width: 33% !important;">
      <% if @invoice.authorized_invoice? %>
        <% barcode    = Barby::Code25Interleaved.new(invoice_bar_code(@invoice)) %>
        <% outputter  = Barby::PngOutputter.new(barcode) %>
        <% file       = File.open(@barcode_path,'wb') {|f| f.write barcode.to_png(xdim: 1, height: 30) } %>
        <%= image_tag(@barcode_path, class: "img-responsive") %>
      <% else %>
        -- ATENCIÓN: Comprobante NO Autorizado --
        <% unless @invoice.cae.blank? %>
          <% barcode  = Barby::Code25Interleaved.new(invoice_bar_code(@invoice)) %>
          <% bar_png  = barcode.to_png(xdim:1, height: 30) %>
          <% image    = Base64.encode64(bar_png.to_s).gsub(/\s+/, "") %>
          <%= image_tag "data:image/png;base64,#{Rack::Utils.escape(image)}" %>
          <%= barcode.to_s %>
        <% end %>
      <% end %>
    </td>

    <td style="width: 34%;" class="text-right">
      <p><span class="text-bold">CAE N°: </span><%= @invoice.cae %></p>
      <p><span class="text-bold">Vencimiento CAE: </span><%= @invoice.cae_due_date.to_date %></p>
    </td>
  </tr>
</table>

<table class="width_100 text-bold lh-lg border p-2">
  <tr>
    <td class="p-2 width_50">Móvil:</td>
    <td class="p-2">Aclaración:</td>
  </tr>
  <tr>
    <td class="p-2">Firma:</td>
    <td class="p-2">DNI:</td>
  </tr>
</table>

<div class="text-center p-2">
  <%= "Página #{page_number} de #{total_pages}" %>
</div>
