<%= form_for @daily_cash_movement do |form| %>
	<div class="modal-body">
		<div class="form-group">
			<%= form.label :user_id, "Responsable" %>
			<%= form.select :user_id, current_user.company.users.map{|u| [u.name, u.id]}, {}, class: 'form-control' %>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<%= form.label :associated_document, "Documento asociado" %>
					<%= form.text_field :associated_document, class: 'form-control' %>
				</div>
			</div>
			<div class="col">
				<div class="form-group">
					<%= form.label :amount, "Monto" %>
					<%= form.text_field :amount, class: 'form-control' %>
				</div>
			</div>
		</div>
		<div class="form-group">
			<%= form.label :payment_type, "Medio" %>
			<%= form.select :payment_type, Payment::TYPES.map{|t| [t.last, t.first]}, {}, {class: 'form-control'} %>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<%= form.label :movement_type, "Tipo" %>
					<%= form.select :movement_type, DailyCashMovement::TYPES, {}, {class: 'form-control'} %>
				</div>
			</div>
			<div class="col">
				<div class="form-group">
					<%= form.label :flow, "Fecha" %>
					<%= form.select :flow, DailyCashMovement::FLOW_TYPES, {}, {class: 'form-control'} %>
				</div>
			</div>
		</div>
		<div class="form-group">
			<%= form.label :observation, "Observación" %>
			<%= form.text_area :observation, class: 'form-control' %>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
		<%= save_button %>
	</div>
<% end -%>