<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Número</th>
                <th scope="col" colspan="2">Cliente</th>
                <th scope="col">Fecha</th>
                <th scope="col">Vencimiento</th>
                <th scope="col">Total</th>
                <th scope="col">Creado por</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            <% @budgets.each do |budget| %>
                <tr>
                    <td><%= budget.number %></td>
                    <td><%= image_tag budget.client.avatar, alt: budget.client.name, class: 'avatar' %></td>
                    <td><%= budget.client.name %></td>
                    <td><%= l(budget.date) %></td>
                    <td><%= budget.expiration_date %></td>
                    <td>$<%= budget.total %></td>
                    <td><%= budget.user.name %></td>
                    <td>
                        <%= link_to icon('fas', 'eye').html_safe, budget_path(budget.id, format: :pdf), target: '_blank', class: 'btn btn-sm btn-icon btn-outline-secondary' %>
                        <%= link_to icon('fas', 'edit').html_safe, edit_budget_path(budget.id), class: 'btn btn-sm btn-icon btn-outline-secondary' %>
                        <%= link_to icon('fas', 'trash').html_safe, budget, method: :delete, data:{confirm: "¿Está seguro?"}, class: 'btn btn-sm btn-icon btn-outline-secondary' %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>