<h3 class="d-flex mb-2">
    <div class="p-2">
      	Tributos
    </div>
</h3>
<div id="saldo_disponible" class="text-muted ml-4"></div>
<div class="table-responsive-sm">
	<table class="table table-striped invoice-table" id="tributes" style="width: 100%;">
		<thead>
			<tr>
				<th scope="col">Descripción</th>
				<th scope="col">Base imponible</th>
				<th scope="col">Alícuota (%)</th>
				<th scope="col">Importe ($)</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<%= form.fields_for :tributes, (@invoice.get_default_tributes unless (!form.object.tributes.empty? || form.object.persisted?)) ,wrapper: false do |f| %>
		      	<tr class="fields">
		      		<td><%= f.hidden_field :desc, class: 'desc' %>
		      			<%= f.select :afip_id, Invoice.get_tributos(current_user.company), {prompt: "Seleccione..."}, {class: 'form-control form-control-sm afip_id', style: 'min-width: 100px;', disabled: !@invoice.editable?} %>
		      		</td>
		      		<td><%= f.number_field :base_imp, class: 'form-control form-control-sm base_imp', disabled: !@invoice.editable?, min: 0.0 %></td>
		      		<td><%= f.number_field :alic, class: 'form-control alic', disabled: !@invoice.editable?, min: 0.0 %></td>
		      		<td><%= f.number_field :importe, class: 'form-control importe', readonly: true, min: 0.0 %></td>
		      		<td>
		      			<% if @invoice.editable? %>
		      				<%= f.link_to_remove icon('fas', 'trash') %>
		      			<% end %>
		      		</td>
		     	</tr>
		    <% end %>
		</tbody>
	</table>
</div>

<% if @invoice.editable? %>
	<center>
		<div class="m-2">
			<%= form.link_to_add "#{icon('fas', 'plus')} <span class='only-desktop'>Agregar tributo</span>".html_safe, :tributes, class: 'btn btn-success', data: {target: '#tributes'}%>
		</div>
	</center>
<% end %>
