<h4><strong>Total comisionado: </strong> $<%= @commission_sum %></h4>
<p class="text-small text-muted">
  <i>Si utiliza alguno de los filtros se mostrará el total comisionado en los resultados obtenidos.</i>
</p>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Comprobante</th>
        <th>Fecha</th>
        <th>Tipo</th>
        <th>Total</th>
        <th>Porcentage</th>
        <th>COMISIÓN</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @commissions.each do |commission| %>
        <tr>
          <td><%= commission.full_number %></td>
          <td><%= commission.cbte_fch %></td>
          <td><%= commission.tipo %></td>
          <td class="text-right"><%= number_to_ars commission.total %></td>
          <td class="text-right"><%= commission.percentage %>%</td>
          <td class="text-right"><%= number_to_ars commission.total_commission %></td>
          <td class="td-action-buttons"><%= link_to icon('fas', 'edit'), edit_commission_user_path(@user.id, commission_id: commission.id), class: 'btn btn-sm btn-icon btn-outline-secondary', data:{toggle: 'modal', target: '#commissionModal', remote: true} if can? :manage, User %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @commissions %>
