<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>D.N.I.</th>
        <th>Nacimiento</th>
        <th>Estado</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.avatar, alt: user.name, class: 'avatar' %> <%= link_to user.name, user %></td>
          <td><%= user.dni %></td>
          <td><%= l(user.birthday.to_date) %></td>
          <td><%= change_state_to_user(user) %></td>
          <td class="td-action-buttons">
            <%= link_to icon('fas', 'user-tie'), roles_user_path(user), class: 'btn btn-sm btn-icon btn-outline-secondary', data: {toggle: 'modal', target: '#roleModal'}, remote: true if can? :manage, UserRole %>
            <%= link_to "#{icon('fas', 'money-bill-alt')}".html_safe, commission_user_path(user.id), class: 'btn btn-sm btn-icon btn-outline-secondary' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @users %>


<div class="modal fade bd-example-modal-lg" id="roleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="role_edit_modal">
      </div>
    </div>
  </div>
</div>
