<%= staff_layout_helper("usuarios") do %>
  <%= form_tag users_path(), {class: 'w-100 mb-3', id: 'search_form'} do %>
    <div class="row">
      <div class="col-md-4">
        <%= label_tag :name, "Nombre", class: 'sr-only' %>
        <%= text_field_tag :name, params[:name], class: 'form-control', placeholder: 'Busca por nombre', onkeyup: 'remoteSubmit("#search_form")' %>
      </div>
      <div class="col-md-4">
        <%= label_tag :document_number, "Documento", class: 'sr-only' %>
        <%= text_field_tag :document_number, params[:document_number], class: 'form-control', placeholder: 'Busca por documento', onkeyup: 'remoteSubmit("#search_form")' %>
      </div>

      <div class="col-md-4">
        <%= label_tag :state, "Estado", class: 'sr-only' %>
        <%= select_tag :state, options_for_select([["Aprobados"], ["No aprobados"]]), {prompt: 'Cualquier estado', class: 'form-control', onchange: 'remoteSubmit("#search_form")'} %>
      </div>
    </div>
  <% end %>

  <div id="users_table">
    <%= render 'users_table' %>
  </div>
<% end %>
