<div class="p-4 text-center">
  <div class="py-3">
    <%= image_tag @user.avatar, alt: @user.name, style: 'max-height:150px; max-width:300px; border-radius: 50%;' %>
  </div>
  <h4>
    <%= @user.name %>
  </h4>
  <h6>
    <small>
      <%= @user.company.name %>
    </small>
  </h6>
</div>

<div class="mb-3">
  <ul class="nav-view justify-content-center">
    <li class="nav-view-item overview">
      <%= link_to "General", user_path(@user, user_view: 'overview'), remote: true %>
    </li>
    <li class="nav-view-item activities">
      <%= link_to "Actividades", user_path(@user, user_view: 'activities'), remote: true %>
    </li>
    <li class="nav-view-item activities">
      <%= link_to "Comisiones", user_path(@user, user_view: 'commissions'), remote: true %>
    </li>
  </ul>
</div>

<div id="show_section">
	<% params[:user_view] ||= "overview" %>
	<%= render "/staff/users/partial_show_views/#{params[:user_view]}" %>
</div>
