<%= nested_form_for @credit_card do |form| %>

  <%= error_explanation @credit_card %>
  <div class="card ">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          Si trabaja con coeficientes de interés brindados por la tarjeta en cuestión, seleccione tipo de interés "coeficiente".
          <br>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <%= form.label :fav_logo, "Seleccione tarjeta" %>
            <%= form.select :fav_logo,  options_for_select(CreditCard::DEFAULT_NAMES, @credit_card.fav_logo), {}, class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-3" id="credit_card_name_div">
          <div class="form-group">
            <%= form.label :name, "Nombre" %>
            <%= form.text_field :name, class: 'form-control', required: true, placeholder: "Nombre" %>
          </div>
        </div>
        <div class="col-md-3" id="logo_div" hidden>
          <% if @credit_card.fav_logo == "credit-card"
            type = "fas"
          else
            type = "fab"
          end %>
          <div class="form-group" style="font-size:80px;">
            <center>
              <%= icon( type , @credit_card.fav_logo ).html_safe %>
            </center>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= form.label :type_of_fee, "Tipo de interés" %>
            <%= form.select :type_of_fee,  options_for_select(CreditCard::TYPES_OF_FEE, @credit_card.type_of_fee), {}, class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= form.label :enabled, "Estado" %>
            <%= form.select :enabled, options_for_select([["Habilitada",true],["Inhabilitada", false]], @credit_card.enabled), {}, {class: 'form-control'} %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- CUOTAS ASOCIADAS -->

    <div class="card ">
      <div class="card-body">

        <h3 class="d-flex mb-2">
    	    <div class="p-2">
    	      	Plan de cuotas asociadas
    	    </div>
        </h3>

        <div class="row">
          <div class="col-md">

            <div class="table-responsive">
              <table class="table" id="fees">
                <thead>
                  <tr>

                    <th scope="col">Cantidad de cuotas</th>
                    <th scope="col">T.N.A. (%)</th>
                    <th scope="col">T.E.M. (%)</th>
                    <th scope="col">Coeficiente</th>
                    <th scope="col">Porcentaje interés (%)</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <%= form.fields_for :fees, wrapper: false do |f| %>
                    <tr class="fields" id="<%= f.index %>">
                      <td>
                        <%= f.number_field :quantity, value: f.object.quantity.nil? ? 2 : f.object.quantity,  class: 'form-control form-control-sm quantity' , required: true, min: 1 %>
                        <%= f.hidden_field :credit_card_id, class: 'credit_card_id' %>
                      </td>
                      <td>
                        <%= f.number_field :tna,value: f.object.tna.nil? ? 0 : f.object.tna, class: 'form-control form-control-sm tna', readonly:  @credit_card.type_of_fee != "Coeficiente" %>
                      </td>
                      <td>
                        <%= f.number_field :tem,value: f.object.tem.nil? ? 0 : f.object.tem, class: 'form-control form-control-sm tem', readonly:  @credit_card.type_of_fee != "Coeficiente" %>
                      </td>
                      <td>
                        <%= f.number_field :coefficient,value: f.object.coefficient.nil? ? 1 : f.object.coefficient, class: 'form-control form-control-sm coefficient',  required: true, min: 1, readonly:  @credit_card.type_of_fee != "Coeficiente" %>
                      </td>
                      <td>
                        <%= f.number_field :percentage,value: f.object.percentage.nil? ? 0 : f.object.percentage, class: 'form-control form-control-sm percentage',  required: true, min: 0, readonly:  @credit_card.type_of_fee != "Porcentaje" %>
                      </td>
            					<td class="verical-align">
                        <%= f.link_to_remove icon('fas', 'trash') %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

          </div>
        </div>
        <hr>
        	<center>
        		<div class="m-2">
        			<%= form.link_to_add "#{icon('fas', 'plus')} <span class='only-desktop'>Agregar plan de cuotas</span>".html_safe, :fees, class: 'btn btn-success', data: {target: '#fees'} %>
        		</div>
        	</center>
      </div>
    </div>

  <!-- CUOTAS ASOCIADAS -->

  <center> <%= save_button %> </center>



<% end %>

<!-- <div class="modal fade bd-example-modal-lg" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="client_modal">
      </div>
    </div>
  </div>
</div> -->
