<!-- DETALLE -->
<div class="row">
  <div class="container" style="height: 950px;">
    <table class="width_100">
    <tr>
      <th class="description_header">Codigo</th>
      <th class="description_header">Producto/Servicio</th>
      <th class="description_header">Precio Unit.</th>
      <th class="description_header">Cantidad</th>
      <th class="description_header">U.Medida</th>
      <th class="description_header">Imp.Bonif</th>
      <th class="description_header">Imp.IVA</th>
      <th class="description_header">Subtotal</th>
    </tr>
    <% details.compact.each do |det| %>
      <tr>
        <td><%= det.product.code %></td>
        <td><%= det.product.name %></td>
        <% if det.bonus_amount != 0 %>
          <td class="text_right">$ <%= det.price_per_unit - (det.bonus_amount / det.quantity) %></td>
        <% else %>
          <td class="text_right">$ <%= det.price_per_unit %></td>
        <% end %>
        <td class="text_right"><%= det.quantity %></td>
        <td class="text_right"><%= det.product.measurement_unit_name %></td>
        <td class="text_right">$ <%= det.bonus_amount %></td>
        <td class="text_right">$ <%= det.iva_amount %></td>
        <td class="text_right">$ <%= det.subtotal.round(2) %></td>
      </tr>
    <% end %>
  </table>
  </div>
</div>
<!-- FIN DEL DETALLE -->



<div class="row footer_top">
  <div class="container border">
    <table class="width_100">
      <col width="600">
      <col width="100">
      <col width="20">
    <tr>
      <td class="text_right">
        <b>
          <% if total_pages > 1 %>
            Subtotal página:
          <% else %>
            Subtotal:
          <% end %>
        </b>
      </td>
      <td class="text_right"><b>$ <%= total_of_page.round(2) %></b></td>
      <td rowspan="2" ></td>
    </tr>

    <tr>
      <td class="text_right"><b>Importe Total:</b></td>
      <td class="text_right"><b>$ <%= @budget.total.round(2) %></b></td>
    </tr>
  </table>
  </div>
</div>
