<!--ENCABEZADO NOMBRE - TIPO - FACTURA-->
    <div class=" border">
      <table class="width_100">
        <col width="2%">
        <col width="48%">
        <col>
        <col width="2%">
        <col width="48%">

        <tr>
          <td> <br> </td>
        </tr>

        <tr>
          <th></th>
          <th class="text_size_25 header_word_break" style="text-align: center;"><%= @budget.company.name %></th>
          <th rowspan="5" class="right_border"></th>
          <th></th>
          <th class="text_size_25 header_word_break" style="text-align: center;">PRESUPUESTO</th>
        </tr>

        <tr>
          <td rowspan="4"></td>
          <td> <br> </td>

          <td rowspan="4"></td>
          <td> <br> </td>
        </tr>

        <tr>

          <td> <b>Razon Social: </b> <%= @budget.company.society_name %></td>

          <td><b>Fecha de Emisión:</b> <%= @budget.created_at.strftime("%d/%m/%Y") %></td>

        </tr>

        <tr>
          <td><b>Domicilio Comercial:</b> <%= @budget.company.address %></td>

          <td><b>Fecha de Vencimiento:</b> <%= @budget.expiration_date.strftime("%d/%m/%Y") %></td>

        </tr>

        <tr>

          <td><b>Condicion frente al IVA:</b> <%= @budget.company.iva_cond %></td>

          <td ><b>CUIT: </b><%= @budget.company.cuit %></td>

        </tr>

      </table>
    </div>
  <!-- FIN DEL ENCABEZADO -->

<!-- DATOS CLIENTE -->
<div>
  <div class="container border">
    <table class="width_100">
      <col width="2%">
      <col width="48%">
      <col width="2%">
      <col width="48%">

      <tr>
        <td rowspan="2"></td>
        <td><b>CUIT: </b><%= @budget.client.document_number %></td>
        <td rowspan="2"></td>
        <td><b>Cliente / Razon Social: </b> <%= @budget.client.name %></td>
      </tr>

      <tr>
        <td><b>Condicion frente al IVA: </b><%= @budget.client.iva_cond %></td>
        <td><b>Domicilio: </b> <%= @budget.client.address %></td>
      </tr>
    </table>
  </div>
</div>
<!-- FIN DATOS CLIENTE -->
