<!-- DETALLE -->
<div class="row">
  <br>
  <div class="container" style="height: 800px; overflow-y: hidden;">
    <table class="width_100 TFtable">
      <tr>
        <th class="text_left">Recibo manual: </th>
      </tr>
      <tr>
        <td class="bg-white"><%= @receipt.concept %></td>
      </tr>
    </table>

    <br>
    <br>
    <hr>
    <br>

    <% if !@receipt.invoices.blank? %>
      <table class="width_100 TFtable">
        <tr>
          <th class="text_left">
            Concepto:
          </th>
        </tr>
        <% @receipt.invoices.only_invoices.each do |i| %>
          <tr class="bg-white">
            <td>
              <% if i.real_total_left > 0 %>
                Pago parcial <%= i.name_with_comp %>  -  Importe $ <%= i.total %>
              <% else %>
                Cancelación <%= i.name_with_comp %>  -  Importe $ <%= i.total %>
              <% end %>
            </td>
          </tr>
          <% i.notes.each do |n| %>
            <tr class="bg-white">
              <td>
                Vinculación <%= n.name_with_comp %>  -  Importe $ <%= n.total %>
              </td>
            </tr>
          <% end -%>
        <% end %>
      </table>
    <% end %>

    <br>
    <br>

      <table class="width_100 TFtable">
        <tr>
          <th class="text_left">Forma de pago</th>
        </tr>

        <% (@receipt.account_movement_payments.empty? ? @receipt.invoices.map{|i| i.income_payments}.first : @receipt.account_movement_payments).each do |ip| %>
          <tr class="bg-white">
            <td>
              <% case ip.type_of_payment %>
                <% when "4" %>
                  <%= ip.payment_name %> - <%= ip.cheque_payment.entity %> - N°: <%= ip.cheque_payment.number %>
                <% when "1" %>
                  <% @installment_id = ip.card_payment.installments %>
                  <% if @installment_id != 0 %>
                    <%= ip.payment_name %> - <%= ip.card_payment.credit_card.name %> <%= ip.card_payment.credit_card.fees.find(@installment_id).quantity %> cuotas
                  <% else %>
                    <%= ip.payment_name %> - <%= ip.card_payment.credit_card.name %> pago único
                  <% end %>
                <% when "3" %>
                  <%= ip.payment_name %> - Banco <%= ip.bank_payment.bank.name %>
                <% when "7" %>
                  <%= ip.payment_name %> - Banco <%= ip.debit_payment.bank.name %>
                <% when "5" %>
                  <%= ip.payment_name %> - N° <%= ip.retention_payment.number %>
                <% when "8" %>
                  <%= ip.payment_name %> - Factura asociada: <%= ip.compensation_payment.asociatedClientInvoice %>
                <% else %>
                  <%= ip.payment_name %>
              <% end %>
              - Fecha de pago <%= ip.payment_date %> - Importe $ <%= ip.total %>
            </td>
          </tr>
        <% end %>
      </table>
  </div>
</div>
<!-- FIN DEL DETALLE -->

<div class="row footer_top">
  <div class="container border" style="padding:10px;">
    <table class="width_100">
      <col width="600">
      <col width="100">
      <tr>
        <td class="text_right"><b>Importe Total:</b></td>
        <td class="text_right"><b>$ <%= @receipt.total %></b></td>
      </tr>
    </table>
  </div>
</div>
<p><b>Recibi la suma de:  </b> <%= I18n.with_locale(:es) { @receipt.total.to_i.to_words }.capitalize %> pesos con <%= I18n.with_locale(:es) { (@receipt.total % 1 * 100).to_i.round(2).to_words } %> centavos.</p>
