<!-- DETALLE -->
<div class="row">
  <div class="container" style="height: 880px;">
    <table class="width_100 TFtable">
      <tr>
        <th class="text_left">Recibi la suma de: </th>
      </tr>
      <tr>
        <td><%= I18n.with_locale(:es) { @receipt.total.to_words }.capitalize %> pesos con <%= I18n.with_locale(:es) { (@receipt.total % 1).to_words } %> centavos.</td>
      </tr>
      <tr>
        <th class="text_left">En concepto de: </th>
      </tr>
      <tr>
        <td><%= @receipt.concept %></td>
      </tr>
    </table>

    <br>
    <br>

    <% if !@receipt.invoices.blank? %>
      <table class="width_100 TFtable">
        <tr>
          <th>
            Factura asociada
          </th>
          <th>
            Total de factura
          </th>
          <th>
            Monto abonado
          </th>
        </tr>
        <% @receipt.invoices.each do |i| %>
          <tr>
            <td>
              <%= i.full_number %>
            </td>
            <td>
              $ <%= i.total %>
            </td>
            <td>
              $ <%= @receipt.account_movement.income_payments.where(generated_by_system: true, invoice_id: i.id).first.total %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>

    <br>
    <br>

    <% @receipt.account_movement.income_payments.where(generated_by_system: false).each do |ip| %>
      #Mostrar pagos del recibo
    <% end %>

  </div>
</div>
<!-- FIN DEL DETALLE -->



<div class="row footer_top">
  <div class="container border">
    <table class="width_100">
      <col width="600">
      <col width="100">
      <tr>
        <td class="text_right"><b>Importe Total:</b></td>
        <td class="text_right"><b>$ <%= @receipt.total %></b></td>
      </tr>
  </table>
  </div>
</div>
