<!-- DETALLE -->
<div class="row">
  <br>
  <div class="container" style="height: 800px; overflow-y: hidden;">
    <table class="width_100 TFtable">
      <tr>
        <th class="text_left">Recibo manual: </th>
      </tr>
      <tr>
        <td class="bg-white"><%= @receipt.concept %></td>
      </tr>
    </table>

    <br>
    <br>
    <hr>
    <br>

    <% if !@receipt.invoices.blank? %>
      <table class="width_100 TFtable">
        <tr>
          <th class="text_left">
            Concepto:
          </th>
          <th></th>
        </tr>

        <% @parent_receipt_details.each do |rd| %>
          <% if rd.invoice.is_invoice? %>
            <tr class="bg-white">
              <td>
                <% if rd.invoice.real_total_left > 0 %>
                  Pago parcial <%= rd.invoice.name_with_comp %>
                <% else %>
                  Cancelación <%= rd.invoice.name_with_comp %>
                <% end %>
              </td>
              <td class="text_right">$ <%=  sprintf('%.2f', rd.total)%></td>
            </tr>
            <% rd.invoice.notes.each do |note| %>
              <tr class="bg-white child-note">
                <td>
                  <% if note.is_debit_note? %>
                    <% if note.real_total_left > 0 %>
                      Pago parcial <%= note.name_with_comp %>
                    <% else %>
                      Cancelación <%= note.name_with_comp %>
                    <% end %>
                  <% else %>
                    <%= note.name_with_comp %>
                  <% end %>
                </td>
                <td class="text_right">$ <%=  sprintf('%.2f', note.is_debit_note? ? @receipt.receipt_details.find_by_invoice_id(note.id).total : 0.0)%></td>
              </tr>
            <% end %>
          <% elsif rd.invoice.is_debit_note? %>
            <tr class="bg-white">
              <td>
              <% if rd.invoice.real_total_left > 0 %>
                Pago parcial <%= rd.invoice.name_with_comp %>
              <% else %>
                Cancelación <%= rd.invoice.name_with_comp %>
              <% end %>
              </td>
              <td class="text_right">$ <%=  sprintf('%.2f', rd.total)%></td>
            </tr>
          <% elsif rd.invoice.is_credit_note? %>
            <tr class="bg-white">
              <td>
                <%= rd.invoice.name_with_comp %>
              </td>
              <td class="text_right">$ 0.00</td>
            </tr>
          <% end %>
        <% end %>
          
        <tr>
          <td class="bg-white">
            <% if @receipt.account_movement.amount_available > 0 %>
              Saldo a favor futuras compras
            <% end %>
          </td>
          <td class="text_right bg-white">
            <% if @receipt.account_movement.amount_available > 0 %>
              $ <%= sprintf('%.2f', @receipt.saved_amount_available) %>
            <% end %>
          </td>
        </tr>

      </table>
    <% end %>

    <br>
    <br>

      <table class="width_100 TFtable">
        <tr>
          <th class="text_left">Forma de pago</th>
          <th></th>
        </tr>

        <% (@receipt.account_movement_payments.empty? ? @receipt.invoices.map{|i| i.income_payments}.first : @receipt.account_movement_payments).each do |ip| %>
          <tr class="bg-white">
            <td>
              <% case ip.type_of_payment %>
                <% when "4" %>
                  <%= ip.payment_name %> - <%= ip.cheque_payment.entity %> N° <%= ip.cheque_payment.number %> - Cobro: <%= ip.cheque_payment.expiration.to_formatted_s(:default) %>
                <% when "1" %>
                  <% @installment_id = ip.card_payment.installments %>
                  <% if @installment_id != 0 %>
                    <%= ip.payment_name %> - <%= ip.card_payment.credit_card.name %> <%= ip.card_payment.credit_card.fees.unscoped.find(@installment_id).quantity %> cuotas - Fecha del pago <%= ip.payment_date %>
                  <% else %>
                    <%= ip.payment_name %> - <%= ip.card_payment.credit_card.name %> pago único - Fecha del pago <%= ip.payment_date %>
                  <% end %>
                <% when "3" %>
                  <%= ip.payment_name %> - Banco <%= ip.bank_payment.bank.name %> - Fecha del pago <%= ip.payment_date %>
                <% when "7" %>
                  <%= ip.payment_name %> - Banco <%= ip.debit_payment.bank.name %> - Fecha del pago <%= ip.payment_date %>
                <% when "5" %>
                  <%= ip.payment_name %> - N° <%= ip.retention_payment.number %> - Fecha del pago <%= ip.payment_date %>
                <% when "8" %>
                  <%= ip.payment_name %> - Factura asociada: <%= ip.compensation_payment.asociatedClientInvoice %> - Fecha del pago <%= ip.payment_date %>  </b>
                <% else %>
                  <%= ip.payment_name %> - Fecha del pago <%= ip.payment_date %>
              <% end %>

            </td>
            <td class="text_right"> <b> $ <%=  sprintf('%.2f', ip.total )%> </b> </td>
          </tr>
        <% end %>
      </table>
      <br>
      <br>
  </div>
</div>
<!-- FIN DEL DETALLE -->

<div class="row footer_top">
  <div class="container border" style="padding:10px;">
    <table class="width_100">
      <col width="600">
      <col width="100">
      <tr>
        <td class="text_right"><b>Importe Total:</b></td>
        <td class="text_right"><b>$ <%= @receipt.total %></b></td>
      </tr>
    </table>
  </div>
</div>
<p><b>Recibi la suma de:  </b> <%= I18n.with_locale(:es) { @receipt.total.to_i.to_words }.capitalize %> pesos con <%= I18n.with_locale(:es) { (@receipt.total.to_s.split(".")[1]).to_i.to_words } %> centavos.</p>

<style type="text/css">
  .child-note td {
    padding-left:25px;
  }
</style>
