<div class="my-3 col-md-6 col-sm-12">
	<table>
		<tr>
			<td><strong>Nombre</strong></td>
			<td><%= @user.name %></td>
		</tr>
		<tr>
			<td><strong>Dirección:</strong></td>
			<td><%= @user.address %></td>
		</tr>
		<tr>
			<td><strong>Email:</strong></td>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<td><strong>D.N.I.:</strong></td>
			<td><%= @user.dni %></td>
		</tr>
		<tr>
			<td><strong>Fecha de nacimiento:</strong></td>
			<td><%= @user.birthday %></td>
		</tr>
		<tr>
			<td><strong>Teléfono:</strong></td>
			<td><%= @user.phone %></td>
		</tr>
		<tr>
			<td><strong>Celular:</strong></td>
			<td><%= @user.mobile_phone %></td>
		</tr>
	</table>
</div>
<div class="my-3 col-md-6 col-sm-12">
	<table>
		<tr>
			<td><strong>Provincia:</strong></td>
			<td><%= @user.province.name %></td>
		</tr>
		<tr>
			<td><strong>Localidad:</strong></td>
			<td><%= @user.locality.name %></td>
		</tr>
		<tr>
			<td><strong>Rol:</strong></td>
			<td>Gerente <!-- TODO --></td>
		</tr>
		<tr>
			<td><strong>Estado:</strong></td>
			<td><%= boolean_to_icon( @user.approved) %> <%= @user.approved ? "Aprobado" : "No aprobado" %></td>
		</tr>
		<tr>
			<td><strong>Ultimo inicio de sesión:</strong></td>
			<td><%= @user.current_sign_in_at %></td>
		</tr>
		<tr>
			<td><strong>Registrado en:</strong></td>
			<td><%= @user.created_at %></td>
		</tr>
		<tr>
			<td><strong>Cantidad de veces que inicio sesión:</strong></td>
			<td><%= @user.sign_in_count %></td>
		</tr>
	</table>
</div>
