<h5><strong>Total comisionado: </strong> $<%= @commissions.sum(:total_commission) %></h5>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Comprobante</th>
        <th>Fecha</th>
        <th>Tipo</th>
        <th>Total</th>
        <th>Comisión (%)</th>
        <th>Total comisionado</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @commissions.each do |commission| %>
      <tr>
        <td><%= commission.invoice.full_number %></td>
        <td><%= commission.invoice.cbte_fch %></td>
        <td><%= commission.invoice.tipo %></td>
        <td><%= commission.invoice.total %></td>
        <td>%<%= commission.percentage %></td>
        <td>$<%= commission.total_commission %></td>
        <td><%= link_to icon('fas', 'edit'), edit_commission_user_path(@user.id, commission_id: commission.id), class: 'btn btn-sm btn-icon btn-outline-secondary', data:{toggle: 'modal', target: '#commissionModal', remote: true} if can? :manage, User %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @commissions %>