<div class="modal-body">
    
  <%= f.fields_for :user_roles, @user.user_roles do |fr| %>
    
    <div class="form-group">
    <%= fr.label :role_id, 'Rol: ', class: 'col' %>
      <div class="col">
        <%= fr.select :role_id, options_for_select(current_user.company.roles, :id, :name),{ prompt: "Seleccione..." }, {required:true, class: 'form-control'}%>
      </div>
      <div class="col">
        <%= fr.link_to_remove "#{icon('fas', 'times')}".html_safe %>
      </div>
    </div>
  <% end %>
  <%= f.link_to_add "#{icon('fas', 'plus')}".html_safe ,:user_roles %>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
  <%= save_button %>
</div>