<div class="modal-header">
  <h5 class="modal-title" id="clientModalTitle">Editar rol de usuario</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%= nested_form_for @user  do |f| %>
    <div class="modal-body">
    
      <table class="table table-stripped" id="role_table">
        <thead>
          <th>Rol</th>
          <th></th>
        </thead>
        <tbody>
          <%= f.fields_for :user_roles, @user.user_roles, :wrapper => false do |fr| %>
          <tr class="fields">
                <td> <%= fr.select :role_id, current_user.company.roles.map{|a| [a.name, a.id]} ,{ prompt: "Seleccione..." }, {required:true, class: 'form-control form-control-sm input-group-text'}%> </td>
                <td>  <%= fr.link_to_remove "#{icon('fas', 'trash')}".html_safe, class: 'btn btn-danger' %> </td>             
          </tr>
          <% end %>
          
        </tbody>
      </table>

      <div class="row" style="text-align: right;">
        <div class="col">
          <%= f.link_to_add "#{icon('fas', 'plus')}".html_safe, :user_roles, :data => { :target => "#role_table"},class: 'btn btn-success' %>
        </div>
      </div>
    </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    <%= save_button %>
  </div>
<% end %>