<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th colspan="2">Nombre</th>
        <th>D.N.I.</th>
        <th>Nacimiento</th>
        <th>Estado</th>
        <th>Acceso</th>
        <th>Comisiones</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.avatar, alt: user.name, class: 'avatar' %></td>
          <td><%= user.name %></td>
          <td><%= user.dni %></td>
          <td><%= l(user.birthday.to_date) %></td>
          <td><%= change_state_to_user(user) %></td>
          <td>
            <%= link_to icon('fas', 'user-tie'), roles_user_path(user), class: 'btn btn-sm btn-icon btn-outline-secondary', data: {toggle: 'modal', target: '#roleModal'}, remote: true if can? :manage, UserRole %>
          </td>
          <td><%= link_to "#{icon('fas', 'money-bill-alt')}".html_safe, commission_user_path(user.id), class: 'btn btn-sm btn-icon btn-outline-secondary' %></td>
          <td>
            <%= link_to icon('fas', 'eye'), user, class: 'btn btn-sm btn-icon btn-outline-secondary' if can? :show, User %>
            <%= link_to icon('fas', 'trash'), user, method: :delete, data: { confirm: '¿Está seguro?' }, class: 'btn btn-sm btn-icon btn-outline-secondary' if can? :destroy, User %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @users %>


<div class="modal fade bd-example-modal-lg" id="roleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="role_edit_modal">
      </div>
    </div>
  </div>
</div>
