<div class="container-fluid">
  <div class="row">

    <div class="col-md-6">
      <div class="card card-fluid">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <small class="my-0">
                Nombre
              </small>
            </div>
            <span><%= @user.name %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <small class="my-0">
                DNI
              </small>
            </div>
            <span><%= @user.dni %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <small class="my-0">
                Dirección
              </small>
            </div>
            <span><%= @user.address %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <small class="my-0">
                Email
              </small>
            </div>
            <span><%= @user.email %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <small class="my-0">
                Fecha de nacimiento
              </small>
            </div>
            <span><%= @user.birthday %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <small class="my-0">
                Teléfono
              </small>
            </div>
            <span><%= @user.phone %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <small class="my-0">
                Celular
              </small>
            </div>
            <span><%= @user.mobile_phone %></span>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card card-fluid">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <small class="my-0">
                Provincia
              </small>
            </div>
            <span><%= @user.province.name %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <small class="my-0">
                Localidad
              </small>
            </div>
            <span><%= @user.locality.name %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <small class="my-0">
                Rol
              </small>
            </div>
            <span><%= @user.role_label %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <small class="my-0">
                Estado
              </small>
            </div>
            <span><%= boolean_to_icon( @user.approved) %> <%= @user.approved ? "Aprobado" : "No aprobado" %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <small class="my-0">
                Último ingreso
              </small>
            </div>
            <span><%= @user.current_sign_in_at %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <small class="my-0">
                Fecha de registro
              </small>
            </div>
            <span><%= l(@user.created_at) %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <small class="my-0">
                Cantidad de ingresos
              </small>
            </div>
            <span><%= @user.sign_in_count %></span>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
