<div class="p-4">
  <ul class="nav justify-content-center">
    <li class="nav-item bg-light rounded-left border">
      <%= link_to "Caja Chica #{icon('fas', 'money-bill-alt')}".html_safe, daily_cashes_path, data: { "skip-pjax": true }, class: 'text-dark nav-link', title: 'caja diaria' %>
    </li>
    <li class="nav-item bg-light border">
      <%= link_to "Caja Diaria #{icon('fas', 'credit-card')}".html_safe, general_payments_daily_cashes_path(), data: { "skip-pjax": true }, class: 'text-dark nav-link', title: "Información caja general" %>
    </li>
    <li class="nav-item bg-light border">
      <%= link_to "Tarjetas #{icon('fas', 'credit-card')}".html_safe, payments_card_payments_path(), data: { "skip-pjax": true }, class: 'text-dark nav-link', title: "Información de tarjetas de crédito" %>
    </li>
    <li class="nav-item bg-light border">
      <%= link_to "Cheques #{icon('fas', 'file-signature')}".html_safe, payments_cheque_payments_path(), data: { "skip-pjax": true }, class: 'text-dark nav-link', title: "Información de tarjetas de crédito" %>
    </li>
    <li class="nav-item bg-light rounded-right border">
      <%= link_to "Banco #{icon('fas', 'university')}".html_safe, payments_bank_payments_path(), data: { "skip-pjax": true }, class: 'text-dark nav-link', title: "Información de movimientos bancarios" %>
    </li>
    <li class="nav-item bg-light rounded-right border">
      <%= link_to "Retenciones #{icon('fas', 'university')}".html_safe, payments_retention_payments_path(), data: { "skip-pjax": true }, class: 'text-white bg-secondary nav-link', title: "Información de movimientos bancarios" %>
    </li>
  </ul>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
    <h2>Retenciones</h2>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h6><strong>Total hoy</strong>
            <span class="float-right h4">
              $ <%= @retention_payment %>
            </span>
          </h6>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section">
    <div class="card card-fluid">

      <div class="card-header">
        <%= form_tag payments_retention_payments_path(), {class: 'form-inline', id: 'search_form'} do %>
          <!-- BUSCAR POR FECHA -->
          <div class="input-group col-6">
            <div class="input-group-prepend">
              <div class="input-group-text"><%= icon('fas', 'calendar') %></div>
            </div>
            <%= text_field_tag :date, params[:date], class: 'form-control datepicker', placeholder: 'Buscar por fecha...', onchange: 'remoteSubmit("#search_form")' %>
          </div>
          <!-- BUSCAR POR FECHA -->
        <% end %>
      </div>

      <div class="card-body">
        <!-- MOVIMIENTOS ASOCIADOS -->
        <div id="retentions_table">
          <%= render 'retentions_table' %>
        </div>
        <!-- MOVIMIENTOS ASOCIADOS -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="showModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="clientModalTitle"><%= icon('fas', 'eye').html_safe %> Detalle del pago</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="show_modal">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <%= save_button %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="clientModalTitle"><%= icon('fas', 'edit').html_safe %> Editar pago</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="edit_modal">
      </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg" id="chargeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="clientModalTitle"><%= icon('fas', 'dollar-sign').html_safe %> Registrar pago</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="charge_modal">
      </div>
    </div>
  </div>
</div>
