<div class="modal-body">
	<div class=" mb-4">
		<ul class="list-group">
    	<li class="list-group-item d-flex justify-content-between lh-condensed">
      	<div>
        		<strong class="my-0">
          		Total:
        		</strong>
      	</div>
      	<span>$<%= @retention_payment.total %></span>
    	</li>
    	<li class="list-group-item d-flex justify-content-between lh-condensed">
      	<div>
        		<strong class="my-0">
          		Fecha:
        		</strong>
      	</div>
      	<span><%= @retention_payment.payment.payment_date %></span>
    	</li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
      	<div>
        		<strong class="my-0">
          		Número:
        		</strong>
      	</div>
      	<span><%= @retention_payment.number %></span>
    	</li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
      	<div>
        		<strong class="my-0">
          		Observación:
        		</strong>
      	</div>
      	<span><%= @retention_payment.observation %></span>
    	</li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
      	<div>
        		<strong class="my-0">
          		Tributo:
        		</strong>
      	</div>
      	<span><%= @retention_payment.tribute %></span>
    	</li>
    	<li class="list-group-item d-flex justify-content-between lh-condensed">
      	<div>
        		<strong class="my-0">
          		Generado por:
        		</strong>
      	</div>
      	<span><%= @retention_payment.generator_name %></span>
    	</li>
  </ul>
</div>

	<!-- >>>>>>>>>>>>>>>>>>>>>>>>   DOCUMENTO ASOCIADO    <<<<<<<<<<<<<<<<<<<<<<<  -->

		<% @payment = @retention_payment.payment %>

		<%= render "/payments/associated_document" %>

	<!-- >>>>>>>>>>>>>>>>>>>>>>>>  FIN DOCUMENTO ASOCIADO    <<<<<<<<<<<<<<<<<<<<<<<  -->
</div>
