<p class="h3">Conceptos</p>

<div class="card">
  <div class="card-body">
    <table class="table table-striped" id="details">
    	<thead>
    		<tr>
    			<th></th>
    			<th>Código</th>
    			<th>Producto</th>
          <th>Depósito</th>
          <th>Disponible</th>
    			<th>Salida</th>
    			<th>Observación</th>
    			<th></th>
    		</tr>
    	</thead>
    	<tbody>
    		<%= form.fields_for :delivery_note_details, wrapper: false do |f| %>
  		    <tr class="fields" id="<%= f.index %>">
			      <td>
	            <%= link_to icon('fas', 'search'), search_product_invoices_path(index_id: f.index), data:{toggle: 'modal', target:'#search_product_modal', remote: true}, class: 'btn btn-secondary w-100'  if @delivery_note.editable? %>
              <%= f.hidden_field :product_id, class: 'product_id' %>
        			<%= f.hidden_field :invoice_detail_id %>
  					</td>
	      		<td width="12%">
	      			<%= autocomplete_field_tag :code, f.object.product_code, autocomplete_product_code_products_path, class: 'delivery_note-autocomplete_field form-control code', data: { noMatchesLabel: "Crear nuevo producto." }, disabled: !@delivery_note.editable? || !f.object.invoice_detail_id.nil? %>
	      		</td>
	      		<td>
	      			<%= text_field_tag :name, f.object.product_name, class: 'form-control name', disabled: !@delivery_note.editable? || !f.object.invoice_detail_id.nil?  %>
	      		</td>
  					<td>
  						<%= f.select :depot_id, options_for_select(current_user.company.depots.order(created_at: :asc).map{|d| [d.name, d.id]}, f.object.depot_id),{ prompt: "Seleccione..." }, { class: 'form-control depot_id', disabled: !@delivery_note.editable?, readonly: f.object.invoice_detail_id?, required: true } %>
  					</td>
            <td width="9%">
              <%= f.number_field :available_product_quantity, class: 'form-control available-products', disabled: true, min: 0, step: :any %>
            </td>
            <td width="9%">
    					<%= f.number_field :quantity, class: 'form-control quantity', disabled: !@delivery_note.editable?, required: true, min: 0, step: :any %>
  					</td>
  					<td><%= f.text_area :observation, class: 'form-control', rows: 2, disabled: !@delivery_note.editable? %></td>
  					<td>
							<%= f.link_to_remove icon('fas', 'trash'), class: 'btn btn-danger' if @delivery_note.editable? %>
  					</td>
	      	</tr>
		    <% end -%>
    	</tbody>
    </table>

    <div class="text-center">
      <%= form.link_to_add "#{icon('fas', 'plus')} Agregar producto".html_safe, :delivery_note_details, class: 'btn btn-success', data: {target: '#details'} if @delivery_note.editable? %>
    </div>
  </div>
</div>
