<div class="container-fluid">
	<p class="text-muted">Información basica</p>
	<div class="card card-fluid card-shadow">
		<ul class="list-group">
    	<li class="list-group-item d-flex justify-content-between lh-condensed">
      	<div>
        		<strong class="my-0">
          		Nombre
        		</strong>
      	</div>
      	<span><%= @client.name %></span>
    	</li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
            <strong class="my-0">
              Documento
            </strong>
        </div>
        <span><%= @client.full_document %></span>
      </li>
    	<li class="list-group-item d-flex justify-content-between lh-condensed">
      	<div>
        		<strong class="my-0">
          		Condición I.V.A.
        		</strong>
      	</div>
      	<span><%= @client.iva_cond %></span>
    	</li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
            <strong class="my-0">
              Dirección
            </strong>
        </div>
        <span><%= @client.address %></span>
      </li>
	    <li class="list-group-item d-flex justify-content-between lh-condensed">
      	<div>
        		<strong class="my-0">
          		¿Cuenta corriente?
        		</strong>
      	</div>
      	<span><%= boolean_to_icon(@client.valid_for_account) %><%= @client.valid_for_account ? "Si" : "No" %> dispone de cuenta corriente.</span>
    	</li>
    	<li class="list-group-item d-flex justify-content-between lh-condensed">
      	<div>
        		<strong class="my-0">
          		Recargo
        		</strong>
      	</div>
      	<span><%= @client.recharge %></span>
    	</li>
    	<li class="list-group-item d-flex justify-content-between lh-condensed">
      	<div>
        		<strong class="my-0">
          		Día de pago
        		</strong>
      	</div>
      	<span><%= @client.payment_day %></span>
    	</li>
    	<li class="list-group-item d-flex justify-content-between lh-condensed">
      	<div>
        		<strong class="my-0">
          		Saldo
        		</strong>
      	</div>
      	<span>$<%= @client.saldo %></span>
    	</li>
    	<li class="list-group-item d-flex justify-content-between lh-condensed">
      	<div>
        		<strong class="my-0">
          		Observación
        		</strong>
      	</div>
      	<span><%= @client.observation %></span>
    	</li>
    </ul>
  </div>
  <p class="text-muted">Personal autorizado a retirar mercadería</p>
  <div class="card card-fluid card-shadow">
    <ul class="list-group">
      <% @client.authorized_personals.each do |ap| %>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
              <strong class="my-0">
                Nombre
              </strong>
          </div>
          <span><%= ap.first_name %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
              <strong class="my-0">
                Dni
              </strong>
          </div>
          <span><%= ap.dni %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
              <strong class="my-0">
                ¿Requiere de orden de compra para retirar?
              </strong>
          </div>
          <span><%= ap.need_purchase_order? ? "Si" : "No" %></span>
        </li>
        <br>
      <% end %>
    </ul>
  </div>
  <p class="text-muted">Información adicional</p>
  <div class="card card-fluid card-shadow">
    <ul class="list-group">
      <% @client.client_contacts.each do |cc| %>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
              <strong class="my-0">
                Apellido y nombre
              </strong>
          </div>
          <span><%= cc.name %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
              <strong class="my-0">
                Puesto
              </strong>
          </div>
          <span><%= cc.charge %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
              <strong class="my-0">
                Telefono
              </strong>
          </div>
          <span><%= cc.phone %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
              <strong class="my-0">
                Email
              </strong>
          </div>
          <span><%= cc.email %></span>
        </li>
        <br>
      <% end %>
    </ul>
  </div>
</div>
