<div id="client_errors"></div>
<div class="form-group">
  <div class="row">
    <div class="col">
      <%= f.label :name, "Nombre *" %>
      <%= f.text_field :name, class: 'form-control form-control-sm client_name', required: true %>
    </div>
    <div class="col">
      <%= f.label :document_number, "Documento *" %>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= f.select :document_type, Afip::DOCUMENTOS, {}, {class: 'form-control form-control-sm input-group-text client_document'} %>
        </div>
        <%= f.text_field :document_number, class: 'form-control form-control-sm', required: true %>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col">
      <%= f.label :iva_cond, "Condición I.V.A. *" %>
      <%= f.select :iva_cond, options_for_select(Client::IVA_COND, "Responsable Inscripto"),{},{class: 'form-control form-control-sm client_iva_con'} %>
    </div>
    <div class="col">
      <%= f.label :address, "Dirección" %>
      <%= f.text_field :address,class: 'form-control form-control-sm' %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col">
      <%= f.label :valid_for_account, "¿Cta. Cte.?" %><br>
      <center>
        <%= f.check_box :valid_for_account, data:{toggle: 'toggle', on: "Si", off: "No"}, class: 'toggle' %>
      </center>
    </div>
    <div class="col">
      <%= f.label :recharge, "Recargos (%)" %>
      <%= f.number_field :recharge, class: 'form-control form-control-sm', placeholder: "Serán aplicados a las facturas." %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col">
      <%= f.label :contact_1, "Contacto Fijo 1" %>
      <%= f.text_field :contact_1, class: 'form-control form-control-sm' %>
    </div>
    <div class="col">
      <%= f.label :contact_2, "Contacto Fijo 2" %>
      <%= f.text_field :contact_2, class: 'form-control form-control-sm' %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col">
      <%= f.label :payment_day, "Día de pago" %>
      <%= f.text_field :payment_day,class: 'form-control form-control-sm' %>
    </div>
    <div class="col">
      <%= f.label :observation, "Observación" %>
      <%= f.text_area :observation, class: 'form-control form-control-sm', rows:2 %>
    </div>
  </div>
</div>
<hr>
<div class="form-group">
  <div class="row">
    <div class="col">
      <%= f.label :enabled, "¿Cliente habilitado?" %><br>
      <center>
        <%= f.check_box :enabled, data:{toggle: 'toggle', on: "Si", off: "No"}, class: 'toggle enabled', onchange: 'toggleClientChecked()' %>
      </center>
    </div>
    <div class="col" style="display: none;" id="enabled_observation">
      <%= f.label :enabled_observation, "Observación" %>
      <%= f.text_area :enabled_observation, class: 'form-control form-control-sm', rows:2 %>
    </div>
  </div>
</div>
<hr>

<center><i>* Campos obligatorios</i></center>

<hr>
<h5>Contactos</h5>
<center>
  <%= f.fields_for :client_contacts do |cf| %>
    <div class="fields" id="client_contact">
      <div class="form-group">
        <div class="row">
          <div class="col-3 client_contact_col">
            <%= cf.text_field :name, class: 'form-control form-control-sm', placeholder: "Nombre" %>
          </div>
          <div class="col-3 client_contact_col">
            <%= cf.text_field :charge, class: 'form-control form-control-sm', placeholder: "Puesto" %>
          </div>
          <div class="col-3 client_contact_col">
            <%= cf.text_field :phone, class: 'form-control form-control-sm', placeholder: "Telefono" %>
          </div>
          <div class="col-3 client_contact_col">
            <%= cf.email_field :email, class: 'form-control form-control-sm', placeholder: "Email" %>
          </div>
          <div class="col">
            <%= cf.link_to_remove icon('fas', 'trash'), class: 'btn btn-seconday btn-sm' %>
          </div>
        </div>
      </div>
      <hr>
    </div>
  <% end -%>

  <%= f.link_to_add "Añadir contacto", :client_contacts, class: 'btn btn-secondary btn-sm'  %>
</center>
<hr>
<h5>Personal autorizado a retirar mercadería</h5>
<center>
  <%= f.fields_for :authorized_personals do |ap| %>
    <div class="fields" id="authorized_personal">
      <div class="form-group">
        <div class="row">
          <div class="col-6 client_contact_col">
            <%= ap.text_field :first_name, class: 'form-control form-control-sm', placeholder: "Apellido y nombre" %>
          </div>
          <div class="col-6 client_contact_col">
            <%= ap.text_field :dni, class: 'form-control form-control-sm', placeholder: "Dni" %>
          </div>
          <div class="col">
            <%= ap.link_to_remove icon('fas', 'trash'), class: 'btn btn-seconday btn-sm' %>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= ap.label :need_purchase_order, "¿Es necesaria una orden de compra para retirar el material?" %>
          </div>
        </div>
        <div class="row">
          <div class="col-6" style="text-align: right; padding-top: 5px;">
            <%= ap.label :need_purchase_order, "SI" %>
          </div>
          <div class="col-6">
            <%= ap.check_box :need_purchase_order, class: 'form-control form-control-sm' %>
          </div>
        </div>
      </div>
      <hr>
    </div>
  <% end -%>

  <%= f.link_to_add "Añadir autorizado", :authorized_personals, class: 'btn btn-secondary btn-sm'  %>
</center>
<hr>
<center>
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
  <%= save_button %>
</center>

<script type="text/javascript">
  function toggleClientChecked(){
    if($("#client_enabled").is(':checked')) 
    {
      $('#enabled_observation').hide("slow");
      $('#enabled_observation').attr("disabled",true);
    }
    else
    {
      $('#enabled_observation').show("slow");
      $('#enabled_observation').removeAttr("disabled");
    }
  };

  $(document).ready(function(){
    if($("#client_enabled").is(':checked')) 
    {
      $('#enabled_observation').hide("slow");
      $('#enabled_observation').attr("disabled",true);
    }
    else
    {
      $('#enabled_observation').show("slow");
      $('#enabled_observation').removeAttr("disabled");
    }
  });
</script>

<script type="text/javascript">

  $('.datepicker').datepicker({
      language: "es",
      dateFormat: "dd/mm/yyyy",
      todayHighlight: true,
      autoclose: true,
      startView: 2
  });

  $('.toggle').bootstrapToggle({
    onstyle: "sm btn-primary",
    offstyle: "sm btn-secondary"
  });

Event.observe(document, ‘keypress’, function(event) { if(event.keyCode
== Event.KEY_RETURN) document.getElementById(‘.client_observation’).submit();});
</script>
