<div class="row">
  <div class="col-4 text-right">
    <strong>Nombre:</strong>
  </div>
  <div class="col-8">
    <%= @client.name %>
  </div>
  <div class="col-4 text-right">
    <strong>Condición I.V.A.:</strong>
  </div>
  <div class="col-8">
    <%= @client.iva_cond %>
  </div>
  <div class="col-4 text-right">
    <strong>Documento:</strong>
  </div>
  <div class="col-8">
    <%= @client.full_document %>
  </div>
  <div class="col-4 text-right">
    <strong>Nacimiento:</strong>
  </div>
  <div class="col-8">
    <%= @client.birthday %>
  </div>
  <div class="col-4 text-right">
    <strong>¿Cuenta corriente?:</strong>
  </div>
  <div class="col-8">
    <%= boolean_to_icon(@client.valid_for_account) %><%= @client.valid_for_account ? "Si" : "No" %> dispone de cuenta corriente.
  </div>
  <div class="col-4 text-right">
    <strong>Recargo:</strong>
  </div>
  <div class="col-8">
    <%= @client.recharge %>
  </div>
  <div class="col-4 text-right">
    <strong>Dirección:</strong>
  </div>
  <div class="col-8">
    <%= @client.address %>
  </div>
  <div class="col-4 text-right">
    <strong>Día de pago:</strong>
  </div>
  <div class="col-8">
    <%= @client.payment_day %>
  </div>
  <div class="col-4 text-right">
    <strong>Saldo:</strong>
  </div>
  <div class="col-8">
    $<%= @client.saldo %>
  </div>
  <div class="col-4 text-right">
    <strong>Observación:</strong>
  </div>
  <div class="col-8">
    <%= @client.observation %>
  </div>
</div>