<%= form_tag charge_payments_cheque_payment_path(@cheque_payment) do |f| %>
  <div class="modal-body">
    <div class="form-group">
      <%= label_tag :amount, "Monto a cobrar" %>
      <%= number_field_tag :amount, @cheque_payment.total , class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag :transfer_to, "Depositar en" %>
      <%= select_tag :transfer_to, options_for_select(["Cuenta Bancaria", "Efectivo"]), {prompt: "Seleccione...", class: 'form-control'} %>
    </div>

    <div class="form-group" style="display: none;" id="bank_group">
      <%= label_tag :bank, "Banco" %>
      <%= select_tag :bank, options_for_select(current_user.company.banks.map{|b| [b.name, b.id]}),{prompt: "Seleccione...", class: 'form-control'} %>
    </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      <%= save_button %>
  </div>
<% end %>
