<div class="form-group">
  <div class="row">
    <div class="col">
      <%= f.label :state, "Estado" %>
      <%= f.select :state, ChequePayment::STATES, {prompt: "Seleccione..."}, {class: 'form-control'} %>
    </div>
    <div class="col">
      <%= f.label :origin, "Origen" %>
      <%= f.select :origin, ChequePayment::ORIGINS, {include_blank: "Seleccione..."}, {class: 'form-control'} %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col">
      <%= f.label :entity, "Banco" %>
      <%= f.text_field :entity, class: 'form-control', required: true %>
    </div>
    <div class="col">
      <%= f.label :number, "Numeración" %>
      <%= f.text_field :number, class: 'form-control', required: true %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :issuance_date, "Fecha de emisión" %><br>
  <%= f.text_field :issuance_date, class: 'form-control datepicker', requried: true, autocomplete: 'off' %>
</div>

<div class="form-group">
  <%= f.label :expiration, "Fecha de cobro" %><br>
  <%= f.text_field :expiration, class: 'form-control datepicker', requried: true, autocomplete: 'off' %>
</div>

<div class="form-group">
  <%= f.label :observation, "Observación" %><br>
  <%= f.text_area :observation, class: 'form-control', requried: true %>
</div>

<div class="form-group">
  <%= f.label :total, "Total ($)" %>
  <%= f.number_field :total, step: :any, class: 'form-control subpayment_total', requried: true %>
</div>
