<div class="page-header">
  <%= link_to new_cheque_payment_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Cheque payment
  <% end %>
  <h1>Listing cheque_payments</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @cheque_payments) do |cheque_payment| %>
            <td><%= link_to 'Show', cheque_payment %></td>
        <td><%= link_to 'Edit', edit_cheque_payment_path(cheque_payment) %></td>
        <td><%= link_to 'Destroy', cheque_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
