<div class="modal-body">
	<div class="card-shadow mb-4">
		<ul class="list-group">
          	<li class="list-group-item d-flex justify-content-between lh-condensed">
            	<div>
              		<strong class="my-0">
                		Número:
              		</strong>
            	</div>
            	<span><%= @cheque_payment.number %></span>
          	</li>
          	<li class="list-group-item d-flex justify-content-between lh-condensed">
            	<div>
              		<strong class="my-0">
                		Monto:
              		</strong>
            	</div>
            	<span>$<%= @cheque_payment.total %></span>
          	</li>
          	<li class="list-group-item d-flex justify-content-between lh-condensed">
            	<div>
              		<strong class="my-0">
                		Cliente:
              		</strong>
            	</div>
            	<span>
								<% if !@cheque_payment.payment.purchase_order_id.blank? %>
			            <%= current_user.company.name %>
			          <% else %>
			            <%= @cheque_payment.client.name %>
			          <% end %>
							</span>
          	</li>
          	<li class="list-group-item d-flex justify-content-between lh-condensed">
            	<div>
              		<strong class="my-0">
                		Vencimiento:
              		</strong>
            	</div>
            	<span><%= l(@cheque_payment.expiration) %></span>
          	</li>
          	<li class="list-group-item d-flex justify-content-between lh-condensed">
            	<div>
              		<strong class="my-0">
                		Origen:
              		</strong>
            	</div>
            	<span><%= @cheque_payment.origin %></span>
          	</li>
          	<li class="list-group-item d-flex justify-content-between lh-condensed">
            	<div>
              		<strong class="my-0">
                		Banco:
              		</strong>
            	</div>
            	<span><%= @cheque_payment.entity %></span>
          	</li>
          	<li class="list-group-item d-flex justify-content-between lh-condensed">
            	<div>
              		<strong class="my-0">
                		Observación:
              		</strong>
            	</div>
            	<span><%= @cheque_payment.observation %></span>
          	</li>
          	<li class="list-group-item d-flex justify-content-between lh-condensed">
            	<div>
              		<strong class="my-0">
                		Total:
              		</strong>
            	</div>
            	<span>$<%= @cheque_payment.total %></span>
          	</li>
          	<li class="list-group-item d-flex justify-content-between lh-condensed">
            	<div>
              		<strong class="my-0">
                		Fecha:
              		</strong>
            	</div>
            	<span><%= @cheque_payment.payment.payment_date %></span>
          	</li>
          	<li class="list-group-item d-flex justify-content-between lh-condensed">
            	<div>
              		<strong class="my-0">
                		Generado por:
              		</strong>
            	</div>
            	<span><%= @cheque_payment.generator_name %></span>
          	</li>
        </ul>
    </div>

		<!-- >>>>>>>>>>>>>>>>>>>>>>>>   DOCUMENTO ASOCIADO    <<<<<<<<<<<<<<<<<<<<<<<  -->

			<% @payment = @cheque_payment.payment %>

	    <%= render "/payments/associated_document" %>

		<!-- >>>>>>>>>>>>>>>>>>>>>>>>  FIN DOCUMENTO ASOCIADO    <<<<<<<<<<<<<<<<<<<<<<<  -->
	</div>
</div>
