<div class="card">
  <div class="card-body shadow">
    <div id="title">
        <b>Título: </b> <%= @advertisement.title %> - <b>Estado: </b> <%= @advertisement.state %>
      <hr>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <img class="card-img-top" src="<%= @advertisement.image1 %>" id="image">
      </div>
      <div class="col-md-8">
        <div class="fr-view">
          <%= @advertisement.body.html_safe %>
        </div>
      </div>
    </div>
  </div>
</div>
<center>
  <% if @advertisement.state == "No enviado" && current_user.has_advertisement_management_role? && @advertisement.persisted? %>
    <%= link_to "#{icon('fas', 'eraser ')} Anular".html_safe, cancel_advertisement_path(@advertisement.id), method: :patch, class: 'btn btn-danger' %>
    <%= link_to "#{icon('fas', 'envelope ')} Enviar".html_safe, new_sended_advertisement_path(:ad => @advertisement.id), method: :get, class: 'btn btn-primary' %>
  <% end %>
</center>
