<%= form.fields_for :income_payments, form.object.income_payments.build do |f| %>
	<% hidden_field_tag :invoice_id_for_payment, f.object.id %>
	<div class="modal-body">
		<div class="form-group">
			<%= f.label :type_of_payment, "Tipo de pago" %>
			 <%= f.select :type_of_payment, Payment::TYPES.map{|k,v| [v,k] unless k == "6"}.compact, {prompt: "Seleccione..."}, {class: 'form-control new_type_of_payment', disabled: !@invoice.editable?} %>
		</div>

		<div class="form-group">
			<%= f.label :payment_date, "Fecha" %>
			<%= f.text_field :payment_date, class: 'form-control form-control-sm datepicker', disabled: !@invoice.editable? %>
		</div>

		<%= f.hidden_field :flow, value: "income" %>
		<%= label_tag :amount_left, "Monto faltante:" %>
		<span id="total_left_venta">$<%= @invoice.total_left %></span>
		<div id="payment_detail"></div>
	</div>

	<div class="modal-footer">
	  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
	  <%= save_button %>
	</div>

<% end %>

