<div class="page-header">
  <%= link_to new_debit_payment_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Debit payment
  <% end %>
  <h1>Listing debit_payments</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @debit_payments) do |debit_payment| %>
            <td><%= link_to 'Show', debit_payment %></td>
        <td><%= link_to 'Edit', edit_debit_payment_path(debit_payment) %></td>
        <td><%= link_to 'Destroy', debit_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
