<div class="m-4">
  <h4 class="text-center"><%= icon('fas', 'money-bill-alt') %> Ingrese los datos del pago</h4>
  <%= form.fields_for :account_movement, @account_movement do |f| %>

    <%= f.hidden_field :haber, value: true %>
    <%= f.hidden_field :debe, value: false %>
    <%= f.hidden_field :active, value: false %>
    <%= hidden_field_tag :receipt_id_for_payment, @receipt.id %>

    <%= f.fields_for :account_movement_payments, @account_movement.account_movement_payments.build() do |amp| %>

      

    <% end -%>

    <center><%= button_tag "#{icon('fas', 'save')} Guardar".html_safe, type: 'submit', class: 'btn btn-primary', id: 'confirm_btn', name: 'button', value: "save_payments" %> </center>

  <% end -%>
</div>
