<div class="card shadow">
  <div class="card-body">

  	<h3 class="d-flex mb-2">
	    <div class="p-2">
	      	Pagos
	    </div>
    </h3>

    <text style="font-size: 14px;">Los pagos realizados se cargan a cuenta corriente.</text>

		<div class="table-responsive-sm">
			<table class="table table-striped receipt-table" id="payments" style="width: 100%;">
				<thead>
					<tr>
						<th scope="col">Tipo de pago</th>
						<th scope="col">Monto</th>
						<th scope="col">Fecha de pago</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<% @account_movement_payments.where(generated_by_system: false).each do |payment| %>
						<% if payment.errors.empty? %>
							<tr>
				                <td>
				                  <% case payment.type_of_payment %>
				                    <% when "4" %>
				                      <%= payment.payment_name %> - <%= payment.cheque_payment.entity %> - N°: <%= payment.cheque_payment.number %>
				                    <% when "1" %>
				                    <% @installment_id = payment.card_payment.installments %>
				                    <% if @installment_id != 0 %>
				                      <%= payment.payment_name %> - <%= payment.card_payment.credit_card.name %> <%= payment.card_payment.credit_card.fees.find(@installment_id).quantity %> cuotas
				                    <% else %>
				                      <%= payment.payment_name %> - <%= payment.card_payment.credit_card.name %> pago único
				                    <% end %>
				                    <% when "3" %>
				                      <%= payment.payment_name %> - Banco <%= payment.bank_payment.bank.name %>
				                    <% when "7" %>
				                      <%= payment.payment_name %> - Banco <%= payment.debit_payment.bank.name %>
				                    <% when "5" %>
				                      <%= payment.payment_name %> - N° <%= payment.retention_payment.number %>
				                    <% when "8" %>
				                      <%= payment.payment_name %> - Factura asociada: <%= payment.compensation_payment.asociatedClientInvoice %>
				                    <% else %>
				                      <%= payment.payment_name %>
				                  <% end %>
								</td>
								<td class="pay">$ <%= payment.total %></td>
								<td><%= payment.payment_date %></td>
								<td>
				                  <%= link_to icon('fas', 'edit'), edit_payments_payment_path(payment.id, receipt_id: @receipt.id), data: {toggle: 'modal', target: '#editPaymentModal', remote: true}, class: "btn btn-sm btn-icon btn-outline-secondary" %>
				                  <%= link_to icon('fas', 'trash'), payments_payment_path(payment.id), method: :delete, data:{confirm: "¿Está seguro?"}, class: "btn btn-sm btn-icon btn-outline-secondary"  unless (payment.errors.any? || payment.id.blank? || !@receipt.editable?) %>
			                	</td>
							</tr>
						<% end -%>
					<% end -%>
				</tbody>
			</table>
		</div>

		<div style="padding-left: 70% !important;">
          <%= label_tag :total_pagado, "Total pagado", id:'total_pagado' %>
        </div>

		<% if @receipt.editable? %>
			<center><div class="m-2">
		    	<%= button_tag "#{icon('fas', 'plus')} <span class='only-desktop'>Agregar pago</span>".html_safe, data: {toggle: 'modal', target: '#paymentModal'}, class: 'btn btn-success', type: 'button', id:'add_payment' %>
			</div></center>
		<% end -%>
	</div>
</div>

<div class="modal fade bd-example-modal-lg" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="payment_modal">
      	<%= render template: '/receipts/payments/new.html.erb', locals:{form: form} %>
      </div>
    </div>
  </div>
</div>
