<div class="container-fluid">
  <p class="text-muted">Actividades realizadas por el usuario dentro del sistema</p>
  <div class="row">
    <div class="col-md-12">
      <% @activities.each do |activity| %>
      <div class="card card-horizontal activity-card" data-link="<%= activity.link%>">
        <div class="image-left">
          <%= image_tag activity.photo, class: 'activity-img' %>
        </div>
        <div class="p-3">
          <h5><%= activity.title %></h5>
          <h6><small><%= activity.body %></small></h6>
        </div>
      </div>
      <% end -%>
    </div>
  </div>
</div>

<%= paginate @activities %>

<script type="text/javascript">
  initializeActiveNav('actividades');
</script>
