<div class="container-fluid">
  <div class="row">

    <div class="col-md">
      <p class="text-muted mb-0">Información de la empresa</p>
      <div class="card mb-5">
        <div class="card-body">
          <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <small>Nombre</small>
            <span class="float-right text-bold text-regular">
              <%= @company.name %>
            </span>
          </li>
          <li class="list-group-item">
            <small>Razón social</small>
            <span class="float-right text-bold text-regular">
              <%= @company.society_name %>
            </span>
          </li>
          <li class="list-group-item">
            <small>Código de registro</small>
            <span class="float-right text-bold text-regular">
              <%= @company.code %>
            </span>
          </li>
          <li class="list-group-item">
            <small>E-mail</small>
            <span class="float-right text-bold text-regular">
              <%= @company.email %>
            </span>
          </li>
          <li class="list-group-item">
            <small>CUIT</small>
            <span class="float-right text-bold text-regular">
              <%= @company.cuit %>
            </span>
          </li>
          <li class="list-group-item">
            <small>Condición IVA</small>
            <span class="float-right text-bold text-regular">
              <%= @company.iva_cond %>
            </span>
          </li>
          <li class="list-group-item">
            <small>Concepto</small>
            <span class="float-right text-bold text-regular">
              <%= @company.concepto_text %>
            </span>
          </li>
          <li class="list-group-item">
            <small>Moneda</small>
            <span class="float-right text-bold text-regular">
              <%= @company.moneda.capitalize %>
            </span>
          </li>
          <li class="list-group-item">
            <small>Actividad desde</small>
            <span class="float-right text-bold text-regular">
              <%= @company.activity_init_date %>
            </span>
          </li>
          <li class="list-group-item">
            <small>Contacto</small>
            <span class="float-right text-bold text-regular">
              <%= @company.contact_number %>
            </span>
          </li>
          <li class="list-group-item">
            <small>CBU</small>
            <span class="float-right text-bold text-regular">
              <%= @company.cbu %>
            </span>
          </li>
        </ul>
        </div>
      </div>
    </div>

    <div class="col-md">
      <p class="text-muted mb-0">Ubicación</p>
      <div class="card mb-5">
        <div class="card-body">
          <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <small>País</small>
            <span class="float-right text-bold text-regular">
              <%= @company.country %>
            </span>
          </li>
          <li class="list-group-item">
            <small>Provincia</small>
            <span class="float-right text-bold text-regular">
              <%= @company.province.name %>
            </span>
          </li>
          <li class="list-group-item">
            <small>Localidad</small>
            <span class="float-right text-bold text-regular">
              <%= @company.locality.name %>
            </span>
          </li>
          <li class="list-group-item">
            <small>Dirección</small>
            <span class="float-right text-bold text-regular">
              <%= @company.address %>
            </span>
          </li>
        </ul>
        </div>
      </div>

      <p class="text-muted mb-0">Información contable</p>
      <div class="card mb-5">
        <div class="card-body">
          <ul class="list-group list-group-flush">
          <% @company.sale_points.all.each do |sp| %>
          <li class="list-group-item">
            <small>Punto de venta</small>
            <span class="float-right text-bold text-regular">
              <%= sp.name %>
            </span>
          </li>
          <% end %>
        </ul>
        </div>
      </div>
    </div>

  </div>
</div>
