<%= nested_form_for @transfer_request do |form| %>
  <%= error_explanation @transfer_request %>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4 form-group">
          <%= label_tag :number, "Número de remito" %>
          <%= text_field_tag :number, @transfer_request.number || "Generado automaticamente", class: 'form-control', disabled: true %>
        </div>
        <div class="col-sm-4 form-group">
          <%= form.label :date, "Fecha" %>
          <%= form.text_field :date, class: 'form-control datepicker', required: true, disabled: !@transfer_request.editable?, value: form.object.date || Date.today %>
        </div>
        <div class="col-sm-4 form-group">
          <%= form.label :state, "Estado" %>
          <h4 class="text-center">
            <%= transfer_request_state_helper(@transfer_request) %>
          </h4>
        </div>
        <div class="col-sm-4 form-group">
          <%= form.label :from_depot_id, "Origen" %>
          <%= form.select :from_depot_id, options_for_select(current_user.company.depots.map{|depot| [depot.name, depot.id]}, form.object.from_depot_id),{prompt: "Selecione..."}, {class: 'form-control', disabled: !@transfer_request.editable?, required: true} %>
        </div>
        <div class="col-sm-4 form-group">
          <%= form.label :to_depot_id, "Destino" %>
          <%= form.select :to_depot_id, options_for_select(current_user.company.depots.map{|depot| [depot.name, depot.id]}, form.object.to_depot_id),{prompt: "Seleccione..."}, {class: 'form-control', disabled: !@transfer_request.editable?, required: true} %>
        </div>
        <div class="col-sm-4 form-group">
          <%= form.label :transporter_id, "Transportista/Responsable" %>
          <%= form.select :transporter_id, options_for_select(current_company.users.map{|u| [u.name, u.id]}), { prompt:  "Seleccione..."},{class: 'form-control', disabled: !@transfer_request.editable?, required: true}%>
        </div>
      </div>

      <div class="text-center">
        <%= button_tag "#{icon('fas', 'share')} Enviar a destino".html_safe, type: :submit, name: :deliver, value: :true, class: 'btn btn-success my-4' if @transfer_request.pendiente? && !@transfer_request.new_record? %>
        <%= link_to "#{icon('fas', 'eraser ')} Anular envío".html_safe, cancel_transfer_request_path(@transfer_request.id), method: :patch, class: 'btn btn-danger my-4' if @transfer_request.en_camino? %>
        <%= link_to "#{icon('fas', 'share')} Registrar recepción".html_safe, receive_transfer_transfer_request_path(@transfer_request.id), method: :patch, class: 'btn btn-success my-4' if @transfer_request.en_camino? %>
      </div>
    </div>
  </div>

  <%= render template: '/warehouses/transfer_requests/details/index.html.erb', locals:{form: form} %>

  <%= render '/warehouses/transfer_requests/details/search_product' %>

  <div class="text-center">
    <%= save_button if @transfer_request.editable? %>
  </div>

<% end %>
