<p class="text-muted">
  Añadí tarjetas de crédito disponibles
  <%= f.link_to_add "#{icon'fas', 'plus'} Añadir tarjeta".html_safe, :credit_cards,  class: 'btn btn-sm btn-success float-md-right', data: {target: '#credit_cards'} %>
</p>
<div class="card mb-4 card-shadow">
  <div  class="card-body table-responsive">
    <table class="table table-striped" id="credit_cards">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Saldo actual</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
         <%= f.fields_for :credit_cards, :wrapper => false do |bf| %>
          <tr class="fields">
            <td><%= bf.text_field :name, class: 'form-control', required: true, placeholder: "Nombre de la tarjeta de crédito." %></td>
            <td><%= bf.number_field :current_amount, class: 'form-control', required: true, placeholder: "Saldo a favor actual." %></td>
            <td><%= bf.link_to_remove icon('fas', 'trash'), class: 'text-danger', title: 'Eliminar tarjeta', data: { confirm: '¿Está seguro?' } %></td>
          </tr>
         <% end -%>
      </tbody>
    </table>
  </div>
</div>