<%= nested_form_for @company, html: { class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } } do |f| %>

  <%= error_explanation @company %>

  <!-- IMAGEN DE LA EMPRESA -->
  <div class="container-fluid justify-flex-content p-4 light-dark-background">
    <% if @company.logo.blank? %> 
      <p class="text-muted">Selecciona un logo para tu empresa</p>
    <% end %>
    <div class="card mb-4 card-shadow" style="width:15%;margin:auto;">
      <div class="comp_container caption captionload">
        <img src="/images/load.gif" width="80%">
      </div>
      <img class="card-img-top" src="<%= @company.logo %>" alt="Añadir imágen" id="image"  width="80%">
      <div hidden>
        <%= f.file_field :logo, :class => 'form-control', id: 'file_input' %>
      </div>
    </div>
  </div>
  <!-- IMAGEN DE LA EMPRESA -->
  <hr>
  <!-- INFORMACIÓN BÁSICA -->
    <p class="text-muted">Completa los datos principales de tu empresa</p>
    <div class="card mb-4 card-shadow">
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.label :name %>
            <%= f.text_field :name, :class => 'form-control', required: true %>
          </div>
          <div class="form-group col-md-6">
            <%= f.label :email %>
            <%= f.text_field :email, :class => 'form-control', required: true %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.label :society_name %>
            <%= f.text_field :society_name, :class => 'form-control', required: true %>
          </div>
          <div class="form-group col-md-6">
            <%= f.label :cuit %>
            <%= f.text_field :cuit, :class => 'form-control', required: true %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.label :iva_cond %>
            <%= f.select :iva_cond, ["Responsable Inscripto", "Responsable Monotributo"], {prompt: "Seleccione..."}, {:class => 'form-control', required: true} %>
          </div>
          <div class="form-group col-md-6">
            <%= f.label :concepto %>
            <%= f.select :concepto, ::Afip::CONCEPTOS, {prompt: "Seleccione..."}, {:class => 'form-control', required: true} %>
          </div>
        </div>


        <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.label :moneda %>
            <%= f.select :moneda, ::Afip::MONEDAS, {prompt: "Seleccione..."}, {:class => 'form-control', required: true} %>
          </div>
          <div class="form-group col-md-6">
            <%= f.label :activity_init_date %>
            <%= f.text_field :activity_init_date, :class => 'form-control datepicker', data: {provide: 'datepicker'}, required: true %>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.label :contact_number %>
            <%= f.text_field :contact_number, :class => 'form-control' %>
          </div>
          <div class="form-group col-md-6">
            <%= f.label :cbu %>
            <%= f.text_field :cbu, :class => 'form-control' %>
          </div>
        </div>
      </div>
    </div>
  <!-- INFORMACIÓN BÁSICA -->


  <!-- UBICACIÓN -->
  <p class="text-muted">Ingresa los datos de ubicación</p>
  <div class="card mb-4 card-shadow">
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.label :country %>
          <%= f.text_field :country, value: "Argentina", disabled: true, :class => 'form-control', required: true %>
        </div>

        <div class="form-group col-md-6">
          <%= f.label :province_id %>
          <%= f.select :province_id, options_from_collection_for_select(Province.all, :id, :name, f.object.province_id), {prompt: "Seleccione..."}, {:class => 'form-control', onchange: 'reloadLocality($(this).val(), "company_locality_id")', required: true} %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.label :locality_id %>
          <%= f.select :locality_id, options_from_collection_for_select(Locality.where(province_id: f.object.province_id).order(:name), :id, :name, f.object.locality_id), {prompt: "Seleccione..."}, {:class => 'form-control', required: true} %>
        </div>
        <div class="form-group col-md-6">
          <%= f.label :postal_code %>
          <%= f.text_field :postal_code, :class => 'form-control', required: true %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address, class: 'form-control', required: true %>
      </div>
    </div>
  </div>
  <!-- UBICACIÓN -->


  <!-- CONTABLE -->
  <p class="text-muted">
    Registra tus puntos de venta
    <%= f.link_to_add "#{icon'fas', 'plus'} Añadir punto de venta".html_safe, :sale_points,  class: 'btn btn-sm btn-success float-md-right', data: {target: '#sale_points'} %>
  </p>
  <div class="card mb-4 card-shadow">
    <div  class="card-body">
      <div id="sale_points" class="form-row">
        <%= f.fields_for :sale_points, :wrapper => false do |sf| %>
        <div class="fields form-group col-md-6 button-inside">
          <%= sf.label :name, "Punto de venta Nº" %>
          <%= sf.text_field :name, class: 'form-control', required: true %>
          <%= sf.link_to_remove icon('fas', 'times'), class: 'text-danger', title: 'Eliminar punto de venta', data: { confirm: '¿Está seguro?' } %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <!-- BANCOS -->
        <%= render '/companies/banks', f: f %>
      <!-- BANCOS -->
    </div>
    <div class="col">
      <!-- TARJETAS DE CRÉDITO -->
        <%= render '/companies/credit_cards', f: f %>
      <!-- TARJETAS DE CRÉDITO -->
    </div>
  </div>

  <!-- Nota al pie de factura -->
  <p class="text-muted">Ingresa un pie de factura (opcional)</p>
  <div class="card mb-4 card-shadow">
    <div class="card-body">
      <div class="form-group">
        <%= f.label 'Pie de factura'%>
        <%= f.text_area :invoice_footer, class: 'form-control', rows: 2 %>
      </div>
    </div>
  </div>
  <!-- Fin de pie de factura -->

  <div class="form-group">
    <div class="col-md-12">
      <center>
        <%= save_button %>
      </center>
    </div>
  </div>

<% end %>

<script type="text/javascript">

$(document).on('nested:fieldRemoved', function (event) {
  $('[required]', event.field).removeAttr('required');
});

</script>
