<!-- PIE DE PAGINA -->
<div class="row footer_bottom">

    <div class="container border">
      <table class="width_100">
        <tr>
          <td>
            <% if @delivery_note.state == "Pendiente" %>
              <b>Estado: </b><%= @delivery_note.state %>
            <% end %>
          </td>
          <td> </td>
          <td class="text_center"> <%= @delivery_note.company.name %> - <%= @delivery_note.company.address %> </td>
        </tr>
      </table>
    </div>


</div>
<br>
<div class="text_center">
  Página <%= page_number %> de <%= total_pages%>
</div>

<!-- FIN PIE DE PAGINA -->
