<% if !(@role.name == "Administrador") %>
<div id="accordion-list" class="accordion">
  <ul class="card card-fluid">
    <%= hidden_field_tag :friendly_name_tag %>
    <%= hidden_field_tag :friendly_name_position_id_tag, params[:collapse_id] %>
    <% @friendly_names.each_with_index do |fn, i| %>
      <% roles_each = @role_permissions.map{ |p| p if p.friendly_name.name == fn }.compact.sort_by{ |p| p[:description] } %>
      <a role="button" data-toggle="collapse" data-target="#role_p_collapse_<%= i %>" aria-expanded="false" aria-controls="role_p_collapse_<%= i %>" onclick="fillVarsAndToggle('<%= fn %>', <%= i %>)">
        <li role="presentation" class="card-header" >
          <div class="row">
            <div class="col-10" style="text-align: center;">
              <strong> <%= fn.upcase %> </strong>
            </div>
            <div class="col-2" style="text-align: right;">
              <span class="badge badge-pill badge-dark"><%= roles_each.count %></span>
            </div>
          </div>
        </li>
      </a>
      <div id="role_p_collapse_<%= i %>" class="card-collapse collapse" data-parent="#accordion-list">
        <ul class="card-body">          
          <% if !roles_each.blank? %>
            <% roles_each.each_with_index do |permission, j| %>
                <li id="role_permission_id_<%= permission[:id] %>" class="permission_list">
                  <div class="row">
                    <div class="col-10" style="text-align: center;">
                      <%= permission[:description] %>
                    </div>
                    <div class="col-2" style="text-align: right;">
                      <% if can? :destroy, RolePermission %>
                        <a href="#" class="btn btn-sm btn-icon btn-outline-secondary" onclick="toggleAssociation(<%= "#{@role.id}, #{permission[:id]}, #{i}, '#{fn}'"%>)"><%= icon('fas', 'trash') %></a>
                      <% end %>
                    </div>
                  </div>
                </li>
                <hr>
            <% end %>
          <% else %>
            <div class="row">
              <center>No hay permisos disponibles para revocar en esta categoria</center>
            </div>
          <% end %>
        </ul>
      </div>
    <% end %>
  </ul>
</div>
<% else %>
  <center>
    <h4>Este rol posee todos los permisos</h4>
  </center>
<% end %>


<script type="text/javascript">

  function fillVarsAndToggle(friendly_name, position) {
      
    //checkToggles(position);
  
    if ($('#role_p_collapse_' + position).hasClass("show"))
    {
      $("#permissions_wrapper").html("<center> <h4> Seleccione una categoria </h4> </center>");
    }
    else {
      $("#friendly_name_tag").val(friendly_name); 
      $("#friendly_name_position_id_tag").val(position);  
      remoteSubmit("#permissions_tag");
    }

  }

</script>
