<% if !(@role.name == "Administrador") %>
<div class="card-group" id="accordion-list" role="tablist" aria-multiselectable="false">
  <ul class="card card-fluid">
    <%= hidden_field_tag :friendly_name_tag %>
    <%= hidden_field_tag :friendly_name_position_id_tag, params[:collapse_id] %>
    <% @friendly_names.each_with_index do |fn, i| %>
      <li role="presentation" class="card-header" role="tab">
        <a role="button" class="collapsible" data-toggle="collapse" href="#role_p_collapse_<%= i %>" data-parent="#accordion-list" aria-expanded="false" aria-controls="role_p_collapse_<%= i %>" onclick='fillFriendlyName("<%= fn.to_s %>", "<%= i %>")'>
          <%= fn %>
        </a>
      </li>
      <div id="role_p_collapse_<%= i %>" class="card-collapse collapse" role="tabpanel">
        <ul class="card-body">
          <% roles_each = @role_permissions.map{ |p| p if p.friendly_name.name == fn }.compact.sort_by{ |p| p[:description] } %>
          <% if !roles_each.blank? %>
            <% roles_each.each_with_index do |permission, j| %>
                <li id="role_permission_id_<%= permission[:id] %>">
                  <div class="row">
                    <div class="col">
                      <%= permission[:description] %>
                    </div>
                    <div class="float-right">
                      <% if can? :destroy, RolePermission %>
                        <a href="#" class="btn btn-sm btn-icon btn-outline-secondary" onclick="toggleAssociation(<%= "#{@role.id}, #{permission[:id]}, #{i}, '#{fn}'"%>)"><%= icon('fas', 'trash') %></a>
                      <% end %>
                    </div>
                  </div>
                </li>
                <hr>
            <% end %>
          <% else %>
            <div class="row">
              <center>No hay permisos disponibles para revocar en esta categoria</center>
            </div>
          <% end %>
        </ul>
      </div>
    <% end %>
  </ul>
</div>
<% else %>
  <center>
    <h3>Este rol posee todos los permisos</h3>
  </center>
<% end %>


<script type="text/javascript">

  function fillFriendlyName(friendly_name, position) {
    $("#friendly_name_tag").val(friendly_name); 
    $("#friendly_name_position_id_tag").val(position);
    console.log($("#friendly_name_tag").val());
    remoteSubmit("#permissions_tag");
  }
</script>
