<div class="p-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
    <h1 class="h2">Categorías de productos</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
      </div>
    </div>
  </div>
  
  <% if can? :create, ProductCategory %>
    <%= button_new_modal_helper(new_product_category_path(), "product_category_modal") %>
  <% end %>
  
  <div class="page-section">
    <div class="card card-fluid">
      <div class="card-header">
        <!-- Buscador de productos -->
          <%= form_tag product_categories_path(), {class: 'form-inline', id: 'search_form'} do %>
              <!-- BUSCAR POR NOMBRE -->
              <%= label_tag :name, "Nombre", class: 'sr-only' %>
              <div class="input-group col">
                <div class="input-group-prepend">
                  <div class="input-group-text"><%= icon('fas', 'cubes') %></div>
                </div>
                <%= text_field_tag :name, params[:name], class: 'form-control', placeholder: 'Buscar por nombre', onkeyup: 'remoteSubmit("#search_form")' %>
              </div>
              <!-- BUSCAR POR NOMBRE -->

              <!-- BUSCAR POR PROVEEDOR -->
              <%= label_tag :supplier, "Categoría", class: 'sr-only' %>
              <div class="input-group col">
                <div class="input-group-prepend">
                  <div class="input-group-text"><%= icon('fas', 'clipboard-list') %></div>
                </div>
                <%= select_tag :supplier, options_for_select(current_user.company.suppliers.map{|s| [s.name, s.id]}), prompt: "Buscar por proveedor", class: 'form-control', placeholder: 'Buscar por proveedor', onchange: 'remoteSubmit("#search_form")' %>
              </div>
              <!-- BUSCAR POR PROVEEDOR -->
              
          <% end %>
        <!-- Buscador de productos -->
      </div>
      <div class="card-body">
        <!-- Tabla de Producto -->
          <div id="product_categories_table">
            <%= render 'product_categories_table' %>
          </div>
        <!-- Tabla de Producto -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="product_category_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="product_category_form">

      </div>
    </div>
  </div>
</div>
