<!-- DETALLE -->
<div class="row">
  <div class="container" style="height: 537px;">
    <table class="TFtable" style="font-size: 13px;">
    <tr>
      <th class="description_header">Fecha</th>

      <% case @type
        when "Crédito Fiscal" %>
          <th class="description_header">Emisor</th>
        <%when "Débito Fiscal" %>
          <th class="description_header">Destinatario</th>
      <% end %>

      <th class="description_header">Documento</th>
      <th class="description_header">Condición I.V.A.</th>
      <th class="description_header">Comprobante N°</th>
      <th class="description_header">N° Autorización</th>
      <th class="description_header">Neto</th>
      <th class="description_header">Imp. Ex.</th>
      <th class="description_header">I.V.A.</th>
      <th class="description_header">Otros Trib.</th>
      <th class="description_header">Desc.</th>
      <th class="description_header">Total</th>
    </tr>


    <% case @type
      when "Crédito Fiscal"
        details.compact.each do |det| %>
            <tr style="height: 30px;">
              <td class="text-left"><%= det.date %></td>
              <td class="text-left"><%= det.purchase_invoice.supplier.name %></td>
              <td class="text-left"><%= det.purchase_invoice.supplier.document_number %></td>
              <td class="text-left"><%= det.purchase_invoice.supplier.iva_cond %></td>
              <td class="text-left"><%= det.full_invoice %></td>
              <td class="text-left"><%= det.purchase_invoice.cae %></td>
              <td class="text-right"><%= det.purchase_invoice.net_amount.round(2) %></td>
              <td class="text-right"><%= det.purchase_invoice.imp_op_ex.round(2) %></td>
              <td class="text-right"><%= det.purchase_invoice.iva_amount.round(2) %></td>
              <td class="text-right"> - </td>
              <td class="text-right"> - </td>
              <td class="text-right"><%= det.purchase_invoice.total.round(2) %></td>
            </tr>
        <% end
      when "Débito Fiscal"
        details.compact.each do |det| %>
          <tr style="height: 30px;">
            <td class="text-left"><%= det.date %></td>
            <td class="text-left"><%= det.invoice.client.name %></td>
            <td class="text-left"><%= det.invoice.client.document_number %></td>
            <td class="text-left"><%= det.invoice.client.iva_cond %></td>
            <td class="text-left"><%= det.full_invoice %></td>
            <td class="text-left"><%= det.invoice.cae %></td>
            <td class="text-right"><%= det.invoice.imp_neto.round(2) %></td>
            <td class="text-right"><%= det.invoice.imp_op_ex.round(2) %></td>
            <td class="text-right"><%= det.invoice.imp_iva.round(2) %></td>
            <td class="text-right"><%= det.invoice.imp_trib.round(2) %></td>
            <td class="text-right"><%= det.invoice.bonifications.pluck(:amount).inject(0) { |suma, amount| suma + amount } %></td>
            <td class="text-right"><%= det.invoice.total.round(2) %></td>
          </tr>
        <% end
      end %>
  </table>
  </div>
</div>
<!-- FIN DEL DETALLE -->



<div class="row footer_top">
  <div class="container border">
    <table class="width_100">
      <col width="600">
      <col width="100">

      <% if total_pages > 1 %>
        <tr>
          <b>
            <td class="text-right">
              Subtotal IVA página:
            </td>
            <td class="text-right">
              $ <%= total_iva_of_page %>
            </td>
          </b>
        </tr>
      <% else %>
      <tr>
          <td></td>
          <td></td>
      </tr>
      <% end %>

      <tr>
        <td class="text-right"><b>TOTAL IVA:</b></td>
        <td class="text-right"><b>$ <%= total_iva.round(2) %> </b></td>
      </tr>

  </table>
  </div>
</div>
