<table class="table table-striped">
	<thead>
		<tr>
			<th>Fecha</th>
			<th>Comprobante</th>
			<th>Días</th>
			<th class="text-danger">Debe</th>
			<th class="text-success">Haber</th>
			<th>Saldo</th>
		</tr>
	</thead>
	<tbody>
	<% @account_movements.each do |am| %>
	    <tr>
	    	<td><%= l(am.created_at, format: :only_date) %></td>
	    	<td><%= am.comprobante %></td>
	    	<td><%= am.days %></td>
	    	<td class="text-danger"><%= "$#{am.total}" unless !am.debe %></td>
	    	<td class="text-success"><%= "$#{am.total}" unless !am.haber %></td>
	    	<td>$<%= am.saldo %></td>
	    </tr>
	<% end %>
	</tbody>
</table>

<%= paginate @account_movements %>