<table class="table table-striped">
	<thead>
		<tr>
			<th>Fecha</th>
			<th>Días</th>
			<th>Tipo</th>
			<th>Debe</th>
			<th>Haber</th>
			<th>Saldo</th>
		</tr>
	</thead>
	<tbody>
	<% @account_movements.each do |am| %>
	    <tr>
	    	<td><%= am.created_at %></td>
	    	<td><%= am.days %></td>
	    	<td><%= am.cbte_tipo %></td>
	    	<td><%= am.invoice.total unless !am.debe %></td>
	    	<td><%= am.receipt.total unless !am.haber %></td>
	    	<td><%= am.saldo %></td>
	    </tr>
	<% end %>
	</tbody>
</table>

<!-- HAY QUE CREAR EL ACCOUNT MOVEMENT PARA OBTENER EL SALDO.  NO SE PUEDE DE LA MANERA QUE LO VENIA HACIENDO -->