<%= form.fields_for :invoices, form.object.invoices.build do |invf| %>
	<div class="fields">
		<div class="form-group m-4">
			<%= label_tag :id, "Seleccione la factura que desea pagar" %>
			<%= autocomplete_field_tag "number_#{invf.index}", nil, autocomplete_invoice_number_invoices_path(client_id: @client.id), class: 'invoice-number-autocomplete_field form-control form-control-sm' , required: true  %>
			<%= invf.hidden_field :id, class: 'invoice_id' %>
		</div>
		<div class="payments" style="display: none;">
			<div class="info ml-4"></div>
			<%= invf.link_to_add "#{icon('fas', 'plus')} <span class='only-desktop'>Agregar pago</span>".html_safe, :payments, class: 'btn btn-sm btn-success float-right mr-4', data: {target: '#payments'}%>
			<div class="table-responsive-sm m-4">
				<table class="table table-striped invoice-table" id="payments" style="width: 100%;">
					<thead>
						<tr>
							<th scope="col">Tipo de pago</th>
							<th scope="col">Monto</th>
							<th scope="col">Fecha de pago</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<%= invf.fields_for :payments, invf.object.payments.build, wrapper: false do |f| %>
					      	<tr class="fields">
					      		<td><%= f.select :type_of_payment, Payment::TYPES.map{|k,v| [v,k]}, {}, {class: 'form-control form-control-sm', style: 'min-width: 100px;'} %></td>
					      		<td><%= f.number_field :total, class: 'form-control form-control-sm amount', default: 0.0 %></td>
					      		<td><%= f.text_field :payment_date, class: 'form-control form-control-sm datepicker' %></td>
					      		<td><%= f.link_to_remove icon('fas', 'trash') %></td>
					     	</tr>
					    <% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<% end -%>
<hr>