<%= nested_form_for @client, url: client_account_movements_create_payment_path(@client.id) do |form| %>
	<div class="p-4">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
			<h1 class="h2">
				Pago a cuenta corriente de <%= @client.name %>
			</h1>
			<%= form.link_to_add "#{icon('fas', 'plus')} <span class='only-desktop'>Agregar comprobante</span>".html_safe, :invoices, class: 'btn btn-primary', data: {target: '#invoices'}%>
		</div>
		<hr>
		<div class="page-section">
			<div class="col-6 offset-3">
				<div class="card shadow">
		    		<div id="invoices">
		    			<%= render '/clients/account_movements/add_payment_invoice', form: form %>
					</div>
					<%= save_button %>
				</div>
			</div>
		</div>
	</div>
<% end -%>
