<%= nested_form_for @client do |form| %>
	<div class="p-4">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
			<h1 class="h2">
				Pago a cuenta corriente de <%= @client.name %>
			</h1>
			<%= form.link_to_add "#{icon('fas', 'plus')} <span class='only-desktop'>Agregar pago</span>".html_safe, :invoices, class: 'btn btn-primary', data: {target: '#invoices'}%>
		</div>
		<hr>
		<div class="page-section">
    		<div id="invoices">
				<%= form.fields_for :invoices do |invf| %>
					<div class="col-6 offset-3">
						<div class="card shadow">
							<div class="form-group m-4">
								<%= invf.label :id, "Seleccione la factura que desea pagar" %>
								<%= autocomplete_field_tag :number, nil, autocomplete_invoice_number_invoices_path, class: 'invoice-number-autocomplete_field form-control form-control-sm' , required: true %>
								<%= invf.hidden_field :id, class: 'invoice_id' %>
							</div>
							<div class="table-responsive-sm m-4">
								<table class="table table-striped invoice-table" id="payments" style="width: 100%;">
									<thead>
										<tr>
											<th scope="col">Tipo de pago</th>
											<th scope="col">Monto</th>
											<th scope="col">Fecha de pago</th>
											<th scope="col"></th>
										</tr>
									</thead>
									<tbody>
										<%= invf.fields_for :payments, wrapper: false do |f| %>
									      	<tr class="fields">
									      		<td><%= f.select :type_of_payment, Payment::TYPES.map{|k,v| [v,k]}, {}, {class: 'form-control form-control-sm', style: 'min-width: 100px;'} %></td>
									      		<td class="popup">
													<%= f.number_field :total, class: 'form-control form-control-sm amount', default: 0.0 %>
											    	<span class="popuptext" id="myPopup">Esta intentando cobrar un monto superior.</span>
												</td>
									      		<td><%= f.text_field :payment_date, class: 'form-control form-control-sm datepicker' %></td>
									      		<td>
									      			<%= f.link_to_remove icon('fas', 'trash') %>
									      		</td>
									     	</tr>
									    <% end %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				<% end -%>
			</div>
		</div>
	</div>
<% end -%>
