<h3 class="d-flex mb-2">
    <div class="p-2">
      	Descuentos/Recargos
    </div>
</h3>
<div id="saldo_disponible" class="text-muted ml-4"></div>
<div class="table-responsive-sm">
	<table class="table table-striped invoice-table" id="bonifications" style="width: 100%;">
		<thead>
			<tr>
				<th scope="col">Descripción</th>
				<th scope="col">Subtotal</th>
				<th scope="col">Alícuota (%)</th>
				<th scope="col">Importe ($)</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<%= form.fields_for :bonifications, wrapper: false do |f| %>
		      	<tr class="fields">
		      		<td><%= f.text_field :observation, class: 'form-control bonif_observation', disabled: !@invoice.editable? %></td>
		      		<td><%= f.number_field :subtotal, class: 'form-control form-control-sm bonif_subtotal', readonly: true, min: 0.0, step: :any %></td>
		      		<td><%= f.number_field :percentage, class: 'form-control bonif_percentage', disabled: !@invoice.editable?, step: :any %></td>
		      		<td><%= f.number_field :amount, class: 'form-control bonif_amount', readonly: true, step: :any %></td>
		      		<td>
		      			<% if @invoice.editable? %>
		      				<%= f.link_to_remove icon('fas', 'trash') %>
		      			<% end %>
		      		</td>
		     	</tr>
		    <% end %>
		</tbody>
	</table>
</div>

<% if @invoice.editable? %>
	<center>
		<div class="m-2">
			<%= form.link_to_add "#{icon('fas', 'plus')} <span class='only-desktop'>Agregar descuento/recargo</span>".html_safe, :bonifications, class: 'btn btn-primary', data: {target: '#bonifications'}%>
		</div>
	</center>
<% end %>
