<h3 class="mb-2">
  Descuentos
</h3>
<div id="saldo_disponible" class="text-muted ml-4"></div>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="table-responsive">
        <table class="table table-striped invoice-table" id="bonifications" style="width: 100%;">
          <thead>
            <tr>
              <th style="width: 30%">Descripción</th>
              <th>Alícuota</th>
              <th>Descuento</th>
              <th>Subtotal</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= form.fields_for :bonifications, wrapper: false do |f| %>
            <tr class="fields">
              <td><%= f.text_field :observation, class: 'form-control bonif_observation', disabled: !@invoice.editable? %></td>
              <td>
                <div class="input-group">
                  <%= f.number_field :percentage, class: 'form-control bonif_percentage text-right', disabled: !@invoice.editable?, step: :any, min: 0, max: 50 %>
                  <div class="input-group-append">
                    <span class="input-group-text">%</span>
                  </div>
                </div>
              </td>
              <td>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <%= f.number_field :amount, class: 'form-control bonif_amount text-right', readonly: true, step: :any %>
                </div>
              </td>
              <td>
                <div class="input-group ">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <%= f.number_field :subtotal,class: 'form-control bonif_subtotal text-right', readonly: true, step: :any %>
                </div>
              </td>
              <td><%= f.link_to_remove icon('fas', 'trash') if @invoice.editable? %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="m-2 text-center">
      <%= form.link_to_add "#{icon('fas', 'plus')} <span class='only-desktop'>Agregar descuento</span>".html_safe, :bonifications, class: 'btn btn-secondary', data: {target: '#bonifications'}, id: 'bonifications_add_button' if @invoice.editable? %>
    </div>
  </div>
</div>
