<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Documento</th>
        <th scope="col">Vencimiento</th>
        <th scope="col">Saldo</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
      <tr>
        <td><%= link_to client.name, client %></td>
        <td><%= client.full_document %></td>
        <td><%= boolean_to_icon client.check_if_expired %></td>
        <td><%= number_to_ars client.saldo %></td>
        <td class="td-action-buttons">
          <%= link_to icon('fas', 'briefcase'), client_account_movements_path(client.id), class: 'btn btn-sm btn-icon btn-outline-secondary' if client.valid_for_account %>
          <% if can? :manage, Client %>
            <%= link_to icon('fas', 'edit'), edit_client_path(client), class: 'btn btn-sm btn-icon btn-outline-secondary' %>
            <%= link_to icon('fas', 'trash'), client, method: :delete, data: { confirm: '¿Está seguro de eliminar este cliente?' }, class: 'btn btn-sm btn-icon btn-outline-secondary' %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @clients %>
