<%= sales_layout_helper("clientes") do %>

  <%= button_new_helper(new_client_path(), "Nuevo cliente") if can? :create, Client %>

  <div class="page-section">
    <div class="card card-fluid">
      <div class="card-header">
        <%= form_tag clients_path(), {class: 'form-inline', id: 'search_form'} do %>

          <div class="input-group col">
            <div class="input-group-prepend">
              <div class="input-group-text"><%= icon('fas', 'user') %></div>
            </div>
            <%= text_field_tag :name, params[:name], class: 'form-control', placeholder: 'Buscar por nombre', onkeyup: 'remoteSubmit("#search_form")' %>
          </div>

          <div class="input-group col">
            <div class="input-group-prepend">
              <div class="input-group-text"><%= icon('fas', 'file-invoice') %></div>
            </div>
            <%= text_field_tag :document_number, params[:document_number], class: 'form-control', placeholder: 'Buscar por documento', onkeyup: 'remoteSubmit("#search_form")' %>
          </div>

          <div class="input-group col">
            <div class="input-group-prepend">
              <div class="input-group-text"><%= icon('fas', 'list') %></div>
            </div>
            <%= select_tag :expired, options_for_select([['Vencido', true], ['No vencido',false]]),{class: 'form-control', include_blank: "Seleccionar (Vencimiento)" , onchange: 'remoteSubmit("#search_form")'} %>
          </div>

          <div class="input-group col">
            <div class="input-group-prepend">
              <div class="input-group-text"><%= icon('fas', 'list') %></div>
            </div>
            <%= select_tag :valid_for_account, options_for_select([['Habilitado', true], ['No habilitado',false]]),{class: 'form-control', include_blank: "Seleccionar (Cta.Cte.)" , onchange: 'remoteSubmit("#search_form")'} %>
          </div>

          <%= button_tag "#{icon('fas', 'redo-alt')}".html_safe, type: 'button', class: 'btn btn-dark clean-filter-button' %>
        <% end %>
      </div>
      <div class="card-body">
        <h5><strong>Saldo total:</strong> $<%= current_user.company.clients.sum(:saldo).round(2) %></h5>
        <div id="clients_table">
          <%= render 'clients_table' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
