<!-- DETALLE -->
<div class="row">
  <div class="container" style="height: 770px;">
    <table class="width_100">
    <tr>
      <th class="description_header">Codigo</th>
      <th class="description_header">Producto/Servicio</th>
      <th class="description_header">Cantidad</th>
      <th class="description_header">U.Medida</th>
      <th class="description_header">Precio Unit.</th>
      <th class="description_header">Subtotal</th>
    </tr>
    <% details.compact.each do |det| %>
        <tr>
          <td><%= det.product.code %></td>
          <td><%= det.product.name %></td>
          <td class="text_right"><%= det.quantity %></td>
          <td class="text_right"><%= det.product.measurement_unit_name %></td>
          <td class="text_right"><%= det.product.price %></td>
          <td class="text_right"><%= det.total %></td>
        </tr>
    <% end %>
  </table>
  </div>
</div>
<!-- FIN DEL DETALLE -->



<div class="row footer_top">
  <div class="container border">
    <table class="width_100">
      <col width="600">
      <col width="100">
    <tr>
      <td class="text_right"><b>
        <% if total_pages > 1 %>
          Subtotal página:
        <% else %>
          Subtotal:
        <% end %>
      </b>
      </td>
      <td class="text_right"><b>$ <%= total_of_page %></b></td>
    </tr>



    <tr>
      <td class="text_right"><b>Importe Total:</b></td>
      <td class="text_right"><b>$ <%= @purchase_order.total %></b></td>
    </tr>
  </table>
  </div>
</div>
