<div class="container">
  <div class="row">
    <div class="border">
      <table class="width_100">
        <tr>
          <td><%= wicked_pdf_image_tag @purchase_order.company.logo ,:width => "150"%></td>
          <td class="width_75"><h1 class="text_size_25 text_center">ORDEN DE COMPRA</h1></td>
          <td class="width_25">
            <table class="width_100">
              <tr>
                <td>N° <%= @purchase_order.number %></td>
              </tr>
              <tr>
                <td>Fecha: <%= @purchase_order.created_at %></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!--ENCABEZADO DATOS EMPRESA -->

    <div class=" border">
      <div>
        <center>
          <%= @purchase_order.company.province.name %>, <%=@purchase_order.company.address %> - Teléfono: <%=@purchase_order.company.contact_number %>
        </center>
      </div>
      <div>
        <center>
        E-mail: <%=@purchase_order.company.email %> - CUIT: <%=@purchase_order.company.cuit %>
        <center>
      </div>
    </div>

<!--ENCABEZADO DATOS PROVEEDOR -->

    <div class=" border">
      <table class="width_100">
        <tr>
          <td><b>Departamento de Emisión: COMPRAS </b></td>

          <td><b>Proveedor N°:</b> <%=@purchase_order.supplier.id %></td>
        </tr>

        <tr>
          <td><b>Proveedor Razón Social:</b> <%= @purchase_order.supplier.name %></td>

          <td><b>Tel:</b> <%= @purchase_order.supplier.phone %></td>
        </tr>

        <tr>
          <td><b>E-mail:</b> <%= @purchase_order.supplier.email %></td>

          <td ><b>Dirección: </b><%= @purchase_order.supplier.address %></td>
        </tr>
      </table>
    </div>
  <!-- FIN DEL ENCABEZADO -->
