<%= form_tag search_product_purchase_orders_path, id: 'search_form' do %>
	<%= hidden_field_tag :index_id, params[:index_id] %>
  <div class="form-row mb-5">
      <div class="col">
  		<%= label_tag :supplier_id, "Filtro por proveedor" %>
  		<%= select_tag :supplier_id, options_for_select(current_user.company.suppliers.map{|s| [s.name, s.id]}, params[:supplier_id]), onchange: "remoteSubmit('#serach_form')", prompt: "Todos", class: 'form-control' %>
  	</div>

      <div class="col">
  		<%= label_tag :product_category_id, "Filtro por categoría" %>
  		<%= select_tag :product_category_id, options_for_select(current_user.company.product_categories.search_by_supplier(params[:supplier_id]).map{|s| [s.name, s.id]}, params[:product_category_id]), onchange: "remoteSubmit('#serach_form')", prompt: "Todos", class: 'form-control' %>
  	</div>
  </div>

  <div class="table-responsive">
  	<table class="table table-hover">
  		<thead>
  			<tr>
  				<th>Producto</th>
  				<th>Stock</th>
          <th>Depósito</th>
  				<th></th>
  			</tr>
  		</thead>
  		<tbody>
  			<% @products.each do |product| %>
  				<tr>
  					<td><%= product.name %></td>
  					<td><%= product_stock_helper(product) %></td>
            <td><%= select_tag :depot_id, options_for_select(current_user.company.depots.map{|s| [s.name, s.id]}, params[:depot_id]), class: 'form-control' %></td>
  					<td><%= button_tag icon('fas', 'check-square').html_safe, type: 'button', class: 'btn btn-sm btn-icon btn-outline-secondary', onclick: "setProduct(#{product.attributes.to_json}, #{params[:index_id]}, #{params[:depot_id]})" %></td>
  				</tr>
  			<% end -%>
  		</tbody>
  	</table>
  </div>
  <% end -%>
  
  <%= paginate @products %>
