<div class="container">
  <div class="row">
    <div class="border">
      <table class="width_100">
        <tr>
          <td class="width_25">N° <%= @arrival_note.number %></td>
          <% if @arrival_note.state == 'Anulado' %>
            <td class="width_50"><h1 class="text_size_25 text_center">REMITO ANULADO</h1></td>
          <% else %>
            <td class="width_50"><h1 class="text_size_25 text_center">REMITO </h1></td>
          <% end %>
          <td class="width_25">
            <table >
              <tr>
                <td>Fecha: <%= @arrival_note.created_at.strftime("%d/%m/%Y") %></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!--ENCABEZADO DATOS EMPRESA -->

    <div class=" border">
      <div>
        <center>
          <%= @arrival_note.company.province.name %>, <%=@arrival_note.company.address %> - Teléfono: <%=@arrival_note.company.contact_number %>
        </center>
      </div>
      <div>
        <center>
        E-mail: <%=@arrival_note.company.email %> - CUIT: <%=@arrival_note.company.cuit %>
        <center>
      </div>

    </div>

<!--ENCABEZADO DATOS PROVEEDOR -->

    <div class=" border">

      <table class="width_100">
        <tr>
          <td><b>Departamento de Emisión: DEPÓSITO </b></td>

          <td><b>Órden de Compra asociada:</b> <%=@arrival_note.purchase_order.number %></td>
        </tr>

      </table>

    </div>
  <!-- FIN DEL ENCABEZADO -->
