<%= nested_form_for @arrival_note do |form| %>
  <%= error_explanation @arrival_note %>
  <!-- HEADER -->
    <div class="card">
      <div class="card-body">
        <div class="row">
          <!-- PRIMERA COLUMNA -->
            <div class="col-sm">
              <%= render '/arrival_notes/purchase_order', form: form %>
              <div class="form-group">
                <%= form.label :depot_id, "Almacén receptor" %>
                <%= form.select :depot_id, current_user.company.depots.map{|d| [d.name, d.id]}, {prompt: "Selecciones..."}, {class: 'form-control', disabled: !@arrival_note.editable?, required: true} %>
              </div>
            </div>
          <!-- PRIMERA COLUMNA -->
          <!-- SEGUNDA COLUMNA -->
            <div class="col-sm">
              <div class="form-group">
                <%= form.label :number, "Número de remito" %>
                <%= form.text_field :number, class: 'form-control', disabled: !@arrival_note.editable?, required: true %>
              </div>
              <div class="form-group">
                <%= form.label :state, "Estado" %>
                <%= form.select :state, ArrivalNote::STATES, {}, {class: 'form-control', disabled: true} %>
              </div>

            </div>
          <!-- SEGUNDA COLUMNA -->
        </div>

        <center>
          <% if @arrival_note.state == "Finalizado" && current_user.has_stock_management_role? %>
            <%= link_to "#{icon('fas', 'eraser ')} Anular".html_safe, cancel_arrival_note_path(@arrival_note.id), method: :patch, class: 'btn btn-danger' %>
          <% end %>
        </center>
      </div>
    </div>
  <!-- HEADER -->

  <!-- DETALLES -->
    <% if @arrival_note.editable? %>
      <p class="text-muted">
        Conceptos asociados
        <%= form.link_to_add "#{icon('fas', 'plus')} Agregar producto".html_safe, :arrival_note_details, class: 'btn btn-sm btn-success float-md-right', data: {target: '#details'} %>
      </p>
    <% end %>

    <div class="card" id="arrival_details">
      <div class="card-body">
        <%= render template: '/arrival_notes/details/index.html.erb', locals:{form: form} %>
      </div>
    </div>
  <!-- DETALLES -->
    <center>
      <%= button_tag "#{icon('fas', 'save')} Guardar".html_safe, type: 'button', id: 'modal_button_an', class: 'btn btn-primary' %>
    </center>

<% end %>
