<%= nested_form_for @arrival_note do |form| %>
  <%= error_explanation @arrival_note %>

    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6 form-group">
            <%= form.label :number, "Número de remito" %>
            <%= form.text_field :number, class: 'form-control', disabled: !@arrival_note.editable?, required: true %>
          </div>

          <div class="col-sm-6 form-group">
            <%= form.label :purchase_order_id, "Orden de compra" %>
            <%= autocomplete_field_tag :purchase_order_id, form.object.purchase_order_number, autocomplete_purchase_order_arrival_notes_path, class: 'form-control arrival_note-purchase_order-autocomplete_field', id_element: ".arrival_note_purchase_order_id", placeholder: "Número de Orden de Compra aprobada", disabled: !@arrival_note.editable?, required: true %>
          </div>

          <div class="col-sm-6 form-group">
            <%= form.label :depot_id, "Almacén receptor" %>
            <%= form.select :depot_id, current_company.depots.map{|d| [d.name, d.id]}, { prompt: "Seleccione..." }, {class: 'form-control', required: true, disabled: !@arrival_note.editable? } %>
          </div>

          <div class="col-sm-6 form-group">
            <%= form.label :state, "Estado" %>
            <%= form.select :state, @arrival_note.array_of_state_values, {}, { class: 'form-control', disabled: !@arrival_note.editable?} %>
          </div>
        </div>

        <div class="text-center">
          <%= link_to "#{icon('fas', 'eraser ')} Anular".html_safe, cancel_arrival_note_path(@arrival_note.id), method: :patch, class: 'btn btn-danger' if @arrival_note.confirmado? %>
        </div>
      </div>
    </div>

    <%= render template: '/arrival_notes/details/index.html.erb', locals:{form: form} %>

    <div class="text-center">
      <%= save_button if @arrival_note.editable? %>
    </div>

<% end %>
