<%= nested_form_for @arrival_note do |form| %>
  <%= error_explanation @arrival_note %>
  <!-- HEADER -->
    <div class="card">
      <div class="card-body">
        <div class="row">
          <!-- PRIMERA COLUMNA -->
            <div class="col-sm">
              <%= render '/arrival_notes/purchase_order', form: form %>
              <div class="form-group">
                <%= form.label :depot_id, "Almacén receptor" %>
                <% if @arrival_note.editable? %>
                  <%= form.select :depot_id, current_user.company.depots.map{|d| [d.name, d.id]}, {prompt: "Selecciones..."}, {class: 'form-control', required: true} %>
                <% else %>
                  <%= form.text_field :depot_id, value: @arrival_note.depot.name, readonly: true, class: 'form-control' %>
                <% end -%>
              </div>
            </div>
          <!-- PRIMERA COLUMNA -->
          <!-- SEGUNDA COLUMNA -->
            <div class="col-sm">
              <div class="form-group">
                <%= form.label :number, "Número de remito" %>
                <%= form.text_field :number, class: 'form-control', disabled: !@arrival_note.editable?, required: true %>
              </div>
              <div class="form-group">
                <%= form.label :state, "Estado" %>
                <%= form.select :state, @arrival_note.array_of_state_values, {}, {class: 'form-control', disabled: !@arrival_note.editable?} %>
              </div>

            </div>
          <!-- SEGUNDA COLUMNA -->
        </div>

        <center>
          <% if @arrival_note.state == "Finalizado" && current_user.has_stock_management_role?  && @arrival_note.purchase_order.state != "Finalizada" %>
            <%= link_to "#{icon('fas', 'eraser ')} Anular".html_safe, cancel_arrival_note_path(@arrival_note.id), method: :patch, class: 'btn btn-danger' %>
          <% end %>
        </center>
      </div>
    </div>
  <!-- HEADER -->

  <!-- DETALLES -->
    <div class="card" id="arrival_details">
      <div class="card-body" id="idetails">
        <%= render template: '/arrival_notes/details/index.html.erb', locals:{form: form} %>
      </div>
    </div>
  <!-- DETALLES -->
    <center>
      <% if  (@arrival_note.state != "Anulado" && @arrival_note.state != "Finalizado") %>
          <%= button_tag "#{icon('fas', 'save')} Guardar remito".html_safe, type: 'button', id: 'modal_button_an', class: 'btn btn-primary' %>
      <% end %>
    </center>

<% end %>
