<h1 class="d-flex mb-2">
  <div class="p-2">
    <%= icon('fas', 'file-alt') %>
    Remitos
  </div>
  <div class="ml-auto p-2">
    <%= link_to "#{icon('fas', 'chevron-left')} Volver".html_safe, :back, class: 'btn btn-danger' %>
    <%= link_to "#{icon('fas', 'plus')} Cargar remito".html_safe, new_arrival_note_path(), class: 'btn btn-primary ' %>
  </div>
</h1>

<hr>

<div class="row">
  <%= form_tag arrival_notes_path(), {class: 'form-inline', id: 'search_form'} do %>
    <!-- BUSCAR POR PROVEEDOR -->
    <%= label_tag :purchase_order_number, "Nº Orden de compra", class: 'sr-only' %>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><%= icon('fas', 'plane') %></div>
      </div>
      <%= text_field_tag :purchase_order_number, params[:purchase_order_number], class: 'form-control', placeholder: 'Buscar por orden de compra', onkeyup: 'remoteSubmit("#search_form")' %>
    </div>
    <!-- BUSCAR POR PROVEEDOR -->

    <!-- BUSCAR POR USUARIO -->
    <%= label_tag :user_name, "Usuario", class: 'sr-only' %>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><%= icon('fas', 'user') %></div>
      </div>
      <%= text_field_tag :user_name, params[:user_name], class: 'form-control', placeholder: 'Creado por...', onkeyup: 'remoteSubmit("#search_form")' %>
    </div>
    <!-- BUSCAR POR USUARIO -->

    <!-- BUSCAR POR TIPO DE COMPROBANTE -->
    <%= label_tag :state, "Estado", class: 'sr-only' %>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><%= icon('far', 'check-square') %></div>
      </div>
      <%= select_tag :state, options_for_select(ArrivalNote::STATES, params[:state]), {prompt: 'Buscar por estado...', class: 'form-control', onchange: 'remoteSubmit("#search_form")'} %>
    </div>
    <!-- BUSCAR POR TIPO DE COMPROBANTE -->
  </div>
<% end %>

<div class="row" id="arrival_notes_table">
  <%= render 'arrival_notes_table' %>
</div>
