<%= form_with(model: product, local: true, class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host}) do |f| %>
  <%= error_explanation @product %>

  <div class="row">
    <!-- IMAGEN DEL PRODUCTO -->
    <div class="col-md-4 col-xs-12">
      <p class="text-muted">Selecciona una imágen para el producto</p>
      <div class="card mb-4 card-shadow">
        <div class="comp_container caption captionload">
          <img src="/images/load.gif" width="100%">
        </div>
        <img class="card-img-top" src="<%= @product.photo %>" alt="Añadir foto" id="image"  width="80%">
        <div hidden>
          <%= f.file_field :photo, :class => 'form-control', id: 'file_input' %>
        </div>
      </div>
    </div>
    <!-- IMAGEN DEL PRODUCTO -->

    <div class="col-md-8 col-xs-12">
      <!-- INFORMACIÓN BÁSICA -->
      <p class="text-muted">Completa los datos principales del producto</p>
      <div class="card mb-4 card-shadow">
          <div class="card-body">

            <div class="form-group row">
              <%= f.label :product_id, "Pertenece a",class: 'col-sm-2 col-form-label' %>
              <div class="col-sm-10">
                <%= autocomplete_field_tag :code, f.object.parent_code, autocomplete_product_code_products_path(), class: 'form-control', placeholder: "Ingrese el código del producto padre.", id_element: "#product_product_id" %>
                <%= f.hidden_field :product_id %>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-4">
                <%= f.label :name, "Nombre*" %>
                <%= f.text_field :name, :class => 'form-control', required: true %>
              </div>
              <div class="form-group col-md-4">
                <%= f.label :code, "Código interno*" %>
                <%= f.text_field :code, :class => 'form-control', required: true %>
              </div>
              <div class="form-group col-md-4">
                <%= f.label :measurement_unit, "Medida" %>
                <div class="input-group mb-3">
                  <%= f.text_field :measurement, :class => 'form-control col-8' %>
                  <div class="input-group-append col-4 p-0">
                    <%= f.select :measurement_unit, Product::MEASUREMENT_UNITS.map{|k,v| [v, k]},{ prompt: "Seleccione..."}, class: ' form-control input-group-text' %>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-4">
                <%= f.label :supplier_id, "Proveedor" %>
                <div class="input-group mb-3" id="supplier">
                  <%= f.select :supplier_id, current_user.company.suppliers.all.map{|pc| [pc.name, pc.id]}, {include_blank: "Sin proveedor"}, {:class => 'form-control'} %>
                  <div class="input-group-append p-0">
                    <%= link_to icon('fas', 'plus'), new_supplier_path(), data:{remote: true, toggle: 'modal', target: '#supplier_modal'}, class: 'btn btn-success' %>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <%= f.label :product_category_id, "Categoría" %>
                <div class="input-group mb-3" id="category">
                  <%= f.select :product_category_id, current_user.company.product_categories.all.order("name ASC").map{|pc| [pc.name, pc.id]}, {include_blank: "Sin categoría"}, {:class => 'form-control'} %>
                  <div class="input-group-append p-0">
                    <%= link_to icon('fas', 'plus'), new_product_category_path(), data:{remote: true, toggle: 'modal', target: '#product_category_modal'}, class: 'btn btn-success' %>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <%= f.label :supplier_code, "Código de provedor" %>
                <%= f.text_field :supplier_code, :class => 'form-control' %>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <%= f.label :minimum_stock, "Stock mínimo" %>
                <%= f.number_field :minimum_stock, class: 'form-control', placeholder: "Se alertará al alcanzar este valor." %>
              </div>
              <div class="form-group col-md-6">
                <%= f.label :recommended_stock, "Stock recomendado" %>
                <%= f.number_field :recommended_stock, class: 'form-control', placeholder: "Parámetro guia para nueva orden de compra." %>
              </div>
            </div>

          </div>
      </div>
      <!-- INFORMACIÓN BÁSICA -->


      <!-- COSTOS Y GANANCIAS -->
      <p class="text-muted">Ingresa los costos y precio del producto</p>
      <div class="card mb-4 card-shadow">
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <%= f.label :cost_price, "Precio de costo*" %>
              <%= f.number_field :cost_price, :class => 'form-control', step: '.01' %>
            </div>
            <div class="form-group col-md-6">
              <%= f.label :gain_margin, "Márgen de ganancia (%)*" %>
              <%= f.number_field :gain_margin, :class => 'form-control', step: '.01' %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <%= f.label :net_price, "Precio bruto*" %>
              <%= f.number_field :net_price, :class => 'form-control', step: '.01' %>
            </div>
            <div class="form-group col-md-6">
              <%= f.label :iva_aliquot, "Alícuota de IVA" %>
              <%= f.select :iva_aliquot, Afip::ALIC_IVA.map{|iva, id| [id, iva]}, {}, {class: 'form-control'} %>
            </div>
          </div>

          <div class="form-row justify-content-end">
            <div class="form-group col-md-6">
              <%= f.label :price, "Precio final*" %>
              <%= f.number_field :price, :class => 'form-control', required: true, step: '.01' %>
            </div>
          </div>
        </div>
      </div>
      <!-- COSTOS Y GANANCIAS -->
    </div>
  </div>
  <center>
    <%= save_button %>
  </center>
<% end %>

<div class="modal fade bd-example-modal-lg" id="product_category_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="product_category_form">
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="supplier_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="supplier_form">
      </div>
    </div>
  </div>
</div>
