<div class="modal fade bd-example-modal-lg" id="importModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="clientModalTitle"><%= icon('fas', 'plus') %> Importar productos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag import_products_path(), multipart: true  do %>
        <div class="modal-body">
            <ol>
              <h5>Para importar productos siga estos pasos:</h5>
              <li>
                Seleccione a que proveedor pertenecen los productos que esta por importar. En caso de que no pertenezcan a ninguno debe dejar vacío este campo.
                <center>
                  <%= select_tag :supplier_id, options_for_select(current_user.company.suppliers.map{|s| [s.name, s.id]}), {include_blank: "Seleccione...", class: 'form-control col-6'} %>
                </center>
              </li>
              <li>
                Seleccione el depósito al cual estarán asociados los productos.
                <center>
                  <%= select_tag :depot_id, options_for_select(current_user.company.depots.map{|s| [s.name, s.id]}), {include_blank: "Seleccione...",class: 'form-control col-6'} %>
                </center>
              </li>
              <li>
                Seleccione en que forma impactará en el inventario. <br>
                <b>Cantidad disponible:</b> los valores de la columna Stock (en el archivo importado) reemplazarán las cantidades actuales en stock para cada producto.<br>
                <b>Sumar a stock actual:</b> sumará las cantidades de la columna Stock (del archivo importado) a las cantidades actuales de stock de cada producto.<br>
                <i>Recuerde que las asociaciones entre productos en el sistema y productos en el archivo se hace mediante el campo "Código de producto".</i>
                <center>
                  <%= select_tag :type_of_movement, options_for_select([["Cantidad disponible", "0"], ["Sumar a stock actual", "1"]]), {include_blank: "Seleccione...",class: 'form-control col-6'} %>
                </center>
              </li>
              <li>
                Descargue este archivo excel que posee el formato correcto con el que se debe trabajar.
                <center>
                  <%= link_to "#{icon('fas', 'download')} Descargar archivo formateado".html_safe, export_products_path(empty: true, format: :xlsx), class: 'btn btn-sm btn-seconday', data: {'skip-pjax': true} %>
                </center>
              </li>
              <li>
                Complete el archivo anterior con los productos ordenando cada columna como corresponda, siempre respetando los campos obligatorios (indicados con un asterisco "*" ).
              </li>
              <li>
                Por último, cargar el archivo a continuación, le avisaremos cuando la carga finalice.
              </li>
            </ol>
            <hr>
            <center>

              <%= file_field_tag :file , :class => 'btn btn-info', accept: ".csv, .xls, .xlsx" %>
            </center>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <%= save_button %>
        </div>
      <% end %>
    </div>
  </div>
</div>
