<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Ubicación</th>
      <th scope="col">Estado</th>
      <th scope="col">Cantidad</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.depot_name %></td>
        <td><%= stock.state %></td>
        <td><%= stock.quantity %></td>
        <td>
          <%# link_to icon('fas', 'eye'), depot_path(stock.depot.id), class: 'btn btn-sm btn-outline-secondary' %>
          <%= link_to icon('fas', 'edit'), edit_product_stock_path(@product.id, stock.id), class: 'btn btn-sm btn-outline-secondary', data:{toggle: 'modal', target: '#stockModal', remote: true} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @stocks %>
