<div class="p-4">
  <%= title_helper "Productos: Actualización Múltiple" %>

  <%= form_tag update_multiple_products_path, method: :put do %>
    <p class="text-muted">Productos seleccionados</p>
    <ul>
      <% @products.each do |product| %>
      <li>
        <%= hidden_field_tag "product_ids[]", product.id %>
        <%= product.name + " - " + product.category_name %>
      </li>
      <% end %>
    </ul>

    <% if @products.first.errors.any? %>
    <p class="text-muted">Errores al actualizar</p>
    <ul>
      <% @products.first.errors.full_messages.each do |msg| %>
      <li style="color:red"><%= msg %></li>
      <% end %>
    </ul>
    <% end %>


    <p class="text-muted">Elementos a actualizar</p>
    <div class="card">
      <div class="card-body">
        <%= fields_for :product do |f| %>
        <div class="form-row">
          <div class="form-group">
            <%= f.label :price_modification, "Precio final*" %>
            <%= f.text_field :price_modification, value: params[:price_modification], :class => 'form-control', step: '.01' %>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <%= f.label :active, "Activo?" %>
            <%= f.select :active, [["Sí", true], ["No", false]], { include_blank: true }, class: 'form-control' %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <center>
      <%= submit_tag "Guardar", class: 'btn btn-primary' %>
    </center>
  <% end %>
</div>
