<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @product.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @product.active %>
</p>

<p>
  <strong>Product category:</strong>
  <%= @product.product_category %>
</p>

<p>
  <strong>List price:</strong>
  <%= @product.list_price %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Net price:</strong>
  <%= @product.net_price %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @product.photo %>
</p>

<p>
  <strong>Measurement unit:</strong>
  <%= @product.measurement_unit %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
