<div class="p-4">
	<!-- TITULO -->
	<%= title_helper "#{@product.name}" %>
	<%= button_edit_helper(edit_product_path) %>
	<!-- TITULO -->

	<div class="card card-shadow mb-4" style="width:30%;margin:auto;">
    <img class="card-img-top" src="<%= @product.photo %>" alt="Añadir foto" id="image">
  </div>

	<div class="container-fluid">
	  <div class="row">

	    <div class="col-md-6">
	      <div class="card card-fluid card-shadow">
	        <ul class="list-group">
	          <li class="list-group-item d-flex justify-content-between lh-condensed">
	            <div>
	              <small class="my-0">
	                Nombre
	              </small>
	            </div>
	            <span><%= @product.name %></span>
	          </li>
						<li class="list-group-item d-flex justify-content-between lh-condensed">
	            <div>
	              <small class="my-0">
	                Unidad de medida
	              </small>
	            </div>
	            <span><%= Product::MEASUREMENT_UNITS[@product.measurement_unit] %></span>
	          </li>
						<li class="list-group-item d-flex justify-content-between lh-condensed">
	            <div>
	              <small class="my-0">
	                Categoría
	              </small>
	            </div>
	            <span><%= @product.category_name %></span>
	          </li>
						<li class="list-group-item d-flex justify-content-between lh-condensed">
	            <div>
	              <small class="my-0">
	                Código
	              </small>
	            </div>
	            <span><%= @product.code %></span>
	          </li>
						<li class="list-group-item d-flex justify-content-between lh-condensed">
	            <div>
	              <small class="my-0">
	                Stock
	              </small>
	            </div>
	            <span><%= @product.available_stock %></span>
	          </li>
					</ul>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-fluid card-shadow">
	        <ul class="list-group">
	          <li class="list-group-item d-flex justify-content-between lh-condensed">
	            <div>
	              <small class="my-0">
	                Precio de costo
	              </small>
	            </div>
	            <span>$<%= @product.cost_price %></span>
	          </li>
						<li class="list-group-item d-flex justify-content-between lh-condensed">
							<div>
								<small class="my-0">
									Ganancia
								</small>
							</div>
							<span><%= @product.gain_margin %>%</span>
						</li>
						<li class="list-group-item d-flex justify-content-between lh-condensed">
	            <div>
	              <small class="my-0">
	                Precio neto
	              </small>
	            </div>
	            <span>$<%= @product.net_price %></span>
	          </li>
						<li class="list-group-item d-flex justify-content-between lh-condensed">
	            <div>
	              <small class="my-0">
	                Alícuota IVA
	              </small>
	            </div>
	            <span><%= @product.iva %>%</span>
	          </li>
						<li class="list-group-item d-flex justify-content-between lh-condensed">
	            <div>
                Precio final
	            </div>
	            <span>$<%= @product.price %></span>
	          </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- DESCRIPCIÓN -->
	<!-- <div class="row">
      <div class="col-sm-12" style="margin-top: 30px;">
      	<h3>Stock </h3>
	    <div class="card">
        		<div class="card-body shadow" id="stock">
        			<%= render 'stock' %>
        		</div>
        	</div>
      </div>
	</div> -->
