<div class="table-responsive">
  <table class="table table-stripped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Documento</th>
        <th>Teléfono</th>
        <th>E-mail</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.name %></td>
        <td><%= supplier.full_document %></td>
        <td><%= supplier.phone %></td>
        <td><%= supplier.email %></td>
        <td class="text-right">
        <%= link_to icon('fas', 'edit'), edit_supplier_path(supplier), data: { toggle: 'modal', target: '#supplierModal'}, remote: true, class: 'btn btn-sm btn-icon btn-outline-secondary' if can? :update, Supplier %>
        <%= link_to icon('fas', 'trash'), supplier, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-sm btn-icon btn-outline-secondary' if can? :destroy, Supplier %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @suppliers %>
</div>
