<%= nested_form_for @receipt do |form| %>

  <%= error_explanation @receipt %>
  <div class="card shadow">
    <div class="card-body">
      <div class="row">
        <!-- PRIMERA COLUMNA -->
          <div class="col-sm">
            <div class="form-group">
              <%= form.label :date, "Fecha" %>
              <%= form.text_field :date, class: 'form-control datepicker', required: true, disabled: !@receipt.editable? %>
            </div>
            <div class="form-group">
              <%= form.label :sale_point_id, "Punto de venta" %>
              <%= form.select :sale_point_id, options_for_select(current_user.company.sale_points.map{|sp| [sp.name, sp.id]}, @receipt.sale_point_id), {}, {class: 'form-control', disabled: !@receipt.editable?} %>
            </div>
          </div>
        <!-- FIN PRIMERA COLUMNA-->

        <!-- SEGUNDA COLUMNA -->
          <div class="col-sm">
            <div id="client_form">
              <%= render 'client_column' %>
            </div>
            <%= form.hidden_field :client_id, value: @client.id %>
            <div class="form-group">
              <%= form.label :state, "Estado" %>
              <%= form.select :state, Receipt::STATES, {},{class: 'form-control', disabled: true}  %>
            </div>
          </div>
        <!-- SEGUNDA COLUMNA -->

        <!-- TERCERA COLUMNA -->
          <div class="col-sm">
            <div class="form-group">
              <%= form.label :cbte_tipo, "Tipo de recibo" %>
              <%= form.select :cbte_tipo, options_for_select([['Recibo X', '00'], ['Devolución','99']]),{prompt: "Seleccionar tipo de recibo"},{class: 'form-control', disabled: !@receipt.editable?} %>
            </div>
            <div class="form-group">
              <%= form.label :total, "Total ($)" %>
              <%= form.number_field :total, class: 'form-control', required: true, disabled: true %>
            </div>
          </div>
        <!-- TERCERA COLUMNA -->
      </div>

      <!-- CONCEPTO -->
      <div class="row">
        <div class="col">
          <div class="form-group">
            <%= form.label :concept, "Observación" %>
            <%= form.text_area :concept, class: 'form-control', rows: 2 , disabled: !@receipt.editable?%>
          </div>
        </div>
      </div>
      <!-- CONCEPTO -->
    </div>
  </div>


  <!-- FACTURAS ASOCIADAS -->

  <!-- numero fecha faltante pagado total a pagar -->

    <div class="card shadow">
      <div class="card-body">

        <h3 class="d-flex mb-2">
    	    <div class="p-2">
    	      	Facturas asociadas
    	    </div>
        </h3>

        <div class="row">
          <div class="table-responsive">
            <table class="table table-striped invoice-table" id="details">
              <thead>
                <tr>
                  <th width="35%" scope="col">Número</th>
                  <th width="15%" scope="col">Fecha</th>
                  <th width="15%" scope="col">Total</th>
                  <th width="15%" scope="col">Pagado</th>
                  <th width="15%" scope="col">Faltante</th>
                  <!-- <th scope="col">Total a pagar</th> -->
                  <th width="5%" scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <!-- @receipt.receipt_details.build unless !@receipt.receipt_details.empty? -->
                <% total_faltante = 0 %>
                <%= form.fields_for :receipt_details, wrapper: false do |f| %>
                  <tr class="fields" id="<%= f.index %>">
                    <!--<td>-->
                      <!-- <% if @receipt.editable? %>
                        <%# link_to icon('fas', 'search'), search_product_invoices_path(index_id: f.index), data:{toggle: 'modal', target:'#search_product_modal', remote: true}, class: 'input-group-text btn btn-secondary', min_length: 3 %>
                      <% else %> -->
                        
                      <!-- <% end %> -->
                    <!--</td>-->
                    <td>
                      <%= autocomplete_field_tag :comp_number, f.object.invoice.nil? ? nil : f.object.invoice.full_number, autocomplete_invoice_receipts_path, :fields => {:client_id => '#receipt_client_id'}, class: 'receipt_associated-invoice-autocomplete_field form-control form-control-sm comp_number' , required: true, disabled: !@receipt.editable? %>
                      <%= f.hidden_field :invoice_id, class: 'invoice_id' %>
                    </td>
                    <td>
                      <%= text_field_tag :invoice_created_at, f.object.invoice.nil? ? nil : I18n.l(f.object.invoice.updated_at, format: :only_date), style: "text-align: right;" , class: 'form-control form-control-sm invoice_created_at', data: {toggle:"tooltip"}, disabled: true %>
                    </td>
                    <td>
                      <%= text_field_tag :invoice_total, f.object.invoice.nil? ? nil : "$ " + f.object.invoice.total.to_s, style: "text-align: right;" ,  class: 'form-control form-control-sm invoice_total', data: {toggle:"tooltip"}, disabled: true %>
                    </td>
                    <td>
                      <%= text_field_tag :invoice_total_pay, f.object.invoice.nil? ? nil : "$ " + f.object.invoice.total_pay.to_s, style: "text-align: right;" , class: 'form-control form-control-sm invoice_total_pay', data: {toggle:"tooltip"}, disabled: true %>
                    </td>
                    <td>
                      <%= text_field_tag :invoice_total_left, f.object.invoice.nil? ? nil : "$ " + f.object.invoice.total_left.to_s, style: "text-align: right;" ,  class: 'form-control form-control-sm invoice_total_left', data: {toggle:"tooltip"}, disabled: true %>
                    </td>
                    <!-- <td>
                      <%# f.number_field :total, class: 'form-control form-control-sm total', data: {toggle:"tooltip"}, disabled: !@receipt.editable?, value: 0 %>
                    </td> -->
                    <td>
                    </td>
                    <% if @receipt.editable? %>
          						<td class="verical-align"><%= f.link_to_remove icon('fas', 'trash') %></td>
          					<% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div style="padding-left: 70% !important;">
          <%= label_tag :total_faltante, "Total faltante", id:'total_faltante' %>
        </div>
        <hr>
        <% if @receipt.editable? %>
        	<center>
        		<div class="m-2">
        			<%= form.link_to_add "#{icon('fas', 'plus')} <span class='only-desktop'>Agregar factura</span>".html_safe, :receipt_details, class: 'btn btn-success', data: {target: '#details'} %>
        		</div>
        	</center>
        <% end %>
      </div>
    </div>

  <!-- FACTURAS ASOCIADAS -->


  <!-- PAGOS -->
    <%= render template: '/receipts/payments/index.html.erb', locals:{form: form} %>
  <!-- PAGOS -->

  <% if @receipt.state == "Pendiente" %>
    <center> <%= button_tag "#{icon('fas', 'save')} Confirmar".html_safe, type: 'submit', class: 'btn btn-primary', id: 'confirm_btn', name: 'button', value: "confirm" %> </center>
  <% end %>




<% end %>

<div class="modal fade bd-example-modal-lg" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="client_modal">
      </div>
    </div>
  </div>
</div>
