<div class="table-responsive table-striped">
  <table class="table">
    <thead>
      <tr>
        <th>Número</th>
        <th>Fecha</th>
        <th>Tipo</th>
        <th>Comprobante asoc.</th>
        <th>Cliente</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @receipts.each do |receipt| %>
        <tr>
          <td><strong><%= receipt.number %></strong></td>
          <td><%= receipt.date %></td>
          <td><%= receipt.tipo %></td>
          <td><%= invoices_with_link(receipt) %></td>
          <td><%= link_to receipt.client.name, client_path(receipt.client_id) %></td>
          <td>$<%= receipt.total %></td>
          <td>
            <% if receipt.state == "Finalizado" %>
              <%= link_to icon('fas', 'eye').html_safe, receipt_path(receipt.id, format: :pdf), target: "_blank", class: 'btn btn-sm btn-icon btn-outline-secondary' %>
            <% end %>
            <% if receipt.editable? %>
              <%= link_to icon('fas', 'edit').html_safe, edit_receipt_path(receipt),class: 'btn btn-sm btn-icon btn-outline-secondary' %>
              <%= link_to icon('fas', 'trash').html_safe, receipt, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-icon btn-outline-secondary' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @receipts %>
