<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Total de productos</th>
      <th scope="col">Disponibles</th>
      <th scope="col">Reservados</th>
      <th scope="col">Ubicación</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @depots.each do |depot| %>
      <tr>
        <td><%= link_to depot.name, depot %></td>
        <td><%= depot.stock_total %></td>
        <td><%= depot.stock_available %></td>
        <td><%= depot.stock_reserved %></td>
        <td><%= depot.location %></td>
        <td class="td-action-buttons">
          <%= link_to icon('fas', 'edit'), edit_depot_path(depot.id), data: {remote: true, toggle: 'modal', target: '#depotModal'}, class: 'btn btn-sm btn-icon btn-outline-secondary' %>
          <%= link_to icon('fas', 'trash'), depot, method: :delete, data: {confirm: '¿Estás seguro?'}, class: 'btn btn-sm btn-icon btn-outline-secondary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @depots %>
