<%= form_with(model: depot, remote: true) do |form| %>

  <div class="modal-body">
    <div id="depot_errors"></div>

    <div class="form-group">
      <%= form.label :name, "Nombre"  %>
      <%= form.text_field :name, class: 'form-control form-control-sm', required: true %>
    </div>

    <div class="form-group">
      <%= form.label :location, "Ubicación"  %>
      <%= form.text_field :location, class: 'form-control form-control-sm', required: true %>
    </div>

    <div class="form-group">
      <%= form.label :stock_count, "Stock_count"  %>
      <%= form.number_field :stock_count, class: 'form-control form-control-sm', required: true %>
    </div>

    <div class="form-group">
      <%= form.label :stock_limit, "Stock_limit"  %>
      <%= form.number_field :stock_limit, class: 'form-control form-control-sm', required: true %>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    <%= save_button %>
  </div>
<% end %>
