<div class="p-4">
  <%= title_helper 'Depósitos' %>
  <%= button_new_modal_helper(new_depot_path, 'depotModal') %>

  <div class="page-section">
    <div class="card card-fluid">
      <div class="card-header">
        <%= form_tag depots_path, {class: 'form-inline', id: 'search_form'} do %>
          <%= label_tag :name, "Nombre", class: 'sr-only' %>
          <div class="input-group col">
            <div class="input-group-prepend">
              <div class="input-group-text"><%= icon('fas', 'user') %></div>
            </div>
            <%= text_field_tag :name, params[:name], class: 'form-control', placeholder: 'Buscar por nombre', onkeyup: 'remoteSubmit("#search_form")' %>
          </div>

          <%= label_tag :state, "Disponibilidad", class: 'sr-only' %>
          <%= label_tag :filled, "Disponibilidad", class: 'sr-only' %>
          <div class="input-group col">
            <div class="input-group-prepend">
              <div class="input-group-text"><%= icon('fas', 'file-invoice') %></div>
            </div>
            <%= select_tag :state, options_for_select([["Disponible"], ["Lleno"]]), {prompt: 'Buscar por disponibilidad...', class: 'form-control', onchange: 'remoteSubmit("#search_form")'} %>
            <%= select_tag :filled, options_for_select([["Disponible"], ["Lleno"]]), {prompt: 'Buscar por disponibilidad...', class: 'form-control', onchange: 'remoteSubmit("#search_form")'} %>
          </div>

          <%= button_tag "#{icon('fas', 'times-circle')} Filtros".html_safe, type: 'button', class: 'btn btn-dark clean-filter-button' %>
        <% end %>
      </div>

      <div id="depots_table" class="card-body">
        <%= render 'depots_table' %>
      </div>
    </div>
  </div>
</div>



<div class="modal fade bd-example-modal-lg" id="depotModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="depot_modal">
      </div>
    </div>
  </div>
</div>
