<div class="p-4">
	<%= title_helper("#{@depot.name}") %>

	<div class="page-section">
		<div class="card">
			<div class="card-header">
				<%= form_tag depot_path(@depot), {class: 'form-inline', id: 'search_form'} do %>
          <%= label_tag :product_name, "Producto", class: 'sr-only' %>
          <div class="input-group col">
            <div class="input-group-prepend">
              <div class="input-group-text"><%= icon('fas', 'user') %></div>
            </div>
            <%= text_field_tag :product_name, params[:product_name], class: 'form-control', placeholder: 'Buscar por nombre', onkeyup: 'remoteSubmit("#search_form")' %>
          </div>

          <%= label_tag :state, "Estado", class: 'sr-only' %>
          <div class="input-group col">
            <div class="input-group-prepend">
              <div class="input-group-text"><%= icon('fas', 'file-invoice') %></div>
            </div>
            <%= select_tag :state, options_for_select(Stock::STATES, params[:state]), {class: 'form-control', prompt: 'Buscar por estado', onchange: 'remoteSubmit("#search_form")'} %>
          </div>
        <% end %>
			</div>
			<div class="card-body">
				
				<div id="stock">
					<%= render 'stock' %>
				</div>

			</div>
		</div>
	</div>
</div>
