<h3 class="d-flex mb-2">
    <div class="p-2">
      	Conceptos
    </div>
    <div class="ml-auto p-2">
      	<% if @invoice.editable? %>
        	<%= form.link_to_add "#{icon('fas', 'plus')} <span class='only-desktop'>Agregar concepto</span>".html_safe, :invoice_details, class: 'btn btn-success', data: {target: '#details'} %>
      	<% end %>
    </div>
</h3>
<table class="table table-striped invoice-table table-responsive" id="details">
	<thead>
		<tr>
			<th colspan="2">Código</th>
			<th>Tipo</th>
			<th>Concepto</th>
			<th>Precio</th>
			<th class="only-desktop">Medida</th>
			<th class="only-desktop">Comisionante</th>
			<th>Cantidad</th>
			<th>I.V.A. (%)</th>
			<th class="only-desktop">Monto Bonificado</th>
			<th>Subtotal</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%= form.fields_for :invoice_details, wrapper: false do |f| %>
	    	<tr class="fields" id="<%= f.index %>">
	    		<%= f.fields_for :product, (f.object.build_product unless !f.object.product.nil?) do |pf| %>
		  			<td>
		  				<%= link_to icon('fas', 'search'), search_product_invoices_path(index_id: f.index), data:{toggle: 'modal', target:'#search_product_modal', remote: true}, class: 'btn btn-sm btn-secondary' %>
		  				<%= pf.hidden_field :id, class: 'product_id' %>
		  			</td>
		  			<td><%= pf.autocomplete_field :code, autocomplete_product_code_invoices_path, class: 'invoice-autocomplete_field form-control form-control-sm code' , required: true, disabled: !@invoice.editable? %></td>
					<td>
						<%= pf.select :tipo, ["Producto", "Servicio"], {}, {class: 'form-control form-control-sm tipo', style: 'width: 100px;', disabled: !@invoice.editable?} %>
					</td>
					<td>
						<%= pf.text_field :name, class: 'form-control name', data: {toggle:"tooltip"}, disabled: !@invoice.editable? %>
					</td>
					<td><%= pf.number_field :price, class: 'form-control form-control-sm price', disabled: !@invoice.editable? %></td>
					<td class="only-desktop"><%= pf.select :measurement_unit, Product::MEASUREMENT_UNITS.map{|k,v| [v, k]},{}, {class: 'form-control form-control-sm measurement_unit', disabled: !@invoice.editable?} %></td>
					<%= pf.hidden_field :company_id, value: current_user.company_id %>
				<% end %>
				<td class="only-desktop"><%= f.select :user_id, grouped_options_for_select(current_user.company.grouped_users_by_role), {include_blank: "Ninguno"}, {class: 'form-control form-control-sm', disabled: !@invoice.editable?} %></td>
				<td><%= f.number_field :quantity, class: 'form-control form-control-sm quantity', min: 0, disabled: !@invoice.editable? %></td>
				<td>
					<%= f.hidden_field :iva_amount, class: 'form-control form-control-sm iva_amount' %>
					<%= f.select :iva_aliquot, options_for_select(Afip::ALIC_IVA.map{|iva, id| [id, iva]}, f.object.default_iva), {}, {class: 'form-control iva_aliquot', style: 'width: 100px;', disabled: !@invoice.editable?} %>
				</td>
				<td class="only-desktop"><%= f.hidden_field :bonus_percentage, class: 'form-control form-control-sm bonus_percentage', min: 0, disabled: !@invoice.editable? %>
					<%= f.number_field :bonus_amount, class: 'form-control form-control-sm bonus_amount', min: 0, disabled: !@invoice.editable? %></td>

				<td><%= f.number_field :subtotal, class: 'form-control form-control-sm subtotal', readonly: true, disabled: !@invoice.editable? %></td>
				<% if @invoice.editable? %>
					<td class="verical-align"><%= f.link_to_remove icon('fas', 'trash') %></td>
				<% end %>
    		</tr>
	    <% end %>
	</tbody>
</table>