<table class="table table-striped" id="details">
	<thead>
		<tr>
			<th></th>
			<th scope="col">Código</th>
			<th scope="col">Producto/Servicio</th>
			<th scope="col">Precio unitario</th>
			<th scope="col">Medida</th>
			<th scope="col" style="width: 12%;">Comisionante</th>
			<th scope="col">Cantidad</th>
			<th style="display: <%= @invoice.cbte_tipo != '12' ? 'block' : 'none'%>;" scope="col">Alicuota I.V.A. (%)</th>
			<th scope="col">Monto Bonificado</th>
			<th scope="col">Subtotal</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		<%= form.fields_for :invoice_details, wrapper: false do |f| %>
	    	<tr class="fields" id="<%= f.index %>">
	    		<%= f.fields_for :product, (f.object.build_product unless !f.object.product.nil?) do |pf| %>
		  			<td>
		  				<%= link_to icon('fas', 'search'), search_product_invoices_path(index_id: f.index), data:{toggle: 'modal', target:'#search_product_modal', remote: true}, class: 'btn btn-secondary' %>
		  				<%= pf.hidden_field :id, class: 'product_id' %>
		  			</td>
		  			<td><%= pf.autocomplete_field :code, autocomplete_product_code_invoices_path, class: 'invoice-autocomplete_field form-control code' , required: true, disabled: !@invoice.editable? %></td>
					<td><%= pf.text_field :name, class: 'form-control name', data_toggle:"tooltip", title: "", disabled: !@invoice.editable? %></td>
					<td><%= pf.number_field :price, class: 'form-control price', disabled: !@invoice.editable? %></td>
					<td><%= pf.select :measurement_unit, Product::MEASUREMENT_UNITS.map{|k,v| [v, k]},{}, {class: 'form-control measurement_unit', disabled: !@invoice.editable?} %></td>
					<%= pf.hidden_field :company_id, value: current_user.company_id %>
				<% end %>
				<td><%= f.select :user_id, grouped_options_for_select(current_user.company.grouped_users_by_role), {include_blank: "Ninguno"}, {class: 'form-control', disabled: !@invoice.editable?} %></td>
				<td><%= f.number_field :quantity, class: 'form-control quantity', min: 0, disabled: !@invoice.editable? %></td>
				<% if @invoice.cbte_tipo == "12" %>
					<td>
						<%= f.hidden_field :iva_amount, value: 0.0 %>
						<%= f.hidden_field :iva_aliquot, value: "03" %>
					</td>
				<% else %>
					<td>
						<%= f.hidden_field :iva_amount, class: 'form-control iva_amount' %>
						<%= f.select :iva_aliquot, options_for_select(Afip::ALIC_IVA.map{|iva, id| [id, iva]}, f.object.default_iva), {}, {class: 'form-control iva_aliquot', disabled: !@invoice.editable?} %>
					</td>
				<% end %>
				<td><%= f.hidden_field :bonus_percentage, class: 'form-control bonus_percentage', min: 0, disabled: !@invoice.editable? %>
					<%= f.number_field :bonus_amount, class: 'form-control bonus_amount', min: 0, disabled: !@invoice.editable? %></td>

				<td><%= f.number_field :subtotal, class: 'form-control subtotal', readonly: true, disabled: !@invoice.editable? %></td>
				<% if @invoice.editable? %>
					<td class="verical-align"><%= f.link_to_remove icon('fas', 'trash') %></td>
				<% end %>
    		</tr>
	    <% end %>
	</tbody>
</table>