<div class="p-4">
  <%= title_helper 'Seleccione destinatarios' %>
</div>

<div id="form">
  <div class="page-section">
    <div class="card">
      <div class="card-body" id="clients_table">
        <%= render 'clients_table' %>
      </div>
    </div>
  </div>
</div>

<%= form_for @sended_advertisement do |form| %>

  <%= hidden_field_tag :emails %>
  <%= form.hidden_field :advertisement_id %>
  <center>
    <%= button_tag "#{icon('fas', 'envelope')} Enviar".html_safe, type: 'submit', class: 'btn btn-primary' %>
  </center>
<% end %>






<script>
var idsArray = [];

$(document).on('ready',function(){
 initialize();
})

$(document).on('pjax:complete', function() {
 initialize();
})


function initialize() {

}

$(document).on("change", "input", function(){
  if ($(this).is(":checked")) {
    idsArray.push($(this).val());
  } else {
    // idsArray.remove($(this).val());
    var index = idsArray.indexOf($(this).val());
    idsArray.splice(index, 1);
  }
  $("#emails").val(idsArray);
})

function sendByEmail() {

  // $.ajax({
  //   type: "Post",
  //   url: "<%= sended_advertisement_index_path %>",
  //   data: {data: idsArray, ad: "<%= @advertisement.id %>"},
  //   datatype :'html',    //give datatype here
  //   success: function(data){
  //     console.log("*************************************");
  //     console.log(data);
  //     $(document).html(data);   //provide target div id here
  //   }
  // });

  $.post("<%= sended_advertisement_index_path %>", {data: idsArray, ad: "<%= @advertisement.id %>"},null,"json").done(function(data){
    console.log("*************************************");
    console.log(data);
    // window.location.replace(data);
    // alert("asd");
    // $("body").html(data);
    if(data.redirectUrl) {
      alert('Only Numerical data allowed');
      window.location.href = data.redirectUrl;
    }
  });
}


</script>
