<div class="p-4">
  <%= title_helper 'Seleccione destinatarios' %>
</div>

<div id="form">
  <div class="page-section">
    <div class="card">
      <div class="card-body" id="clients_table">
        <%= render 'clients_table' %>
      </div>
    </div>
  </div>
</div>

<center>
  <%= button_tag "#{icon('fas', 'envelope')} Enviar".html_safe, type: 'button', onclick: 'sendByEmail()', class: 'btn btn-primary' %>
</center>

<script>
var idsArray = [];

$(document).on('ready',function(){
 initialize();
})

$(document).on('pjax:complete', function() {
 initialize();
})


function initialize() {

}

$(document).on("change", "input", function(){
  if ($(this).is(":checked")) {
    idsArray.push($(this).val());
  } else {
    // idsArray.remove($(this).val());
    var index = idsArray.indexOf($(this).val());
    idsArray.splice(index, 1);
  }
})

function sendByEmail() {
  $.post("<%= sended_advertisement_index_path %>", {data: idsArray, ad: "<%= @advertisement.id %>"}).done(function(data){
    console.log(data);
    $(document).html(data);
  });
}


</script>
