<% if not @services.empty? %>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Código</th>
					<th>Servicio</th>
					<th>Categoría</th>
					<th>Precio</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @services.each do |service| %>
					<tr>
						<td><%= service.code %></td>
						<td><%= service.name %></td>
						<td><%= service.category_name %></td>
						<td><%= service.price %></td>
						<td>
							<%= link_to icon('fas', 'edit').html_safe, edit_service_path(service.id), class: 'btn btn-sm btn-icon btn-outline-secondary' %>
							<%= link_to icon('fas', 'trash').html_safe, service , method: :delete,data: { confirm: '¿Está seguro?' }, class: 'btn btn-sm btn-icon btn-outline-secondary' %>
						</td>
						<!-- <td><%# button_tag icon('fas', 'check-square').html_safe, type: 'button', class: 'btn btn-sm btn-icon btn-outline-secondary', onclick: "setProduct(#{service.attributes.to_json}, #{params[:index_id]}, $(this).closest('tr').find('.depot').val())" %></td> -->
					</tr>
				<% end -%>
			</tbody>
		</table>
	</div>

<%= paginate @services %>

<% else %>
  <center><h1>Sin servicios para mostrar</h1></center>
<% end %>
