<!DOCTYPE html>
<html>
  <head>
    <title>Facturación Online</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <audio id="notification_sound" src="/sounds/new_notification.mp3" type="audio/mp3"></audio>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body>
    <%= render template: '/layouts/navbar.html.erb' %>
    <div id="main-content">
      <div id="sidebar-wrapper" class="navbar-expand-lg">
        <%= render template: '/layouts/navpills.html.erb' %>
      </div>
      <div id="<%= user_signed_in? ? 'yield-wrapper' : '' %>">
        <!-- HELPER NEDDED -->
          <p class="alert-lc alert-lc-success"><%= notice %></p>
          <p class="alert-lc alert-lc-danger"><%= alert %></p>
        <!-- HELPER NEDDED -->
        <div data-pjax-container>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
