<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

  <button type="button" class="navbar-toggler collapsed " data-toggle="collapse" data-target="#navbar" aria-expanded="false" onclick="toggleNav()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%= image_tag '/images/logo_blanco2.png', alt: "desideral.com - Sistema de facturación online", class: 'img-fluid', width: '175px;' %>

  <button type="button" class="navbar-toggler navbar-toggle-left collapsed" onclick="toggleSidebar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbar" class="collapse navbar-collapse" style="display:none !important">
    <div class="navbar-nav navbar-right">
      <% if user_signed_in? %>
      <li>
        Bienvenid@ <strong><%= current_user.email %></strong>
      </li>
      <li>
        <li class="dropdown">
          <a href="" id="navbarDropdownMenuMiCuenta" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mi cuenta</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuMiCuenta">
            <li>
              <%= link_to "Editar perfil", edit_user_registration_path %>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <%= link_to('Salir', destroy_user_session_path, :method => :delete) %>
            </li>
          </ul>
        </li>
      </li>
      <% else %>
      <li>
        <%= link_to("Registrarse", new_user_registration_path) %>
      </li>
      <li>
        <%= link_to("Ingresar", new_user_session_path) %>
      </li>
      <% end %>
    </div>
  </div>
</nav>
