<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="d-flex flex-grow-1">
      <% if user_signed_in? %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navpills">
            <span class="navbar-toggler-icon"></span>
        </button>
      <% end -%>
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand-two mx-auto d-inline-block" href="/">
             <%= image_tag '/images/logo_blanco1.png', alt: "desideral.com - Sistema de facturación online", width: '90px;' %>
        </a>
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap text-center">
            <% if user_signed_in? %>
              <%= subscribe_to "/facturacion/notifications/#{current_user.id}" %>
              <li class="nav-item">
                <a href="<%= notifications_path() %>" data-remote="true" id="notifications-link" class="nav-link m-2 menu-item">
                  <%= icon('fas', 'bell') %> <span class='badge notifications' id="span_notify"><%= current_user.count_notifications %></span>
                </a>
                <%= render '/notifications/notification-container' %>
              </li>
              <li class="nav-item dropdown">
                <a href="#" id="navbarDropdownMenuMiCuenta" role="button" class="dropdown-toggle nav-link m-2 menu-item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Mi cuenta</a>
                <div class="dropdown-menu text-center right-nav" aria-labelledby="navbarDropdownMenuMiCuenta">
                    <%= link_to "Editar perfil", edit_user_registration_path, class: 'dropdown-item' %>
                    <div class="dropdown-divider only-desktop"></div>
                    <%= link_to 'Salir', destroy_user_session_path, :method => :delete, class: 'dropdown-item' %>
                </div>
              </li>
            <% else %>
            <li class="nav-item">
              <%= link_to "Registrarse", new_user_registration_path, class:'nav-link m-2 menu-item' %>
            </li>
            <li class="nav-item">
              <%= link_to "Ingresar", new_user_session_path, class:'nav-link m-2 menu-item' %>
            </li>
            <% end %>
        </ul>
    </div>
</nav>
