<% if user_signed_in? %>
	<div class="sidebar-sticky">
		<ul class="nav flex-column shadow full_height ">
		  <li class="nav-item">
		    <%= link_to "#{icon('fas', 'home')} Inicio".html_safe, root_path, class: 'nav-link' %>
		  </li>
		  <li class="nav-item">
		  	<% if current_user.has_company? %>
		    	<%= link_to "#{icon('fas', 'building')} Compañía".html_safe, company_path(current_user.company_id), class: 'nav-link' %>
		    <% else %>
		    	<%= link_to "#{icon('fas', 'building')} Compañía".html_safe, new_company_path(), class: 'nav-link' %>
		    <% end %>
		  </li>
		  <li class="nav-item">
		    <%= link_to "#{icon('fas', 'users')} Personal".html_safe, users_path, class: 'nav-link' %>
		  </li>
		  <li class="nav-item">
		    <%= link_to "#{icon('fas', 'hand-holding-usd')} Ventas".html_safe, invoices_path, class: 'nav-link' %>
		  </li>
		  <li class="nav-item">
		    <%= link_to "#{icon('fas', 'briefcase')} Clientes".html_safe, clients_path, class: 'nav-link' %>
		  </li>
		  <li class="nav-item">
		    <%= link_to "#{icon('fas', 'cubes')} Productos".html_safe, products_path, class: 'nav-link' %>
		  </li>
		  <li class="nav-item">
		    <%= link_to "#{icon('fas', 'archive')} Depósitos".html_safe, depots_path, class: 'nav-link' %>
		  </li>
		  <li class="nav-item">
		    <%= link_to "#{icon('fas', 'plane')} Proveedores".html_safe, suppliers_path, class: 'nav-link' %>
		  </li>
		  <li class="nav-item dropdown">
		  	<%= link_to "#{icon('fas', 'shopping-cart')} Compras".html_safe, "#", role: 'button', class: 'nav-link dropdown-toggle', data:{ toggle:'dropdown' }, aria: {haspopup: true, expanded: 'false'} %>
		  	<div class="dropdown-menu">
		    	<%= link_to 'Solicitudes', purchase_orders_path, class: 'dropdown-item' %>
		    	<%= link_to 'Comprobantes', purchase_invoices_path, class: 'dropdown-item' %>
		    	<%= link_to "Remitos", arrival_notes_path, class: 'dropdown-item' %>
		    </div>
		  </li>
		  <li class="nav-item">
		    <%= link_to "#{icon('fas', 'book')} Libro I.V.A.".html_safe, iva_books_path, class: 'nav-link' %>
		  </li>
		</ul>
	</div>
<% end %>