<% if user_signed_in? %>
	<div class="sidebar sidebar-animate" id="navpills">
		<div class="mb-2">
			<div class="py-3">
				<div class="img-background img-background-rounded img-background-rounded-md" style="background-image: url('<%= current_company.logo %>')"></div>
			</div>
			<p class="text-bold text-regular mb-0">
				<%= current_company.name %>
			</p>
			<span class="badge badge-pill badge-success font-weight-regular">producción</span>
		</div>

		<div class="mt-4">
			<p class="text-muted mb-1"><small>MENU</small></p>
			<ul class="nav flex-column navpills">
		  	<li class="nav-item">
		    	<%= link_to "#{icon('fas', 'home')} <span class='nav-span'> Inicio</span>".html_safe, root_path, class: 'nav-link', title: 'Inicio' %>
		  	</li>

				<li class="nav-item">
					<%= link_to "#{icon('fas', 'users')} <span class='nav-span'> Personal</span>".html_safe, users_path, class: 'nav-link staff' %>
				</li>

		  	<li class="nav-item">
	  			<%= link_to "#{icon('fas', 'file-invoice-dollar')} <span class='nav-span'> Ventas</span>".html_safe, sales_home_index_path, class: 'nav-link sales' %>
				</li>

		  	<li class="nav-item">
	  			<%= link_to "#{icon('fas', 'shopping-cart')} <span class='nav-span'>Compras</span>".html_safe, purchases_home_index_path, class: 'nav-link purchases' %>
				</li>

				<li class="nav-item">
	  			<%= link_to "#{icon('fas', 'cubes')} <span class='nav-span'>Inventario</span>".html_safe, warehouses_home_index_path, class: 'nav-link warehouses' %>
				</li>

		  	<li class="nav-item">
					<%= link_to "#{icon('fas', 'book')} <span class='nav-span'> Contable</span>".html_safe, daily_cashes_path, class: 'nav-link accountant'%>
		  	</li>

				<li class="nav-item">
		    	<%= link_to "#{icon('fas', 'at')} <span class='nav-span'>Marketing</span>".html_safe, advertisements_path, class: 'nav-link advertisements' %>
		  	</li>
			</ul>
		</div>
		<div class="mt-4">
			<p class="text-muted mb-1"><small>CUENTA</small></p>
			<ul class="nav flex-column navpills">
		  	<li class="nav-item">
					<%= link_to "#{icon('fas', 'industry')} <span class='nav-span'> Empresa</span>".html_safe, company_path(current_company.id), class: 'nav-link companies', title: 'Mi empresa' %>
		  	</li>
		  	<li class="nav-item">
					<%= link_to "#{icon('fas', 'user-cog')} <span class='nav-span'> Mi perfil</span>".html_safe, edit_user_registration_path, class: 'nav-link sessions', title: 'Edita tu perfil' %>
		  	</li>
			</ul>
		</div>

		<div class="mt-4">
			<ul class="nav flex-column navpills">
		  	<li class="nav-item">
					<%= link_to "#{icon('fas', 'power-off')} <span class='nav-span'> Salir</span>".html_safe, destroy_user_session_path, :method => :delete, class: 'nav-link nav-link-danger', title: 'Cerrar sesión' %>
		  	</li>
			</ul>
		</div>
	</div>
<% end %>
