<% if user_signed_in? %>
	<div class="sidebar sidebar-animate">
		<ul class="nav flex-column">

		  	<li class="nav-item">
		    	<%= link_to "#{icon('fas', 'home')} <span class='only-desktop'>Inicio</span>".html_safe, root_path, class: 'nav-link', title: 'Inicio' %>
		  	</li>

		  	<li class="nav-item">
		  		<% if current_user.has_company? %>
		    		<%= link_to "#{icon('fas', 'building')} <span class='only-desktop'>Compañía</span>".html_safe, company_path(current_user.company_id), class: 'nav-link', title: 'Compañía' %>
		    	<% else %>
		    		<%= link_to "#{icon('fas', 'building')} <span class='only-desktop'>Compañía</span>".html_safe, new_company_path(), class: 'nav-link', title: 'Compañía' %>
		    	<% end %>
		  	</li>

			<li class="nav-item">
				<%= link_to "#{icon('fas', 'users')} <span class='only-desktop'> Personal</span>".html_safe, users_path, class: 'nav-link' %>
			</li>

		  	<li class="nav-item">
		    	<%= link_to "#{icon('fas', 'hand-holding-usd')} <span class='only-desktop'>Ventas</span>".html_safe, invoices_path, class: 'nav-link', title: 'Ventas' %>
		  	</li>

		  	<li class="nav-item dropdown">
    			<%= link_to "#{icon('fas', 'shopping-cart')} <span class='only-desktop'>Compras</span>".html_safe, "#", role: 'button', data:{toggle: 'dropdown'},aria:{haspopup: true, expanded: false}, class: 'nav-link dropdown-toggle' %>
   				<div class="dropdown-menu ml-4">
   					<%= link_to "#{icon('fas', 'shopping-cart')} <span class='only-desktop'>Ordenes de compra</span>".html_safe, purchase_orders_path, class: 'dropdown-item', title: "Ordenes de compra" %>
   					<%= link_to "#{icon('fas', 'file-alt')} <span class='only-desktop'>Remitos de compra</span>".html_safe, arrival_notes_path, class: 'dropdown-item', title: "Remitos" %>
					<%= link_to "#{icon('fas', 'file-invoice-dollar')} <span class='only-desktop'>Comprobantes</span>".html_safe, purchase_invoices_path, class: 'dropdown-item', title: "Compras" %>
				</div>
			</li>

		  	<li class="nav-item">
		    	<%= link_to "#{icon('fas', 'briefcase')} <span class='only-desktop'>Clientes</span>".html_safe, clients_path, class: 'nav-link', title: 'Clientes' %>
		  	</li>

		  	<li class="nav-item">
		    	<%= link_to "#{icon('fas', 'cubes')} <span class='only-desktop'>Productos</span>".html_safe, products_path, class: 'nav-link', title: 'Productos' %>
		  	</li>

		  	<li class="nav-item">
		    	<%= link_to "#{icon('fas', 'hands-helping')} <span class='only-desktop'>Servicios</span>".html_safe, services_path, class: 'nav-link', title: 'Servicios' %>
		  	</li>

		  	<li class="nav-item">
		    	<%= link_to "#{icon('fas', 'archive')} <span class='only-desktop'>Depósitos</span>".html_safe, depots_path, class: 'nav-link', title: 'Depósitos' %>
		  	</li>

		  	<li class="nav-item">
		  		<%= link_to "#{icon('fas', 'plane')} <span class='only-desktop'>Proveedores</span>".html_safe, suppliers_path, class: 'nav-link', title: "Proveedores" %>
		  	</li>

		  	<li class="nav-item">
		    	<%= link_to "#{icon('fas', 'book')} <span class='only-desktop'>Libro I.V.A.</span>".html_safe, iva_books_path, class: 'nav-link', title: 'Libro I.V.A.' %>
		  	</li>
		</ul>
	</div>
<% end %>
